.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.cards > ul > li {
    border: 1px solid var(--neutral-sand);
    background-color: var(--neutral-bone)
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

/* changes for news card */

.cards.newscard > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    grid-gap: 16px;
}

.cards.newscard .cards-card-body::before {
    font-size: var(--font-size-11);
    letter-spacing: 3.2px;
    content: "NEWS";
    padding-top: var(--spacer-element-10);
    font-family: var(--sans-serif-font-medium);
}

.cards.newscard > ul > li {
    border: 0;
    display: flex;

}

.cards.newscard .cards-card-body {
    width: auto;
}

.cards.newscard .cards-card-image {
    display: none;
}

.cards.newscard .cards-card-body>*:first-child {
    margin-top: 0;
}

.cards.newscard .cards-card-body h2 {
    padding-top: 25px;
}

.cards.newscard .cards-card-body a {
    font-family: var(--sans-serif-font-medium);
    font-size: var(--font-size-16);
    letter-spacing: .16px;
    line-height: 120%;
    border-bottom: 2px solid #90f;
    border-radius: 0;
    color: #90f;
    display: inline-block;
    background: none;
    text-align: left;
    padding-left: 0;
    text-decoration: none;
}

.cards.newscard .cards-card-body a::after {
    background-image: url('./../../icons/external-arrow-purple.svg');
    content: "";
    display: inline-block;
    height: 10px;
    margin-left: 8px;
    width: 10px;
    padding-right: 0;
}

@media (min-width: 768px) {
    .cards.newscard > ul > li {
        gap:32px;
        margin: 32px 0 ;
    }

    .cards.newscard .cards-card-image {
        line-height: 0;
        display: block;
    }

    .cards.newscard .cards-card-body > *:first-child {
        margin-top: 0;
    }

    .cards.newscard > ul > li img {
        border-radius: 0 90% 0 0;
        object-fit: cover;
        aspect-ratio: 1 / 1;
        height: 338px;
        width: 338px;
        max-width: 338px;
    }

    .cards.newscard .cards-card-body h2 {
        display: block;
        font-size: 32px;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-family: var(--serif-font);
        color: var(--neutral-carbon);
        line-height: 120%;
        font-style: normal;
        font-weight: 300;
        padding-top: 25px;
    }
}

@media (min-width: 1200px) {
    .cards.newscard > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        grid-gap: 16px;
    }

    .cards.newscard > ul > li {
        gap: var(--spacer-layout-06);
    }

    .cards.newscard .cards-card-body::before {
        font-size: var(--font-size-14);
    }

    .cards.newscard .cards-card-image {
        line-height: 0;
        display: block;
        aspect-ratio: 1 / 1;
    }

    .cards.newscard .cards-card-body > *:first-child {
        margin-top: 0;
    }

    .cards.newscard > ul > li img {
        height: 555px;
        width: 555px;
        max-width: 555px;
    }

    .cards.newscard .cards-card-body h2 {
        font-size: 45px;
    }
}
