.author-bio {
  font-family: var(--sans-serif-font-light);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-160);
  letter-spacing: var(--letter-spacing-1);
  color: var(--neutral-carbon);
  margin: var(--spacer-element-08) 0;
}

.author-bio .author-container {
  display: flex;
  align-items: flex-start;
}

.author-bio .author-container+.author-container {
  margin-top: var(--spacer-element-08);
}

.author-bio .author-name>span {
  display: block;
}

.author-bio img.author-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--neutral-sand);
  object-fit: cover;
  margin-right: var(--spacer-element-05);
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .author-bio {
    display: flex;
    align-items: flex-start;
    gap: var(--spacer-element-07);
    flex-shrink: 0;
  }

  .author-bio .author-container {
    flex-basis: calc((100% - var(--spacer-element-08)) / 2);
    flex-shrink: 0;
    min-width: 336px;
  }

  .author-bio .author-container+.author-container {
    margin-top: 0;
  }

  .author-bio .author-name {
    padding-right: var(--spacer-element-03);
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  main .author-bio {
    margin: var(--spacer-element-10) 0;
  }

  .author-bio .author-container {
    min-width: 360px;
  }

  .author-bio .author-name {
    padding-right: 0;
  }

  main .author-bio img.author-img {
    width: 64px;
    height: 64px;
    object-fit: cover;
  }
}