.columns > div {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacer-element-09);
}

.columns-container h2 {
    margin: var(--spacer-layout-03) auto;
    }

/* this is considered an eyebrow style */
.columns-container h4 {
    font-family: var(--sans-serif-font-medium);
    font-size: var(--font-size-11);
    letter-spacing: .2em;
    line-height: var(--line-height-120);
    color: var(--neutral-carbon);
    margin: var(--spacer-layout-03) auto;
}

.columns img {
    width: 100%;
}

.terms div {
    margin: var(--spacer-element-05) 0;
    }

main .section-top-grid > div > div {
    align-self: flex-start;
}

main .section-top-grid > div > div > h1 {
    padding: 0;
}

.terms, .terms p {
    font-size: var(--font-size-16);
    letter-spacing: .01em;
    line-height: var(--line-height-160);
    margin-top: 0;
    }

.terms div p:last-of-type {
    margin-bottom: 0;
    }

.terms > div:nth-child(1) > div:nth-child(2) > p:nth-child(1) > em > strong {
    color: var(--feedback-green);
    font-style: normal;
    padding-left: 30px;
    position: relative;
    }

.terms > div:nth-child(1) > div:nth-child(2) > p:nth-child(1) > em > strong::after {
    background-color: var(--feedback-green);
    border-radius: 50%;
    color: #fff;
    content: "✓";
    font-size: var(--font-size-12);
    height: calc(var(--font-size-12) * 1.5);
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: calc(var(--font-size-12) * 1.5);
    }

.teaser-list-manual .teaser-list div div {
    padding: var(--spacer-element-10) 0;
    border-bottom: 1px solid var(--neutral-sand);
}

main .section-top-grid > div:nth-of-type(1) > div:nth-of-type(2) {
    margin-left: 230px;
    margin-top: var(--spacer-layout-01);
}

main .section-top-grid > div:nth-of-type(2) > div:nth-of-type(2) {
    margin-left: var(--spacer-element-09);
}

main .section-top-grid > div > div:nth-child(odd) img {
    border-radius: 90% 0 0;
    width: 230px;
    height: 230px;
}

main .section-top-grid > div > div:nth-child(even) img {
    border-radius: 0 90% 0 0;
    width: 98px;
    height: 95px;
    max-width: 98px;
}

main .section-bottom .columns-2-cols > div > :nth-child(2) {
    margin: 0 0 0 40px;
}

main .section-bottom .columns-2-cols > div > :nth-child(2) h1 {
    font-family: var(--serif-font);
    margin: 40px 0 0;
    font-size: 90px;
    -webkit-text-fill-color: transparent;
    background: var(--gradient-diagonal-up);
    background-clip: text;
    -webkit-background-clip: text; /* stylelint-disable-line */
    border-image-slice: 1;
    border-image-source: var(--gradient-diagonal-up);
    border-top: 1px solid var(--neutral-sand);
}

main .section-bottom .columns-2-cols > div > :nth-child(2) p:nth-of-type(1) {
    font-family: var(--sans-serif-font-medium);
    font-size: var(--font-size-11);
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

main .section-bottom .columns-2-cols > div > :nth-child(2) p:nth-of-type(2),
main .section-bottom .columns-2-cols > div > :nth-child(2) p:nth-of-type(3) {
    font-family: var(--sans-serif-font-regular);
    font-size: var(--font-size-16);
    line-height: 160%;
    letter-spacing: 0.01em;
    margin: 0;
}

.section-top.columns-container {
    background-size: 1400px 150%;
    background-position: 0 0, 50% 0, 0 0, 0 0;
    background-image: linear-gradient(0deg, var(--neutral-bone) 60%, rgb(250 248 246 / 0%) 100%),
    radial-gradient(50% 50% at 50% 50%, var(--neutral-white) 0%, var(--neutral-white) 100%, var(--neutral-bone));
}

.section-bottom.columns-container {
    background-size: 1900px 239%;
    background-position: 50% -72%, 50% 0, 0 0, 0 0;
    background-image: linear-gradient(180deg, var(--neutral-bone) 40%, rgb(255 255 255 / 0%) 100%),
    radial-gradient(50% 40% at 50% 0%, var(--neutral-bone) 0%, var(--neutral-bone) 100%, var(--neutral-white));
    padding-bottom: 140px;
}

.teaser-list-manual picture, .teaser-list-manual p > picture {
    display: none;
}

.section-bottom-grid p picture {
    display: block;
    border-image-slice: 1;
    border-image-source: var(--gradient-diagonal-up);
    border-bottom: 1px solid var(--neutral-sand);
}

.section-bottom .columns-2-cols > div > :nth-child(1) {
    flex: 1 1 40%;
}

.section-bottom .columns-2-cols > div > :nth-child(2) {
    flex: 1 1 40%;
}

.section-bottom .columns-2-cols {
    padding: 0;
}

.content-band.icon-list h4 {
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-1);
    margin: var(--spacer-layout-02) auto;
    }


.columns.picture-circle h2 {
    margin: 20px 0;
}

/* teaser-list-manual */
.teaser-list-manual.columns-container {
    background-color: var(--neutral-white);
    margin-bottom: 0;
}

.teaser-list-manual h6 {
    font-size: var(--font-size-18);
    letter-spacing: .16px;
}

.teaser-list-manual .teaser-list div:last-child div:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.teaser-list-manual .teaser-list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.teaser-list-manual .teaser-list .button-container {
    margin: 0;
}


@media (min-width: 768px) {
    .columns > div {
        display: flex;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: var(--spacer-layout-04);
    }

    .columns.section-bottom-grid div {
        padding-bottom: var(--spacer-element-04);
    }

    .columns.teaser-list > div {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .terms > div > div:nth-of-type(even) {
        flex: 2;
        margin-left: var(--spacer-layout-04);
        }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }

    main .section-bottom .columns-2-cols > div {
        flex-flow: row nowrap;
        gap: 84px;
    }

    .columns.teaser-list > div > div {
        margin-left: 0;
    }

    .section-top-grid > div:nth-child(1) > div:nth-child(1) {
        padding-right: var(--spacer-element-09);
        width: 432px;
        flex: unset;
    }

    main .section-top-grid > div:nth-of-type(1) > div:nth-of-type(2) {
        align-self: flex-end;
        margin-left: 0;
    }

    main .section-top-grid > div:nth-of-type(2) > div:nth-of-type(2) {
        margin-left: var(--spacer-element-07);
    }

    main .section-top-grid > div > div:nth-child(odd) img {
        width: 432px;
        max-width: 432px;
        height: 411px;
    }

    main .section-top-grid > div > div:nth-child(even) img {
        width: 139px;
        height: 135px;
        max-width: 139px;
    }

    .section-top.columns-container {
        background-size: 1700px 150%;
    }

    .columns.section-bottom-grid > div > div > p {
        font-size: var(--font-size-16);
    }

    /* teaser-list-manual min 768 */
    .teaser-list-manual picture, .teaser-list-manual p > picture {
        display: unset;
    }

    .section.teaser-list-manual { /* needs specificity here  */
        padding: var(--spacer-layout-06) 0;
        display: flex;
        margin: 0 auto;
        width: var(--section-width-tablet-small);
        gap: var(--spacer-element-10);
        flex-flow: row nowrap;
    }

    .teaser-list-manual > .default-content-wrapper {
        width: 45%;
    }
}

@media (min-width: 1200px) {
    .terms div {
        margin: var(--spacer-element-06) 0;
        }

    .section-top-grid > div:nth-child(1) > div:nth-child(1) {
        padding-right: var(--spacer-layout-06);
        width: 616px;
    }

    main .section-bottom .columns-2-cols > div > :nth-child(2) h1 {
        font-family: var(--serif-font);
        margin: 40px 0 0;
        font-size: 128px;
    }

    .section-top-grid > div:nth-child(1) > div:nth-child(1), p, .article-content-wrapper ul {
        font-family: var(--sans-serif-font-light);
        font-size: var(--font-size-21);
        font-weight: var(--font-weight-light);
        line-height: var(--line-height-160);
        letter-spacing: var(--letter-spacing-1);
        }

    .teaser-list-manual p {
        font-size: var(--font-size-16);
        }

    .columns-container .default-content-wrapper > h2,
    .columns-container .default-content-wrapper > p {
        max-width: 720px;
        margin: 0 0 var(--spacer-element-07);
        }

    .columns-container h4 {
        font-size: var(--font-size-14);
        margin-bottom: var(--spacer-element-08);
        }

    main .section-top-grid > div:nth-of-type(2) > div:nth-of-type(2) > h1,
    main .section-top-grid > div:nth-of-type(2) > div:nth-of-type(2) > p {
        margin-left: var(--spacer-element-09);
    }

    main .section-bottom .columns-2-cols > div > :nth-child(2) p:nth-of-type(1) {
        font-size: var(--font-size-14);
    }

    main .section-top-grid > div:nth-of-type(2) > div:nth-of-type(2) {
        margin-left: var(--spacer-element-07);
        padding-top: var(--spacer-element-09);
    }

    .columns.section-top-grid > div:nth-child(2) > div:nth-child(1) {
        min-width: 620px
    }

    main .section-top-grid > div > div:nth-child(odd) img {
        width: 616px;
        height: 616px;
        max-width: 616px;
    }

    main .section-top-grid > div > div:nth-child(even) img {
        width: 262px;
        height: 254px;
        max-width: 262px;
    }

    .section-top.columns-container {
        background-size: 2600px 150%;
        padding-bottom: var(--spacer-element-10);
    }

    .section-bottom.columns-container {
        background-size: 2600px 239%;
        padding-top: var(--spacer-layout-06);
    }

    .section-bottom .columns-2-cols {
        padding: 96px 0;
    }

    /* teaser-list-manual min 1200 */
    .teaser-list-manual .teaser-list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .teaser-list-manual .teaser-list .button-container {
        margin-bottom: 25px;
        }

    .teaser-list-manual .teaser-list > div:nth-child(odd) > div > * {
        margin-right: 50px;
    }

    .teaser-list-manual .teaser-list > div:nth-child(even) > div > * {
        margin-left: 50px;
    }

    .teaser-list-manual .teaser-list div:last-child div:last-child {
        border-bottom: 1px solid var(--neutral-sand);
    }

    .teaser-list-manual h4 {
        font-size: var(--font-size-14);
    }

    .section.teaser-list-manual {
        width: var(--section-width-desktop);
        gap: 140px;
        padding: var(--spacer-layout-07) 0;
    }

    .teaser-list-manual h6 {
        font-size: var(--font-size-21);
        line-height: 156%;
    }
}
