/* Section - Linkable cards */
main .section.accordion-container > .accordion-wrapper {
  padding-top: 0;
  padding-bottom: var(--spacer-layout-06);
}

main .section.accordion-container > .default-content-wrapper h2,
main .section.accordion-container > .default-content-wrapper h3,
main .section.accordion-container > .default-content-wrapper p {
  max-width: var(--text-max-container);
  margin: 0;
}

main .section.accordion-container > .default-content-wrapper h2,
main .section.accordion-container > .default-content-wrapper h3 {
  font-size: var(--font-size-28);
  font-family: var(--serif-font);
  font-style: normal;
  font-weight: 300;
}

main .section.accordion-container > .default-content-wrapper p {
  font-size: var(--font-size-16);
  margin-top: var(--spacer-element-08);
}

main .section.accordion-container blockquote {
  margin: 0;
}

/* Block - Accordion */
.accordion {
  padding: 0;
  margin-top: var(--spacer-element-10);
}

.accordion .accordion-item {
  position: relative;
  cursor: pointer;
  letter-spacing: var(--letter-spacing-001-em);
  line-height: var(--line-height-160);
  font-weight: 400;
  padding: var(--spacer-element-07) 0 var(--spacer-element-07) 0 !important;
  margin: 0;
}

.accordion .accordion-item::before,
.accordion .accordion-item:last-child::after {
  content: "";
  z-index: 1;
  background-color: var(--neutral-sand);
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  height: 1px;
  transition: all .5s ease-out;
}

.accordion .accordion-item::before {
  background-color: transparent;
  top: 0;
}

.accordion .accordion-item:last-child::after {
  bottom: 0;
  top: inherit;
}

/* stylelint-disable no-descending-specificity */
.accordion .accordion-item p {
  margin: 0 0 var(--spacer-element-07) 0;
  font-size: var(--font-size-16);
  letter-spacing: var(--letter-spacing-001-em);
  line-height: var(--line-height-160);
  font-weight: 300;
}
/* stylelint-enable no-descending-specificity */

.accordion .accordion-item-content {
  max-height: 0;
  transition: all .5s ease-out;
  overflow: hidden;
}

.accordion .accordion-item-header {
  position: relative;
  font-family: var(--sans-serif-font-regular);
  font-size: var(--font-size-16);
  display: flex;
  justify-content: space-between;
}

.accordion .accordion-item-open .accordion-item-content {
  margin: var(--spacer-element-06) 0;
}

.accordion .accordion-item.accordion-item-open::before {
  background-image: var(--gradient-left-right);
  height: var(--spacer-element-02);
}

.accordion .accordion-arrow-down {
  display: block;
  width: 32px;
  height: 19px;
  transition: all .5s ease-out;
  background: url('../../icons/caret-down-accordion-purple.svg') no-repeat center/contain;
}

.accordion .accordion-item-open .accordion-arrow-down {
  transform: rotate(180deg);
  top: calc(50% - var(--spacer-element-03));
}

/* Section Theme - Linkable cards */
.section[data-theme="purple"] .accordion .accordion-arrow-down,
.section[data-theme="purple-140"] .accordion .accordion-arrow-down,
.section[data-theme="carbon"] .accordion .accordion-arrow-down {
  background: url('../../icons/caret-down-accordion-white.svg') no-repeat center/contain;
}

.section[data-theme] .accordion .accordion-item::before,
.section[data-theme] .accordion .accordion-item:last-child::after {
  background-color: var(--theme-border-color);
}

/** Desktop **/
@media (min-width: 1200px) {
  /* Section - Linkable cards */
  main .section.accordion-container > .accordion-wrapper {
    padding-bottom: var(--spacer-layout-07);
  }

  main .section.accordion-container > .default-content-wrapper h2,
  main .section.accordion-container > .default-content-wrapper h3 {
    font-size: var(--font-size-32);
  }

  /* Block - Accordion */
  .accordion {
    margin-right: 288px;
  }
}
