
/* Linkable cards container styles */
.linkable-cards-container {
  background: #7e00d3;
  color: var(--neutral-white);
  padding-bottom: 60px;
}

/* this is considered an eyebrow style */
.linkable-cards-container h4 {
  font-family: var(--sans-serif-font-medium);
  font-size: var(--font-size-11);
  letter-spacing: .2em;
  line-height: var(--line-height-120);
  color: var(--neutral-white);
  margin: var(--spacer-layout-03) auto;
}

.linkable-cards-container p {
  font-size: var(--font-size-16);
}

.linkable-cards-container.related-resources-container h4 {
  color: var(--neutral-carbon);
}

.neutral-bone-style .linkable-cards-container {
  background-color: var(--neutral-bone);
}

/* Linkable cards block */
.linkable-cards {
  display: flex;
  flex-direction: unset;
  overflow: auto;
  gap: 24px;
  margin-top: 40px;
}

.linkable-cards > div {
  flex: 1;
  background: var(--neutral-bone);
  border-radius: 10px;
  min-height: 435px;
  min-width: 255px;
  max-width: 255px;
  margin: 0 var(--spacer-element-02) var(--spacer-element-06);
  position: relative;
}

.linkable-cards > div::after {
  content: "";
    display: inline-block;
    height: 55px;
    right: 20px;
    bottom: 20px;
    position: absolute;
    width: 55px;
    background: url("../../icons/download-arrow-purple.svg") no-repeat center;
    border: 2px solid var(--primary-purple);
    border-radius: 50%;
}

.linkable-cards > div:hover {
  transition: all .2s ease-out;
  box-shadow: 2px 4px 4px 2px rgb(0 0 0 / 15%);
}

.section .linkable-cards > div:hover::after {
  cursor: pointer;
  transition: all .2s ease-out;
  background: url("../../icons/download-arrow-white.svg") no-repeat center, var(--gradient-left-right);
}

.linkable-cards.neutral-bone-style > div {
  background-color: var(--neutral-bone);
  color: var(--neutral-carbon);
}

.linkable-cards > div > a {
  margin: var(--spacer-element-10) var(--spacer-element-06);
  display: block;
  text-decoration: none;
}

/* Fix greedy styles above */
.linkable-cards.neutral-bone-style h4,
.linkable-cards > div a {
  color: var(--neutral-carbon);
}

/* if we make all eyebrows h4 then we don't need this */
.linkable-cards a:nth-child(1) > p:first-child {
  font-family: var(--sans-serif-font-medium);
  font-size: var(--font-size-11);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-02-em);
  line-height: var(--line-height-120);
  margin: 0;
}

.linkable-cards a:nth-child(1) > h3 {
  margin: var(--spacer-element-06) 0 var(--spacer-element-07);
}

.linkable-cards.lc-static-style {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .linkable-cards > div {
    min-height: 405px;
    min-width: 315px;
    max-width: 315px;
    }
  }
  @media (min-width: 1200px) {
    .linkable-cards > div {
      min-height: 445px;
      min-width: 335px;
      max-width: 335px;
      }
  }
