.section.what-we-do.teaser-list-container {
  gap: 0;
  flex-direction: column;
}

.section.what-we-do > .default-content-wrapper {
  padding-top: var(--spacer-element-06);
}

.section.solutions > .default-content-wrapper {
  padding-top: var(--spacer-layout-06);
}

.section.what-we-do > .default-content-wrapper > h2 {
  margin: var(--spacer-element-06) 0 0;
  width: 85%;
}

.teaser-list .teaser-card p {
  font-size: var(--font-size-16);
  letter-spacing: 0.01em;
  margin: var(--spacer-element-07) 0;
  line-height: var(--line-height-160);
}

.section.what-we-do.teaser-list-container > .default-content-wrapper > p {
  display: none;
}

.teaser-list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.teaser-list .teaser-card {
  width: 100%;
  margin: 0 auto;
  padding: var(--spacer-element-10) 0;
  border-bottom: 1px solid var(--neutral-sand);
}

.teaser-list .teaser-card:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.teaser-list .teaser-list-block {
  min-height: 727px;
}

.teaser-list h3 {
  font-family: var(--sans-serif-font-medium);
  font-size: var(--font-size-18);
  line-height: 160%;
  letter-spacing: .16px;
  margin: 0;
}

.teaser-list .teaser-card .teaser-link {
  display: inline-block;
  text-decoration: none;
  font-family: var(--sans-serif-font-medium);
  font-size: var(--font-size-16);
  letter-spacing: .16px;
  height: 20px;
  border-bottom: 2px solid var(--primary-purple);
  color: var(--primary-purple);
}

.teaser-list .teaser-card .teaser-link:hover {
  background: var(--gradient-left-right);
  background-clip: text;
  -webkit-background-clip: text; /* stylelint-disable-line */
  -webkit-text-fill-color: transparent;
  color: transparent;
  border-image-slice: 1;
  border-image-source: var(--gradient-left-right);
}

@media only screen and (min-width: 768px) {
  .section.what-we-do.solutions.teaser-list-container {
    padding-top: var(--spacer-layout-04);
  }

  .section.what-we-do > .default-content-wrapper {
    padding-top: var(--spacer-element-10);
  }

  .teaser-list-container h4 {
    margin: var(--spacer-layout-03) auto;
  }

  .section.what-we-do.teaser-list-container > .default-content-wrapper > p {
    display: block;
  }

  .section.what-we-do.teaser-list-container > .default-content-wrapper > p.only-picture {
    margin: 0;
  }

  .section.what-we-do.teaser-list-container {
    display: flex;
    padding: calc(var(--spacer-layout-06) - var(--spacer-layout-04)) 0 var(--spacer-layout-06) 0; /* 96px - 48px top padding */
    margin: 0 auto;
    width: calc(100% - 72px);
    gap: var(--gap-24);
    flex-flow: row nowrap;
  }

  .section.what-we-do.teaser-list-container > .default-content-wrapper {
    width: 40%;
  }

  .section.what-we-do.teaser-list-container > .default-content-wrapper img {
    width: 163px;
    margin-top: var(--spacer-layout-05);
  }

  .section.what-we-do.teaser-list-container > .teaser-list-wrapper {
    width: 60%;
  }

  .teaser-list .teaser-card {
    min-height: 200px;
  }

  .teaser-list .teaser-list-block {
    min-height: 727px;
  }
}

@media only screen and (min-width: 1200px) {
  .teaser-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
  }

  .teaser-list .teaser-card h3 {
    font-size: var(--font-size-21);
  }

  .teaser-list .teaser-card:nth-child(even) > *,
  .teaser-list .teaser-card:nth-child(even) > p {
    margin-left: 60px;
  }
  
  .teaser-list .teaser-card:nth-child(odd) > *,
  .teaser-list .teaser-card:nth-child(odd) > p {
    margin-right: 60px;
  }

  /* no border on last row of cards */
  .teaser-list .teaser-card:nth-child(2n + 1):nth-last-child(-n + 2),
  .teaser-list .teaser-card:nth-child(2n + 1):nth-child(2n + 1):nth-last-child(-n + 2) ~ .teaser-card {
    border-bottom: none;
  }

  .section.what-we-do.teaser-list-container > .default-content-wrapper {
    width: 360px;
  }

  .section.what-we-do > .default-content-wrapper > h2 {
    margin: var(--spacer-element-07) auto var(--spacer-layout-06);
    width: 100%;
  }

  .teaser-list-container h4 {
    font-size: var(--font-size-14);
  }

  .section.what-we-do .teaser-list-wrapper {
    padding-bottom: 0;
  }

  .section.what-we-do.teaser-list-container {
    width: var(--section-width-desktop);
    padding: calc(var(--spacer-layout-07) - var(--spacer-layout-04)) 0 var(--spacer-layout-07) 0; /* 160px - 48px top padding */
    gap: var(--gap-120);
  }

  .section.what-we-do.solutions.teaser-list-container {
    padding-top: var(--spacer-layout-06);
  }

  .section.what-we-do.teaser-list-container > .default-content-wrapper img {
    width: 264px;
  }

  .section.what-we-do.teaser-list-container > .teaser-list-wrapper {
    width: 648px;
  }
}
