/* Mobile styles and defaults */
.blog-home-container {
    padding: var(--spacer-layout-05) var(--spacer-layout-02);
}

.blog-home-container h2 {
    font-family: var(--sans-serif-font-regular);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-14);
    line-height: var(--line-height-120);
    color: var(--primary-black);
    letter-spacing: var(--letter-spacing-02-em);
    text-transform: uppercase;
}

.blog-home h4, h5 {
    margin: unset;
}

.blog-home[data-block-status="loaded"] > div.blog-content > div.blog-cards {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    padding-top: var(--spacer-layout-04);
    gap: var(--spacer-layout-03);
    font-family: var(--sans-serif-font-regular);
    font-style: normal;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-16);
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-001-em);
    color: var(--neutral-carbon);
}

.blog-home[data-block-status="loaded"] a {
    text-decoration: none;
}

.blog-home > div.blog-content > .blog-cards > .blog-card {
    position: relative;
    background: var(--neutral-bone);
    height: 100%;
}

.blog-home > div.blog-content > div.blog-cards > .blog-card[aria-hidden="true"] {
    display: none;
}

.blog-home > div.blog-content > .blog-cards > div:hover {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 20px 40px -14px rgb(0 0 0 / 25%);
}

.blog-home > div.blog-content > .blog-cards > div:hover a {
    color: var(--primary-purple);
    text-decoration-line: underline;
}

.blog-home > div.blog-content > div.blog-cards > div.blog-card > div.card-image,
.blog-home > div.blog-content > div.blog-cards > div.blog-card:hover > div.card-image {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    aspect-ratio: 3 / 2;
    height: auto;
    width: 100%;
}

.blog-home > div.blog-content > div.blog-cards > div.blog-card:hover > div.card-image > picture > img {
    transition: all .3s ease-in-out;
    transform: scale(1.05);
}

.blog-home a.blog-link {
    text-decoration: none;
    font-weight: 400;
    color: inherit;
}

.blog-home > div.blog-content > div.blog-cards > .blog-card > .card-content {
    padding: var(--spacer-element-08) var(--spacer-element-07);
}

.blog-home > div.blog-content > div.blog-cards > .blog-card > .card-content > .blog-author {
    font-size: 12px;
}

.blog-home > div.blog-content > div.blog-cards > .blog-card > .card-content > .blog-category:not(:empty) {
    font-size: 14px;
    letter-spacing: .16px;
    background-color: #fff;
    opacity: 0.85;
    border-radius: 100px;
    left: var(--spacer-element-05);
    padding: var(--spacer-element-02) var(--spacer-element-05);
    position: absolute;
    top: var(--spacer-element-07);
}

/* Filters */

/* Mobile/Tablet filter functionality */
.blog-home > .filters > div:not(:first-of-type) {
    display: none;
}

/* Filter items */
.blog-home > .filters > div:not(:first-of-type) {
    border-bottom: 1px solid var(--neutral-sand);
    padding-bottom: var(--spacer-element-07);
}

.blog-home > div.filters p.list-title,
.blog-home > div.filters p.category-title {
    font-family: var(--sans-serif-font-regular);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-14);
    line-height: var(--line-height-120);
    color: var(--neutral-carbon);
    letter-spacing: var(--letter-spacing-02-em);
    text-transform: uppercase;
    padding-bottom: var(--spacer-element-07);
}

.blog-home > div.filters p.list-title {
    position: relative;
    justify-content: center;
}

.blog-home > div.filters > div > p.list-title::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    right: var(--spacer-element-02);
    background: url('../../icons/arrow-down-black.svg') no-repeat;
    transform: rotate(180deg);
}

.blog-home > div.filters label {
    padding-left: var(--spacer-element-04);
    font-weight: var(--font-weight-light);        
}

.blog-home > .filters label,
.blog-home > .filters a.category-link,
.blog-home .selected-filters .selectedValue {
    font-weight: 300;
    font-size: var(--font-size-16);
    line-height: var(--line-height-160);
    color: var(--neutral-carbon);
    letter-spacing: var(--letter-spacing-001-em);
}

.blog-home > .filters a.category-link {
    display: block;
    padding-bottom: 8px;
}

.blog-home > .filters > .mobile-filters,
.blog-home > .filters a.category-link.active {
    font-family: var(--sans-serif-font-semibold);
    padding-left: var(--spacer-layout-01);
    border: solid 1px;
    border-image: var(--gradient-horizontal-down) 0 1;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    padding-bottom: unset;
    font-weight: 500;
}

.blog-home > div.filters > div > div {
    display:flex;
    align-items:center;   
    padding-bottom: 8px;
}

.blog-home > div.filters > div[aria-expanded = "false"] > div {
    display: none;
}

.blog-home > div.filters > div[aria-expanded = "false"] > p.list-title::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    right: var(--spacer-element-02);
    background: url('../../icons/arrow-down-black.svg') no-repeat;
    transform: unset;
}

.blog-home > div.filters input {
    border: 1px solid #20201f;
    border-radius: 1px;
    height: 16.5px;
    width: 16.5px;
} 

.blog-home > div.filters input:checked {
    border: 1px solid #20201f;
} 

/* Selected filters */
.blog-home .selected-filters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

.blog-home .selected-filters-title {
    font-weight: 500;
    font-size: 21;
    line-height: var(--line-height-160);
    color: var(--neutral-carbon);
    letter-spacing: var(--letter-spacing-001-em);
}

.blog-home .selected-filters .selectedValue:not(:empty) {
    position: relative;
    padding: 4px 24px 4px 16px;
    border: 1px solid var(--neutral-sand);
    border-radius: 100px;
}

.blog-home .selected-filters .selectedValue:not(:empty)::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 25%;
    right: var(--spacer-element-02);
    background: url('../../icons/x.svg') no-repeat;
    background-size: cover;
}

/* Tablet small and large styles */
@media only screen and (min-width: 576px) {
    .blog-home-container {
        padding: var(--spacer-layout-05) var(--spacer-layout-036);
    }

    .blog-home[data-block-status="loaded"] > div.blog-content > div.blog-cards  {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacer-element-10) var(--spacer-element-07);
    }
}

/* Desktop styles */
@media only screen and (min-width: 1440px) {
    .blog-home-container {
        padding: var(--spacer-layout-06) var(--spacer-layout-07);
    }

    .blog-home[data-block-status="loaded"] {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: var(--spacer-layout-04);
    }

    .blog-home > .filters {
        width: 264px;
    }

    .blog-home > .filters > div {
        display: flex;
        flex-direction: column;
    }

    .blog-home > .filters > div:not(:first-of-type) {
        display: block;
    }
    
    .blog-home > .filters > .mobile-filters {
        display: none;
    }

    .blog-home > .filters > div:last-of-type {
        border-bottom: unset;
    }

    .blog-home[data-block-status="loaded"] > div.blog-content > div.blog-cards {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--spacer-element-10) var(--spacer-element-07);
    }
}