.featured-solution-wrapper {
  margin: var(--spacer-layout-05) 0;
}

.featured-solution { 
	display: block;
}

.featured-solution__item {
  margin-bottom: var(--spacer-layout-04);
}

.featured-solution__item:last-child {
  margin-bottom: 0;
}

.featured-solution__item h4 {
  font-family: var(--sans-serif-font-semibold);
  font-size: var(--font-size-18);
  margin: 0 0 var(--spacer-layout-01) 0;
}

.featured-solution__item p {
  font-size: var(--font-size-16);
  margin-top: 0;
}

.featured-solution__item p:last-of-type {
  margin-bottom: 0;
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  .featured-solution-wrapper {
    margin: var(--spacer-layout-06) 0;
  }

  .featured-solution__item {
    margin-bottom: var(--spacer-layout-05);
  }
  
	.featured-solution__item h4 {
    font-size: var(--font-size-21);
  }
}