.video.block > div:not(.video-modal) {
    display: block;
}

.video.block > div:not(.video-modal) > div {
    background-color: var(--primary-purple);
    color: var(--neutral-white);
}

.video.block > div:not(.video-modal) > div:only-child {
    background-color: unset;
    border-radius: 20px;
}

.video.block.dark > div:not(.video-modal) > div {
    background-color: var(--neutral-carbon);
}

.video.block > div:not(.video-modal) > .video-title > p {
    font-size: var(--font-size-16);
}

.video.block > div:not(.video-modal) > div > h2 {
    margin: var(--spacer-layout-02) 0 ;
}

.video.block > div:not(.video-modal) > .video-title {
    color: inherit;
}

.video.block > div:not(.video-modal) > div > p:last-of-type {
    margin-bottom: var(--spacer-layout-05);
}

.video.block > div:not(.video-modal) > .video-title > p:last-of-type {
    margin: var(--spacer-layout-01) 0 0 0;
}

.video.block > div:not(.video-modal) > div.video-text > p:first-of-type {
    margin-top: var(--spacer-layout-05);
    text-transform: uppercase;
    font-size: var(--font-size-11);
    font-weight: 500;
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-02-em);
}

.video.block .video-image {
    position: relative;
}

.video.block .video-image .open-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
    max-height: 96px;
    visibility: visible;
    background-color: var(--primary-purple);
    color: var(--neutral-white);
    border-style: none;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

.video.block .video-image .open-video:active,
.video.block .video-image .open-video:hover {
    background-image: var(--gradient-horizontal-up);
}

.video.block .video-image .open-video::after {
    content: '';
    background: url('./../../icons/play-button.svg') no-repeat;
    background-size: contain;
    height: 16px;
    width: 10px;
    margin-left: 12px;
}

.video.block .video-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--spacer-layout-02);
}

.video.block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .video.block > div:not(.video-modal) {
        display: flex;
        width: 100%
    }

    .video.block > div:not(.video-modal) > div {
        flex: 1;
    }

}