/* stylelint-disable no-descending-specificity */

/* header and nav layout */
header {
  position: fixed;
  float: left;
  clear: none;
  border-bottom: 1px solid var(--neutral-sand);
  width: 100%;
  background-color: var(--neutral-bone);
  left: 0;
  top: 0;
  transition: all .5s ease;
  z-index: 99999;
  font-family: var(--sans-serif-font-medium);
}

.header.block {
  display: block;
  margin: 0 auto;
  width: 100%;
}

header nav {
  align-items: center;
  z-index: 1;
  width: 100%;
  height: var(--nav-height-mobile);
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

header nav a:any-link:not(.button) {
  color: currentcolor;
}

header nav .nav-sections ul > li.nav-drop {
  cursor: pointer;
}

/* brand */
header nav .nav-brand a span.icon-merative-logo {
  display: block;
  height: 45px;
}

header .nav-brand a span.icon-merative-mark {
  display: none;
}

/* sections */
header nav .nav-sections ul {
  font-size: var(--font-size-16);
  font-weight: 400;
  list-style: none;
  padding-left: 0;
  letter-spacing: .01em;
  line-height: 160%;
  margin: unset;
}

header nav .nav-sections > ul > li {
  font-size: var(--font-size-16);
  letter-spacing: .01em;
  line-height: 160%;
  font-weight: 500;
}

/* tablet nav */
@media only screen and (min-width: 768px) {
  header nav {
    margin: 0 auto;
    padding: 0 36px;
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop > div.section-heading::before {
    right: 6%;
  }
}

/* mobile/tablet nav styles */
@media only screen and (max-width: 1199px) {
  header {
    height: var(--nav-height-mobile);
  }

  header nav {
    display: flex;
    justify-content: space-between;
    height: var(--nav-height-mobile);
    max-height: none;
    z-index: 1;
  }

  /* set sections and tools to off for now */
  header nav .nav-sections,
  header nav .nav-tools {
    display: none;
  }

  header .nav-brand .icon-merative-logo > svg {
    height: 45px;
  }

  /* hamburger */
  header nav > .nav-hamburger {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  header nav[aria-expanded='false'] .nav-hamburger-icon {
    height: 40px;
    background: url('../../icons/hamburger.svg') no-repeat;
  }

  header nav[aria-expanded='true'] .nav-hamburger-icon {
    height: 40px;
    background: url('../../icons/cross.svg') no-repeat;
  }

  header nav[aria-expanded='true'] .nav-sections {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: var(--nav-height-mobile);
    background-color: var(--neutral-bone);
    color: var(--neutral-carbon);
    height: calc(100vh - var(--nav-height-mobile));
    max-height: none;
    width: 100vw;
    overflow: auto;
    z-index: -1;
  }

  header nav[aria-expanded='true'] .nav-tools {
    display: block;
  }

  header nav[aria-expanded='true'] .nav-sections > ul {
    max-width: 1199px;
    width: 100%;
  }

  header nav .nav-sections li.nav-drop ul {
    cursor: default;
  }

  header nav .nav-sections li.level-two.mega-menu {
    cursor: pointer;
  }

  /* Hide mega menu desktop elements */
  header nav .nav-sections ul.mega-menu aside h3,
  header nav .nav-sections ul.mega-menu .mega-menu-content,
  header nav .nav-sections ul.mega-menu .level-three.fragment,
  header nav .nav-sections ul.mega-menu a.close,
  header nav .nav-sections ul.mega-menu button.close {
    display: none;
  }

  header nav[aria-expanded='true'] .nav-sections > .nav-tools {
    padding: 28px 0 68px 36px;
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop,
  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] > div.section-heading,
  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] .level-two {
    text-align: left;
    border-bottom: 1px solid var(--neutral-sand);
    font-size: var(--font-size-18);
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'],
  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.level-two:last-child,
  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] ul.level-two.featured > li.level-two:nth-last-child(2) {
  border-bottom: none;
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop > ul,
  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] .level-two > ul {
    display: none;
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop > div.section-heading {
    position: relative;
    padding: var(--spacer-layout-02) var(--spacer-layout-036);
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] ul.level-two li.level-two {
    margin: 0 var(--spacer-layout-036);
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] ul.level-two:not(.mega-menu) > li.level-two,
  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] ul.level-two.mega-menu .level-two-heading {
    position: relative;
    padding: var(--spacer-layout-02) 0;
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop > div.section-heading::before,
  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop .level-two.mega-menu > .level-two-heading::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 0;
    background: url('../../icons/caret-down-24.svg') no-repeat center / cover;
    transform: translateY(-50%);
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop > div.section-heading::before {
    right: 36px;
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] > div.section-heading::before,
  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] .level-two.mega-menu[aria-expanded='true'] > .level-two-heading::before {
    transform: translateY(-50%) rotate(180deg);
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] > ul,
  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] .level-two[aria-expanded='true'] > ul {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--neutral-white);
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.level-three {
    padding: var(--spacer-layout-02) var(--spacer-layout-036);
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] .level-two.mega-menu li.level-three {
    padding: var(--spacer-layout-01) var(--spacer-layout-036) var(--spacer-layout-04) 0;
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.level-three:not(:last-child) {
    border-bottom: 1px solid var(--neutral-sand);
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.level-four > a,
  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.level-three > a,
  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.level-two:not(.mega-menu) a {
    text-decoration: none;
    padding-right: 25px;
    background: url('../../icons/arrow-purple.svg') no-repeat right;
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.level-two:not(.mega-menu) > ul {
    display: none;
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.level-three > ul {
    border-left-style: solid;
    border-image-slice: 1;
    border-image-source: var(--gradient-horizontal-down);
    border-width: 1px;
    margin: var(--spacer-element-07) 0 0;
    padding-left: var(--spacer-element-07);
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.level-four {
    padding-top: var(--spacer-element-07);
  }

  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.level-four:first-child {
    padding-top: unset;
  }

  /* Featured Fragment */
  header nav[aria-expanded='true'] .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.featured {
    display: none;
  }

}

/* desktop nav styles */
@media (min-width: 1200px) {
  /* header */
  header {
    padding: 0;
    max-height: 130px;
    height: 130px;
    display: flex;
    align-items: flex-end;
  }

  header.is-sticky {
    background-color: var(--neutral-carbon);
    border-bottom: 1px solid var(--neutral-carbon);
    color: var(--neutral-white);
    padding: 0;
    height: var(--sticky-nav-height);
  }

  header nav {
    display: flex;
    align-items: end;
    padding: 0;
    margin: 0 auto;
    width: var(--section-width-desktop);
    height: var(--nav-height);
  }

  /* nav */
  header.is-sticky nav {
    height: var(--sticky-nav-height);
  }

  header nav .nav-hamburger {
    display: none;
  }

  header nav .nav-brand {
    align-self: start;
    margin-right: var(--spacer-layout-06);
  }

  header.is-sticky nav .nav-brand {
    flex: 0;
    align-self: center;
  }

  header nav .nav-brand p {
    margin: 0;
  }

  header nav .nav-brand .icon-merative-logo > svg {
    width: 159px;
    height: 56px;
  }

  header nav .nav-brand a span.icon-merative-logo {
    height: 56px;
  }

  header.is-sticky nav .nav-brand a span.icon-merative-logo {
    display: none;
  }

  header.is-sticky nav .nav-brand a span.icon-merative-mark {
    display: block;
    height: 40px;
  }

  /* nav tools */
  header nav .nav-tools {
    align-self: start;
  }

  header nav[aria-expanded='true'] .nav-tools img {
    display: unset;
  }

  header nav[aria-expanded='true'] .nav-tools ul {
    font-size: unset;
    flex-direction: column;
  }

  header nav[aria-expanded='true'] .nav-tools li {
    padding: 0;
  }

  /* nav sections */
  header nav .nav-sections {
    flex: 1;
    display: unset;
    margin: 0;
    background-color: initial;
    overflow: initial;
    transition: initial;
  }

  header nav .nav-sections > ul {
    display: flex;
    flex-direction: row;
    background-color: unset;
    width: unset;
    margin: 0;
  }

  header nav[aria-expanded='true'] .nav-sections ol {
    display: flex;
    min-height: unset;
  }

  header nav .nav-sections > ul > li {
    margin-right: 27px;
    font-size: var(--font-size-16);
    padding: 33px 0;
  }

  header.is-sticky nav .nav-sections > ul > li {
    padding: 20px 0;
  }

  header nav .nav-sections li ul {
    cursor: default;
  }

  header nav .nav-sections > ul > li.nav-drop {
    position: relative;
  }

  header nav .nav-sections .nav-drop .section-heading::after {
    display: inline-block;
    content: '';
    position: relative;
    top: var(--spacer-element-02);
    width: 16px;
    height: 16px;
    background: url('../../icons/caret-down.svg') no-repeat right center;
    margin-left: var(--spacer-element-03);
  }

  header.is-sticky nav .nav-sections .nav-drop .section-heading::after {
    background: url('../../icons/caret-down-white.svg') no-repeat right center;
  }

  header nav .nav-sections .nav-drop .section-heading,
  header nav .nav-sections .nav-drop[aria-expanded='true'] .section-heading {
    display: unset;
    padding-bottom: 38px;
    background-image: var(--gradient-left-right);
    background-size: 0 4px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
  }

  header nav .nav-sections .nav-drop .section-heading:hover,
  header nav .nav-sections .nav-drop[aria-expanded='true'] .section-heading,
  header.is-sticky nav .nav-sections .nav-drop[aria-expanded='true'] .section-heading {
    display: unset;
    background-size: 100% 4px, auto;
    z-index: 6;
  }

  header.is-sticky nav .nav-sections .nav-drop .section-heading {
    padding-bottom: 24px;
  }

  header nav .nav-sections > ul > li > p {
    margin: 0;
  }

  header nav .nav-sections > ul > li > ul {
    margin-top: 20px;
    display: none;
    height: 0;
    animation: fadeOut .25s;
    animation-fill-mode: forwards;
    transition: height .25s ease-out;
  }

  header nav .nav-sections > ul > li > ul:any-link {
    font-size: var(--font-size-16);
  }

  header nav .nav-sections > ul > li > ul > li:not(.featured) {
    padding: 8px 16px;
    font-size: var(--font-size-18);
  }

  header nav .nav-sections > ul > li > ul.mega-menu > aside > li {
    font-size: var(--font-size-16);
  }

  header nav .nav-sections > ul > li[aria-expanded='true']::after {
    content: '';
    position: fixed;
    top: calc(var(--nav-height) + 37px);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--neutral-carbon);
    opacity: .5;
    z-index: -1;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.level-two {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem 5.937rem;
    justify-content: space-between;
    top: calc(var(--nav-height) + 37px);
    left: 0;
    width: 100vw;
    height: auto;
    max-height: none;
    overflow: hidden;
    background-color: white;
    color: var(--neutral-carbon);
    margin: 0;
    padding: 3% calc((100vw - var(--section-width-desktop)) / 2) var(--spacer-layout-07);

    /* animation: fadeIn .25s;
    animation-fill-mode: forwards;
    transition: none; */
    z-index: 0;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.level-two.mega-menu {
    display: flex;
    flex-flow: row nowrap;
    gap: unset;
    justify-content: unset;
    padding: var(--spacer-layout-05) calc((100vw - var(--section-width-desktop)) / 2) var(--spacer-layout-07);
  }

  header.is-sticky nav .nav-sections > ul > li[aria-expanded='true'] > ul.level-two {
    top: var(--sticky-nav-height);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two:not(.mega-menu, .featured) {
    padding: 1% 0;
    width: 280px;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] ul > li.level-two a,
  header nav .nav-sections > ul > li[aria-expanded='true'] ul > li.level-three a {
    text-decoration: none;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two:not(.mega-menu, .featured) a {
    margin-bottom: 16px;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.mega-menu > aside > li.level-two[aria-expanded='true'] {
    background-color: var(--neutral-bone);
    border-color: var(--neutral-sand);
    border-style: solid;
    border-width: 1px 0;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two:not(.mega-menu) .level-three {
    font-family: var(--sans-serif-font-light);
    margin-top: var(--spacer-layout-01);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns > div > div > a:hover> h5,
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two:not(.mega-menu, .featured):hover > a,
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul li.level-two.mega-menu .level-two-heading:hover,
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two.mega-menu[aria-expanded='true'] .level-three a:hover {
    color: var(--primary-purple);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.level-two.mega-menu .mega-menu-content li {
    cursor: default;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns > div > div > a > h5::after,
  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content ul > li > a::after,
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two:not(.mega-menu, .featured) > a::after,
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul li.level-two.mega-menu .level-two-heading::after,
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two.mega-menu[aria-expanded='true'] .level-three a::after {
    display: inline-block;
    content: '';
    position: relative;
    height: 12px;
    width: 15px;
    color: var(--primary-purple);
    padding-right: 25px;
    background: url('../../icons/arrow-purple.svg') no-repeat right center;
    opacity: 0;
    transform: rotate(-90deg);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content ul > li > a::after {
    opacity: 1;
    transform: rotate(0);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns > div > div > a:hover > h5::after,
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two:not(.mega-menu):hover > a::after,
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul li.level-two.mega-menu .level-two-heading:hover::after,
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two.mega-menu[aria-expanded='true'] .level-three a:hover::after {
    opacity: 1;
    transform: rotate(0);
    transition: transform .3s;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.level-two.mega-menu aside li > ul,
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two.mega-menu li.level-three {
    display: none;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] li.level-three > ul {
    border-left-style: solid;
    border-image-slice: 1;
    border-image-source: var(--gradient-left-right);
    border-width: 1px;
    margin: var(--spacer-element-07) 0 var(--spacer-element-10) 0;
    padding-left: var(--spacer-element-07);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] li.level-three > ul > li.level-four {
    padding-top: var(--spacer-element-07);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] li.level-three > ul > li.level-four:first-child {
    padding-top: unset;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.mega-menu .mega-menu-content {
    flex: 1;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two.mega-menu .mega-menu-content li > ul {
    display: unset;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.mega-menu .mega-menu-content > div,
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.mega-menu .mega-menu-content > ul {
    display: block;
    font-family: var(--sans-serif-font-light);
    color: var(--neutral-carbon);
    overflow: hidden;
    border-left: 1px solid var(--neutral-sand);
    padding: var(--spacer-layout-03) 0 0 var(--spacer-layout-04)
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.mega-menu .mega-menu-content li {
    padding-top: var(--spacer-element-07);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.mega-menu .mega-menu-content li:first-child {
    padding-top: unset;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.level-two.mega-menu > aside {
    width: 288px;
    height: auto;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.level-two.mega-menu > aside > h3 {
    font-family: var(--sans-serif-font-regular);
    line-height: 160%;
    font-size: var(--font-size-14);
    color: var(--neutral-grey-tint120);
    margin: 0 0 var(--spacer-layout-01);
    padding: 0 0 0 var(--spacer-element-03);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.level-two.mega-menu > aside > li {
    height: 42px;
    align-self: center;
    font-family: var(--sans-serif-font-regular);
    line-height: 160%;
    font-size: var(--font-size-16);
    padding: var(--spacer-element-03);
    cursor: pointer;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.level-two.mega-menu button.close {
    cursor: pointer;
    border: none;
    background: transparent;
    height: max-content;
    padding: 0;
    margin-left: var(--spacer-element-04);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul.level-two.mega-menu button.close svg {
    width: 24px;
    height: 24px;
  }

  /* Mega menu section overrides */
  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .section > div {
    width: 100%;
    margin: 0;
  }

  /* Mega menu button/link overrides */
  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content p.button-container {
    margin: var(--spacer-layout-02) 0 0;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content a.button.secondary {
    color: var(--neutral-carbon);
    border: 2px solid var(--neutral-sand);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content a.button.secondary:hover,
  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content a.button.secondary:active {
    color: var(--neutral-white);
    border: 2px solid transparent;
  }

  /* Mega menu solution header overrides */
  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns.solution-header > div:last-of-type {
    margin-bottom: var(--spacer-layout-03);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns.solution-header h4  {
    margin: var(--spacer-element-07) 0 var(--spacer-element-03);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns.solution-header p  {
    font-size: var(--font-size-16);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns.solution-header > div > div:first-child p:not(:last-child)  {
    margin: 0 0 var(--spacer-element-07);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns.solution-header > div > div:first-child p:first-child  {
    margin: 0 0 var(--spacer-element-05);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns.solution-header > div > div:last-child {
    flex: unset;
    width: 306px;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns.solution-header > div > div:last-child p  {
    margin: 0;
  }

  /* Mega menu solution list overrides */
  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns.solution-list > div:last-of-type {
    margin-bottom: 0;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns.solution-list > div > div > a  {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid var(--neutral-sand);
    margin: var(--spacer-element-05) 0;
    color: currentcolor;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns.solution-list > div > div > a:last-child  {
    border: none;
    margin-bottom: 0;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns.solution-list > div > div > a > h5 {
    margin: 0 0 var(--spacer-element-02);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] .mega-menu-content .columns.solution-list > div > div > a > p {
    margin: 0 0 var(--spacer-element-05);
    font-size: var(--font-size-14);
    line-height: 160%;
  }

  /* Featured Fragment */
  header nav .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.featured {
    display: block;
    width: 376px;
    height: fit-content;
    border-left: 1px solid var(--neutral-sand);
    padding-left: var(--spacer-layout-04);
  }

  header nav .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.featured a {
    display: block;
    border-radius: 10px;
    width: 328px;
    padding: 0;
    color: currentcolor;
  }

  header nav .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.featured a:hover {
    background: var(--neutral-bone);
  }

  header nav .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.featured a > *:first-child {
    padding: var(--spacer-element-08);
  }

  header nav .nav-sections > ul > li.nav-drop[aria-expanded='true'] li.featured a img {
    width: 100%;
    height: 100%;
  }
}
