/* header and nav layout */
header {
  position: fixed;
  float: left;
  clear: none;
  border-bottom: 1.5px solid #e6e6e6;
  width: 100%;
  background-color: var(--neutral-bone);
  left: 0;
  top: 0;
  transition: all .5s ease;
  z-index: 99999;
  font-family: var(--sans-serif-font-medium);
}

.header.block {
  display: block;
  margin: 0 auto;
  width: 100%;
}

header nav {
  display: grid;
  grid-template:
    'brand tools hamburger' var(--nav-height) 'sections sections sections' 1fr / 50px 1fr 50px;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: var(--nav-height-mobile);
  box-sizing: border-box;
}

header nav a:any-link {
  color: currentcolor;
}

/* brand */
header nav .nav-brand {
  display: flex;
  grid-area: brand;
  padding: 0 0 37px;
  margin-right: 125px;
  width: 159px;
  align-self: baseline;
}

header .nav-brand a span.icon-merative-mark {
  display: none;
}

/* sections */
header nav .nav-sections ul {
  font-size: var(--font-size-16);
  font-weight: 400;
  list-style: none;
  padding-left: 0;
  letter-spacing: .01em;
  line-height: 160%;
  margin: unset;
}

header nav .nav-sections>ul>li {
  font-size: var(--font-size-16);
  letter-spacing: .01em;
  line-height: 160%;
  font-weight: 500;
}



/* mobile nav width */
@media only screen and (max-width: 768px) {
  header nav {
    /* width: var(--section-width-mobile); */
    margin: 0 auto;
    padding: 0 24px;
  }



}


/* mobile nav styles */
@media only screen and (max-width: 1200px) {
  header {
    height: var(--nav-height-mobile);
  }

  header nav {
    display: flex;
    justify-content: space-between;
    height: var(--nav-height-mobile);
    max-height: none;
    z-index: 1;
  }

  /* set sections and tools to off for now */
  header nav .nav-sections {
    display: none;
  }

  header nav .nav-tools {
    display: none;
  }

  header .nav-brand  .icon-merative-logo > svg {
    width: 128.68px;
    height: 45px;
  }

  header .nav-brand > p{
    margin: var(--spacer-element-07) 0 var(--spacer-element-07);
  }


  /* hamburger */
  header nav>.nav-hamburger {
    height: 40px;
    width: 40px;

    /* padding-top: 3px; */
    cursor: pointer;
  }

  header nav[aria-expanded='false'] .nav-hamburger-icon {
    height: 40px;
    background: url('../../icons/hamburger.svg') no-repeat;
  }

  header nav[aria-expanded='true'] .nav-hamburger-icon {
    height: 40px;
    background: url('../../icons/cross.svg') no-repeat;
  }

  header nav[aria-expanded='true'] .nav-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    left: 0;
    top: var(--nav-height-mobile);
    right: 100%;
    bottom: 100%;
    margin: 0;
    background-color: var(--neutral-bone);
    color: var(--neutral-carbon);
    height: 100vh;
    max-height: none;
    width: 100vw;
    text-align: center;
    justify-items: center;
    overflow: hidden;
    z-index: -1;
  }

  header nav[aria-expanded='true'] .nav-sections>ul {
    max-width: 1119px;
    width: 100%;
  }

  header nav[aria-expanded='true'] .nav-sections>ul>li.nav-drop {
    position: relative;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    font-size: 1.125rem;
  }

  header nav[aria-expanded='true'] .nav-sections>ul>li.nav-drop>ul {
    display: none;
  }

  header nav[aria-expanded='true'] .nav-sections>ul>li.nav-drop>div.section-heading {
    position: relative;
    padding: 32px 16px;
  }

  header nav[aria-expanded='true'] .nav-sections>ul>li.nav-drop>div.section-heading::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 16px;
    right: 9%;
    background: url('../../icons/arrow-down-black.svg') no-repeat;
  }

  header nav[aria-expanded='true'] .nav-sections>ul>li.nav-drop[aria-expanded='true']>div.section-heading::before {
    content: '';
    position: absolute;
    background: url('../../icons/arrow-down-black.svg') no-repeat;
    transform: rotate(180deg);
    width: 17px;
    height: 16px;
    right: 5%;
  }

  header nav[aria-expanded='true'] .nav-sections>ul>li.nav-drop[aria-expanded='true']>ul {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--neutral-white);

  }

  header nav[aria-expanded='true'] .nav-sections>ul>li.nav-drop[aria-expanded='true']>ul>li.level-two {
    text-align: left;
    font-size: 1.125rem;
    padding: 32px 16px;
  }

  header nav[aria-expanded='true'] .nav-sections>ul>li.nav-drop[aria-expanded='true']>ul>li.level-two:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
  }

  header nav[aria-expanded='true'] .nav-sections>ul>li.nav-drop[aria-expanded='true']>ul>li.level-two>a {
    text-decoration: none;
    padding-right: 25px;
    background: url('../../icons/arrow-purple.svg') no-repeat right;
  }

  header nav[aria-expanded='true'] .nav-sections>ul>li.nav-drop[aria-expanded='true']>ul>li.level-two>ul {
    display: none;
  }
}

/* tablet nav */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  header nav {
    /* width: var(--section-width-tablet-small); */
    margin: 0 auto;
    padding: 0 36px;
  }

  header nav[aria-expanded='true'] .nav-sections>ul>li.nav-drop>div.section-heading::before {
    right: 6%;
  }
}


/* desktop nav styles */
@media (min-width: 1200px) {
  /* header */
  header {
    padding: 37px 0 0;
    max-height: 130px;
  }

  header.is-sticky {
    background: var(--neutral-carbon);
    border-bottom: 1px solid var(--neutral-carbon);
    color: var(--neutral-white);
    padding: 0;
    height: var(--sticky-nav-height);
  }

  header nav {
    display: flex;
    margin: 0 auto;
    width: var(--section-width-desktop);
    height: var(--nav-height);
    align-self: baseline;
  }

  /* nav */

  header.is-sticky nav {
    height: var(--sticky-nav-height);
  }

  header nav .nav-hamburger {
    display: none;
  }

  header:not(.is-sticky) nav .nav-brand {
    align-self: center;
  }

  header.is-sticky .nav-brand a span.icon-merative-logo {
    display: none;
  }

  header .nav-brand  .icon-merative-logo > svg {
    width: 159px;
    height: 56px;
  }

  header.is-sticky .nav-brand a span.icon-merative-mark {
    display: unset;
    position: relative;
    height: 38.5px;
    width: 43px;
  }

  /* Nav tools */
  header nav .nav-tools {
    grid-area: tools;

    /* flex: 0 0 auto; */
    align-self: center;
    height: auto;
    margin: 0.5rem 0;
    margin-left: auto;
    margin-right: 0;
    position: relative;
  }

  header nav .nav-tools p {
    margin: 0;
    font-size: var(--font-size-18);
  }

  header nav .nav-tools h2 {
    font-size: unset;
  }

  header nav .nav-tools a {
    text-decoration: none;
    padding-right: 25px;
    background: url('../../icons/envelope-icon.svg') no-repeat right center;
    font-family: var(--sans-serif-font-medium);
    font-size: var(--font-size-16);
    font-weight: 400;
    list-style: none;
    padding-left: 0;
    letter-spacing: .01em;
    line-height: 160%;
  }

  header.is-sticky nav .nav-tools a {
    background: url('../../icons/envolop-icon-white.svg') no-repeat right center;
  }

  header nav[aria-expanded='true'] .nav-tools img {
    display: unset;
  }

  header nav[aria-expanded='true'] .nav-tools ul {
    font-size: unset;
    flex-direction: column;
  }

  header nav[aria-expanded='true'] .nav-tools li {
    padding: 0;
  }

  /* nav sections */
  header nav .nav-sections {
    display: unset;
    grid-area: tools;
    margin: 0.5rem 0;
    background-color: initial;
    overflow: initial;
    transition: initial;
    left: 0;
    top: -100vh;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  header nav .nav-sections ul {
    display: flex;
    flex-direction: row;
    background-color: unset;
    width: unset;
    margin: 0;
  }

  header nav[aria-expanded='true'] .nav-sections ol {
    display: flex;
    min-height: unset;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  header nav .nav-sections > ul > li {
    margin-right: 27px;
    font-size: var(--font-size-16);
    cursor: pointer;
    padding: 1.4rem 0;
  }

  header nav .nav-sections > ul > li.nav-drop {
    position: relative;
  }

  /* header.is-sticky nav .nav-sections > ul > li.nav-drop {
    background: url('../../icons/arrow-down-white.svg') no-repeat right center;
  } */

  header nav .nav-sections .nav-drop .section-heading::after {
    display: inline-block;
    content: '';
    position: relative;
    width: 17px;
    height: 16px;
    background: url('../../icons/arrow-down-black.svg') no-repeat right center;
    margin-left: 10px;
  }

  header.is-sticky nav .nav-sections .nav-drop .section-heading::after {
    display: inline-block;
    content: '';
    position: relative;
    width: 17px;
    height: 16px;
    background: url('../../icons/arrow-down-white.svg') no-repeat right center;
    margin-left: 10px;
  }

  header nav .nav-sections .nav-drop .section-heading:hover,
  header nav .nav-sections .nav-drop[aria-expanded='true'] .section-heading,
  header.is-sticky nav .nav-sections .nav-drop[aria-expanded='true'] .section-heading {
    display: unset;
    border-bottom-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(270deg, #fa1e32, #90f);
    border-bottom-width: 4px;
    padding-bottom: 32px;
    z-index: 6;
  }

  header.is-sticky nav .nav-sections .nav-drop[aria-expanded='true'] .section-heading,
  header.is-sticky nav .nav-sections .nav-drop .section-heading:hover {
    padding-bottom: 23px;
  }

  header nav .nav-sections > ul > li > p {
    margin: 0;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  header nav .nav-sections > ul > li > ul {
    margin-top: 20px;
    display: none;
    height: 0;
    animation: fadeOut .25s;
    animation-fill-mode: forwards;
    transition: height .25s ease-out;
  }

  header nav .nav-sections > ul > li > ul:any-link {
    font-size: var(--font-size-16);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  header nav .nav-sections > ul > li > ul > li {
    font-size: var(--font-size-18);
    padding: 8px 16px;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    gap: 3.5rem 5.937rem;
    position: fixed;
    padding-top: 3%;
    top: calc(var(--nav-height) + 37px);
    left: 0;
    justify-content: space-between;
    padding-left: calc((100vw - var(--section-width-desktop))/2);
    padding-right: calc((100vw - var(--section-width-desktop))/2);
    color: var(--neutral-carbon);
    height: 100vh;
    max-height: none;
    width: 100vw;
    overflow: hidden;
    animation: fadeIn .25s;
    animation-fill-mode: forwards;
    transition: none;
    z-index: 0;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul::before {
    background-color: white;
    height: 659px;
    width: 100vw;
    content: '';
    z-index: -1;
    position: fixed;
    max-height: none;
    left: 0;
    top: calc(var(--nav-height) + 37px);
    margin: 0;
  }


  header.is-sticky nav .nav-sections > ul > li[aria-expanded='true'] > ul::before {
    top: calc(var(--nav-height) - 20px);
  }


  header nav .nav-sections > ul > li[aria-expanded='true'] > ul::after {
    background-color: var(--neutral-carbon);
    content: '';
    height: 100vh;
    opacity: .5;
    position: absolute;

    /* top: calc(var(--nav-height) + 37px); */
    width: 100vw;
    z-index: -2;
  }

  header.is-sticky nav .nav-sections>ul>li[aria-expanded='true']>ul {
    top: var(--sticky-nav-height);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two {
    padding: 1% 0;
    width: 280px;


  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two a {
    text-decoration: none;
    margin-bottom: 16px;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two:hover > a {
    color: #90f;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two > a::after {
    display: inline-block;
    content: '';
    position: relative;
    height: 12px;
    width: 15px;
    color: #90f;
    padding-right: 25px;
    background: url('../../icons/arrow-purple.svg') no-repeat right center;
    opacity: 0;
    transform: rotate(-90deg);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two:hover > a::after {
    opacity: 1;
    transform: rotate(0);
    transition: transform .3s;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li.level-two .level-three {
    font-family: var(--sans-serif-font-light);
    margin-top: 16px;
  }
}
