/* stylelint-disable selector-id-pattern */
/* stylelint-disable selector-class-pattern */

.section.marketo-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.section.marketo-container > div:last-of-type {
    margin-top: var(--spacer-element-07);
}

.section.marketo-container .default-content-wrapper p {
    font-size: var(--font-size-16);
    font-family: var(--sans-serif-font-light);
    letter-spacing: var(--letter-spacing-001-em);
    line-height: var(--line-height-160);
    font-weight: 300;
}

.section.marketo-container h3 {
    font-family: var(--sans-serif-font-light);
    font-size: var(--font-size-24);
}

.marketo {
    width: 100%;
    margin-top: var(--spacer-element-07);
}

/* Merative styling for Marketo form */
.mktoForm {
    margin: 0 auto !important;
    width: 100% !important
}

.mktoForm .mktoOffset {
    width: 0 !important
}

.mktoForm .mktoFieldWrap .mktoHtmlText {
    color: var(--neutral-carbon) !important;
    font-family: var(--sans-serif-font-light) !important;
    font-size: var(--font-size-12) !important;
    letter-spacing: .01em !important;
    line-height: 160% !important;
    width: 100% !important
}

.mktoForm .mktoFieldWrap .mktoHtmlText a {
    color: var(--primary-purple);
    padding: 0;
    border-bottom: 1px solid var(--primary-purple) !important
}

.mktoForm .mktoFieldWrap .mktoHtmlText a:active,
.mktoForm .mktoFieldWrap .mktoHtmlText a:hover {
    /* background: -webkit-gradient(linear,right top,left top,from(#fa1e32),to(var(--primary-purple))) !important; */
    background: linear-gradient(270deg, #fa1e32, var(--primary-purple)) !important;

    /* -webkit-background-clip:text !important; */
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-slice: 1 !important;
    border-image-source: linear-gradient(270deg, #fa1e32, var(--primary-purple)) !important
}

.mktoForm .mktoFieldWrap .mktoHtmlText p {
    color: var(--neutral-carbon) !important;
    font-family: var(--sans-serif-font-light) !important;
    font-size: var(--font-size-12) !important;
    letter-spacing: .01em !important;
    line-height: 160% !important;
    width: 100% !important
}

.mktoForm .mktoFormRow {
    clear: both !important;
    margin-bottom: 2px !important;
}

.mktoForm .mktoFormRow .mktoFieldWrap,
.mktoForm .mktoFormRow .mktoFormCol {
    width: 100% !important
}

.mktoForm div:first-of-type .mktoFormCol .mktoFieldWrap .mktoHtmlText {
    font-size: var(--font-size-16) !important;
    margin-bottom: 1rem !important
}

.mktoForm div:first-of-type .mktoFormCol .mktoFieldWrap .mktoHtmlText span {
    color: var(--neutral-carbon) !important
}

.mktoForm div:first-of-type .mktoFormCol .mktoFieldWrap .mktoHtmlText small {
    float: right;
    font-size: var(--font-size-16);
    margin-top: 37px;
    text-align: right !important
}

.mktoForm .mktoButtonWrap .mktoButton {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    background: var(--primary-purple) !important;
    border: 0 !important;
    border-radius: 40px !important;

    /* -webkit-box-sizing: border-box !important; */
    box-sizing: border-box !important;
    color: var(--neutral-white) !important;
    cursor: pointer !important;

    /* display: -webkit-box !important;
    display: -ms-flexbox !important; */
    display: flex !important;
    font-family: var(--sans-serif-font-medium) !important;
    font-size: var(--font-size-16) !important;
    font-weight: 400 !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    line-height: 25.6px !important;
    margin: 37px 0;
    max-height: 62px !important;
    padding: 11px 16px 11px 24px !important;

    /* -webkit-transition: all .4s ease-in-out !important; */
    transition: all .4s ease-in-out !important;
    width: auto !important
}

.mktoForm .mktoButtonWrap .mktoButton:active,
.mktoForm .mktoButtonWrap .mktoButton:hover {
    /* background-image: -webkit-gradient(linear, right top, left top, from(#fa1e32), to(var(--primary-purple))) !important; */
    background-image: linear-gradient(270deg, #fa1e32, var(--primary-purple)) !important;

    /* -webkit-transition: all .2s ease-in-out !important; */
    transition: all .2s ease-in-out !important
}

.mktoForm .mktoButtonWrap .mktoButton::after {
    background-size: contain !important;
    color: var(--neutral-white) !important;
    content: url('../../icons/arrow-white.svg') !important;
    height: 22px !important;
    width: 22px !important;
    margin-left: 24px
}

.mktoForm .mktoAsterix,
.mktoForm .mktoErrorArrowWrap {
    display: none !important
}

.mktoForm .mktoLabel {
    color: var(--neutral-carbon) !important;
    font-family: var(--sans-serif-font-light) !important;
    font-size: var(--font-size-16) !important;
    font-weight: 400 !important;
    letter-spacing: .01em !important;
    line-height: 160% !important;
    width: 100% !important;
    padding-top: 0 !important
}

.mktoForm .mktoRequiredField .mktoLabel::after {
    color: var(--neutral-carbon) !important;
    content: "*" !important;
    display: inline-block !important
}

.mktoForm .mktoEmailField,
.mktoForm .mktoTelField,
.mktoForm .mktoTextField,
.mktoForm select.mktoField,
.mktoForm textarea.mktoField {
    /* -webkit-appearance: none !important;
    -moz-appearance: none !important; */
    appearance: none !important;
    background: var(--neutral-bone) !important;
    border-color: var(--neutral-carbon) !important;
    border-width: 0 0 1px !important;
    color: var(--neutral-carbon) !important;
    font-family: var(--sans-serif-font-light) !important;
    font-size: var(--font-size-16) !important;
    height: 43px !important;
    letter-spacing: .01em !important;
    line-height: 160% !important;
    margin-bottom: 2rem !important;
    margin-top: 2px !important;
    outline: 0 !important;
    padding-left: 15px !important;
    width: 100% !important
}

.mktoForm .mktoEmailField.mktoRequired,
.mktoForm .mktoTelField.mktoRequired,
.mktoForm .mktoTextField.mktoRequired,
.mktoForm select.mktoField.mktoRequired,
.mktoForm textarea.mktoField.mktoRequired {
    border-color: var(--neutral-carbon) !important
}

.mktoForm .mktoEmailField.mktoRequired.mktoInvalid,
.mktoForm .mktoTelField.mktoRequired.mktoInvalid,
.mktoForm .mktoTextField.mktoRequired.mktoInvalid,
.mktoForm select.mktoField.mktoRequired.mktoInvalid,
.mktoForm textarea.mktoField.mktoRequired.mktoInvalid {
    border-color: #d2192a !important;
    border-width: 0 0 1px !important;
    outline: 0 !important
}

.mktoForm .mktoEmailField.mktoRequired.mktoValid,
.mktoForm .mktoTelField.mktoRequired.mktoValid,
.mktoForm .mktoTextField.mktoRequired.mktoValid,
.mktoForm select.mktoField.mktoRequired.mktoValid,
.mktoForm textarea.mktoField.mktoRequired.mktoValid {
    border-color: var(--neutral-carbon) !important
}

.mktoForm select.mktoField {
    background-image: url('../../icons/select-arrow-down.png') !important;
    background-position: right 10px center !important;
    background-repeat: no-repeat !important;
    background-size: 18px !important
}

.mktoForm select.mktoField option {
    color: var(--neutral-carbon) !important;
    font-family: var(--sans-serif-font-light) !important;
    font-size: var(--font-size-16) !important;
    letter-spacing: .16px;
    line-height: 160% !important
}

.mktoForm select.mktoField option:checked {
    background-color: #ebccff !important
}

.mktoForm textarea.mktoField {
    height: 123px !important
}

.mktoForm .mktoEmailField:focus,
.mktoForm .mktoTelField:focus,
.mktoForm .mktoTextField:focus,
.mktoForm select.mktoField:focus,
.mktoForm textarea.mktoField:focus {
    border-width: 0 !important;
    outline: 1px solid var(--primary-purple) !important
}

.mktoForm .mktoFieldWrap:focus-within .mktoLabel,
.mktoForm .mktoFieldWrap:focus-within .mktoLabel::after {
    color: var(--primary-purple) !important
}

.mktoForm .mktoFieldWrap .mktoError {
    border: 0 !important;
    left: 0 !important;
    width: 100% !important
}

.mktoForm .mktoFieldWrap .mktoError #ValidMsgCompany,
.mktoForm .mktoFieldWrap .mktoError .mktoErrorMsg {
    background-color: transparent !important;
    background-image: none !important;
    border: 0 !important;
    border-radius: none !important;

    /* -webkit-box-shadow: none !important; */
    box-shadow: none !important;
    color: #d2192a !important;
    font-family: var(--sans-serif-font-light) !important;
    font-size: var(--font-size-12)!important;
    letter-spacing: .01em !important;
    line-height: 120% !important;
    margin-top: 0 !important;
    max-width: none !important;
    padding: 0 !important;
    position: relative !important;
    text-shadow: none !important;
    top: -40px !important
}

.mktoForm .mktoFieldWrap .mktoError .mktoErrorMsg .mktoErrorDetail,
.mktoForm .mktoFieldWrap .mktoError #ValidMsgCompany .mktoErrorDetail {
    display: inline-block !important
}

.mktoForm .mktoFieldWrap .mktoError #ValidMsgCompany::after,
.mktoForm .mktoFieldWrap .mktoError .mktoErrorMsg::after {
    background-image: url('../../icons/marketo_error_icon.svg') !important;
    background-repeat: no-repeat !important;
    content: " ";
    float: right;
    height: 16px;
    position: relative;
    right: 10px;
    top: -40px;
    width: 16px
}

.mktoForm .mktoFieldWrap .mktoError #ValidMsgcontactmeHowcanwehelp::after,
.mktoForm .mktoFieldWrap .mktoError #ValidMsgCountry::after,
.mktoForm .mktoFieldWrap .mktoError #ValidMsgRBN_Email_Permissions__c::after,
.mktoForm .mktoFieldWrap .mktoError #ValidMsgRBN_Phone_Permissions__c::after {
    right: 40px
}

.mktoForm .mktoFieldWrap .mktoError #ValidMsgEmail,
.mktoForm .mktoFieldWrap .mktoError #ValidMsgPhone {
    top: -55px !important
}

/* stylelint-disable-next-line no-descending-specificity */
.mktoForm .mktoButton {
    margin-top: 14px !important
}

input[type=radio]+label::before {
    content: unset !important
}

input[type=radio] {
    accent-color: var(--neutral-carbon) !important;
    vertical-align: middle !important;
    opacity: 1 !important;
    height: 20px !important;
    width: 20px !important
}

.mktoForm select.mktoField[multiple] {
    background-image: none !important;
    padding: 0 !important
}

.mktoForm select.mktoField[multiple] option {
    height: 26px !important;
    padding: 15px 16px !important;

    /* display: -webkit-box !important;
    display: -ms-flexbox !important; */
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important
}

.mktoForm .mktoRadioList{
    display: flex;
    width: auto !important;
    align-items: center;
    padding: 0.3em;
    float: left;
}

.mktoForm .mktoRadioList>label {
    color: var(--neutral-carbon) !important;
    font-family: var(--sans-serif-font-light) !important;
    font-size: var(--font-size-16) !important;
    letter-spacing: .16px;
    line-height: 160% !important;
    margin: 0 32px 0 8px !important;
}

/* Media queries */
@media screen and (min-width: 768px) {
    .section.marketo-container {
        display: flex;
        flex-direction: column;
        width: var(--section-width-tablet);
        margin: 0 auto;
    }

    .section.marketo-container > div:last-of-type {
        margin-top: var(--spacer-element-08);
    }
}

@media screen and (min-width: 1200px) {
    .section.marketo-container {
        display: flex;
        flex-direction: row;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        flex-wrap: wrap;
        width: var(--section-width-desktop);
        margin: 0 auto;
    }

    .section.marketo-container > div {
        width: unset;
    }

    .section.marketo-container > .h2 {
        flex-basis: 100%;
    }

    .section.marketo-container > div:not(.h2) {
        flex-basis: 40%;
    }

    .section.marketo-container > div:last-of-type {
        margin-left: 8%;
        margin-top: 0;
    }

    .marketo.contactus{
        width: 648px;
        margin-right: 130px;
    }
}
