/* stylelint-disable selector-id-pattern */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */

.section.marketo-container.multiple .marketo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Ordering based on content with form */
.section.marketo-container.multiple .marketo-wrapper > .default-content-wrapper {
  order: 1;
}

.section.marketo-container.multiple .marketo-wrapper > .marketo {
  order: 2;
}

.section.marketo-container.multiple .marketo-wrapper > .columns-wrapper {
  order: 3;
}

.section.marketo-container .marketo-wrapper .default-content-wrapper h4,
.section.marketo-container .marketo-wrapper .columns-wrapper h4 {
  font-family: var(--sans-serif-font-light);
  font-size: var(--font-size-18);
}

.section.marketo-container .marketo-wrapper .default-content-wrapper h6,
.section.marketo-container .marketo-wrapper .columns-wrapper h6 {
  font-family: var(--sans-serif-font-medium);
  font-size: var(--font-size-18);
  margin: 0 0 var(--spacer-element-03);
}

.section.marketo-container .marketo-wrapper .default-content-wrapper p,
.section.marketo-container .marketo-wrapper .columns-wrapper p {
  font-size: var(--font-size-16);
  font-family: var(--sans-serif-font-light);
  letter-spacing: var(--letter-spacing-001-em);
  line-height: var(--line-height-160);
  font-weight: 300;
}

.section.marketo-container .marketo-wrapper .default-content-wrapper > *,
.section.marketo-container .marketo-wrapper .columns-wrapper > * {
  margin: 0 0 var(--spacer-element-08);
}

.section.marketo-container .marketo-wrapper div.spacious p {
  margin: 0 0 var(--spacer-element-10);
}

.marketo {
  width: 100%;
}

/* Merative styling for Marketo form */
.mktoForm {
  margin: 0 auto !important;
  width: 100% !important;
}

.mktoForm .mktoOffset {
  width: 0 !important;
  height: 0 !important;
}

.mktoForm .mktoFieldWrap .mktoHtmlText {
  color: var(--neutral-carbon) !important;
  font-family: var(--sans-serif-font-light) !important;
  font-size: var(--font-size-12) !important;
  letter-spacing: .01em !important;
  line-height: 160% !important;
  width: 100% !important;
  margin: 0 0 var(--spacer-element-07) 0;
}

.mktoForm .mktoFieldWrap .mktoHtmlText p {
  color: var(--neutral-carbon) !important;
  font-family: var(--sans-serif-font-light) !important;
  font-size: var(--font-size-12) !important;
  letter-spacing: .01em !important;
  line-height: 160% !important;
  width: 100% !important;
}

.mktoForm .mktoFieldWrap .mktoHtmlText a {
  padding: 0 !important;
}

.mktoForm .mktoFormRow {
  clear: both !important;
}

.mktoForm .mktoFormRow .mktoFieldWrap,
.mktoForm .mktoFormRow .mktoFormCol {
  width: 100% !important;
  margin-bottom: 0 !important;
}

.mktoForm div:first-of-type .mktoFormCol .mktoFieldWrap .mktoHtmlText {
  font-size: var(--font-size-16) !important;
  margin-bottom: 1rem !important;
}

.mktoForm div:first-of-type .mktoFormCol .mktoFieldWrap .mktoHtmlText span {
  color: var(--neutral-carbon) !important;
}

.mktoForm div:first-of-type .mktoFormCol .mktoFieldWrap .mktoHtmlText small {
  float: right;
  font-size: var(--font-size-16);
  text-align: right !important;
}

.mktoForm .mktoButtonWrap .mktoButton {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  border: 0 !important;
  border-radius: 40px !important;
  box-sizing: border-box !important;
  color: var(--neutral-white) !important;
  cursor: pointer !important;
  display: flex !important;
  font-family: var(--sans-serif-font-medium) !important;
  font-size: var(--font-size-16) !important;
  font-weight: 400 !important;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  line-height: 25.6px !important;
  margin: 37px 0;
  max-height: 62px !important;
  padding: 11px 16px 11px 24px !important;
  width: auto !important;
  background-image: var(--gradient-to-right);
  background-position: 0 0;
  background-size: 200% auto;
  transition: all .4s ease-in-out;
}

.mktoForm .mktoButtonWrap .mktoButton:active,
.mktoForm .mktoButtonWrap .mktoButton:hover {
  border: 2px solid transparent;
  background-position: 96% 0;
}

.mktoForm .mktoButtonWrap .mktoButton::after {
  background-size: contain !important;
  color: var(--neutral-white) !important;
  content: url('../../icons/arrow-white.svg') !important;
  height: 22px !important;
  width: 22px !important;
  margin-left: 24px
}

.mktoForm .mktoAsterix,
.mktoForm .mktoErrorArrowWrap {
  display: none !important
}

.mktoForm .mktoLabel {
  color: var(--neutral-carbon) !important;
  font-family: var(--sans-serif-font-light) !important;
  font-size: var(--font-size-16) !important;
  font-weight: 400 !important;
  letter-spacing: .01em !important;
  line-height: 160% !important;
  width: 100% !important;
  padding-top: 0 !important;
}

.mktoForm .mktoFormCol {
  min-height: unset !important;
}

.mktoForm .mktoFormCol .mktoLabel {
  padding-bottom: var(--spacer-element-04) !important;
}

.mktoForm .mktoGutter.mktoHasWidth {
  height: auto;
}

.mktoForm .mktoRequiredField .mktoLabel::after {
  color: var(--neutral-carbon) !important;
  content: "*" !important;
  display: inline-block !important;
}

.mktoForm .mktoEmailField,
.mktoForm .mktoTelField,
.mktoForm .mktoTextField,
.mktoForm select.mktoField,
.mktoForm textarea.mktoField {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-appearance: none;
  background: var(--neutral-bone) !important;
  border-color: var(--neutral-carbon) !important;
  border-width: 0 0 1px !important;
  color: var(--neutral-carbon) !important;
  font-family: var(--sans-serif-font-light) !important;
  font-size: var(--font-size-16) !important;
  height: 43px !important;
  letter-spacing: .01em !important;
  line-height: 160% !important;
  margin-top: 2px !important;
  margin-bottom: var(--spacer-layout-04) !important;
  outline: 0 !important;
  padding-left: 15px !important;
  width: 100% !important;
}

.mktoForm .mktoEmailField.mktoRequired,
.mktoForm .mktoTelField.mktoRequired,
.mktoForm .mktoTextField.mktoRequired,
.mktoForm select.mktoField.mktoRequired,
.mktoForm textarea.mktoField.mktoRequired {
  border-color: var(--neutral-carbon) !important;
}

.mktoForm .mktoEmailField.mktoRequired.mktoInvalid,
.mktoForm .mktoTelField.mktoRequired.mktoInvalid,
.mktoForm .mktoTextField.mktoRequired.mktoInvalid,
.mktoForm select.mktoField.mktoRequired.mktoInvalid,
.mktoForm textarea.mktoField.mktoRequired.mktoInvalid {
  border-color: #d2192a !important;
  border-width: 0 0 1px !important;
  outline: 0 !important;
}

.mktoForm .mktoEmailField.mktoRequired.mktoValid,
.mktoForm .mktoTelField.mktoRequired.mktoValid,
.mktoForm .mktoTextField.mktoRequired.mktoValid,
.mktoForm select.mktoField.mktoRequired.mktoValid,
.mktoForm textarea.mktoField.mktoRequired.mktoValid {
  border-color: var(--neutral-carbon) !important;
}

.mktoForm select.mktoField {
  background-image: url('../../icons/select-arrow-down.png') !important;
  background-position: right 10px center !important;
  background-repeat: no-repeat !important;
  background-size: 18px !important;
}

.mktoForm select.mktoField option {
  color: var(--neutral-carbon) !important;
  font-family: var(--sans-serif-font-light) !important;
  font-size: var(--font-size-16) !important;
  letter-spacing: .16px;
  line-height: 160% !important;
}

.mktoForm select.mktoField option:checked {
  background-color: #ebccff !important;
}

.mktoForm textarea.mktoField {
  height: 123px !important;
}

.mktoForm .mktoEmailField:focus,
.mktoForm .mktoTelField:focus,
.mktoForm .mktoTextField:focus,
.mktoForm select.mktoField:focus,
.mktoForm textarea.mktoField:focus {
  border-width: 0 !important;
  outline: 1px solid var(--primary-purple) !important;
}

.mktoForm .mktoFieldWrap:focus-within .mktoLabel,
.mktoForm .mktoFieldWrap:focus-within .mktoLabel::after {
  color: var(--primary-purple) !important;
}

.mktoForm .mktoFieldWrap .mktoError {
  border: 0 !important;
  left: 0 !important;
  width: 100% !important;
}

.mktoForm .mktoFieldWrap .mktoError #ValidMsgCompany,
.mktoForm .mktoFieldWrap .mktoError .mktoErrorMsg {
  background-color: transparent !important;
  background-image: none !important;
  border: 0 !important;
  border-radius: 0 !important;

  /* -webkit-box-shadow: none !important; */
  box-shadow: none !important;
  color: #d2192a !important;
  font-family: var(--sans-serif-font-light) !important;
  font-size: var(--font-size-12) !important;
  letter-spacing: .01em !important;
  line-height: 120% !important;
  margin-top: 0 !important;
  max-width: none !important;
  padding: 0 !important;
  position: relative !important;
  text-shadow: none !important;
  top: -40px !important;
}

.mktoForm .mktoFieldWrap .mktoError .mktoErrorMsg .mktoErrorDetail,
.mktoForm .mktoFieldWrap .mktoError #ValidMsgCompany .mktoErrorDetail {
  display: inline-block !important;
}

.mktoForm .mktoFieldWrap .mktoError #ValidMsgCompany::after,
.mktoForm .mktoFieldWrap .mktoError .mktoErrorMsg::after {
  background-image: url('../../icons/marketo_error_icon.svg') !important;
  background-repeat: no-repeat !important;
  content: " ";
  float: right;
  height: 16px;
  position: relative;
  right: 10px;
  top: -40px;
  width: 16px
}

.mktoForm .mktoFieldWrap .mktoError #ValidMsgcontactmeHowcanwehelp::after,
.mktoForm .mktoFieldWrap .mktoError #ValidMsgCountry::after,
.mktoForm .mktoFieldWrap .mktoError #ValidMsgRBN_Email_Permissions__c::after,
.mktoForm .mktoFieldWrap .mktoError #ValidMsgRBN_Phone_Permissions__c::after {
  right: 40px
}

.mktoForm .mktoFieldWrap .mktoError #ValidMsgEmail,
.mktoForm .mktoFieldWrap .mktoError #ValidMsgPhone {
  top: -55px !important;
}

.mktoForm .mktoButton {
  margin-top: var(--spacer-layout-04) !important;
}

input[type=radio] + label::before {
  content: unset !important;
}

input[type=radio] {
  accent-color: var(--neutral-carbon) !important;
  vertical-align: middle !important;
  opacity: 1 !important;
  height: 20px !important;
  width: 20px !important;
  flex-basis: 20px;
  flex-shrink: 0;
  cursor: pointer;
}

.mktoForm select.mktoField[multiple] {
  background-image: none !important;
  padding: 0 !important;
}

.mktoForm select.mktoField[multiple] option {
  height: 26px !important;
  padding: 15px 16px !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.mktoForm .mktoRadioList {
  display: flex;
  width: auto !important;
  align-items: center;
  padding: 0 !important;
  margin: var(--spacer-element-07) 0;
  float: left !important;
}

.mktoForm .mktoRadioList > label {
  color: var(--neutral-carbon) !important;
  font-family: var(--sans-serif-font-light) !important;
  font-size: var(--font-size-16) !important;
  letter-spacing: 0.16px;
  line-height: 160% !important;
  margin: 0 var(--spacer-element-07) 0 var(--spacer-element-04) !important;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .section.marketo-container.multiple .marketo-wrapper {
    gap: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .section.marketo-container .marketo-wrapper .default-content-wrapper h4,
  .section.marketo-container .marketo-wrapper .columns-wrapper h4 {
    font-family: var(--sans-serif-font-light);
    font-size: var(--font-size-21);
  }

  .section.marketo-container .marketo-wrapper .default-content-wrapper h6,
  .section.marketo-container .marketo-wrapper .columns-wrapper h6 {
    font-size: var(--font-size-21);
  }

  .section.marketo-container.multiple .marketo-wrapper {
    flex-flow: row nowrap;
    gap: 120px;
    width: var(--section-width-desktop);
    margin: 0 auto;
  }

  .section.marketo-container.multiple .marketo-wrapper > div {
    order: unset!important;
  }

  .section.marketo-container.multiple .marketo-wrapper > div:not(.marketo) {
    flex: 1;
  }

  .section.marketo-container.multiple .marketo-wrapper .columns > div {
    flex-flow: column;
  }

  .section.marketo-container.multiple .marketo-wrapper .columns > div > div {
    margin-left: 0;
  }

  .section.marketo-container.multiple div > .marketo:first-child {
    width: 648px;
  }

  .section.marketo-container.multiple div .marketo:last-child {
    width: 376px;
  }

  .section.marketo-container .marketo-wrapper .default-content-wrapper.show-more {
    border-bottom: none;
  }

  .section.marketo-container .marketo-wrapper .default-content-wrapper.show-more > p:first-of-type ~ *:not(a) {
    display: revert;
  }

  .section.marketo-container .marketo-wrapper .default-content-wrapper.show-more > a {
    display: none;
  }

}
