/* stylelint-disable media-feature-range-operator-space-after */


/* stylelint-disable comment-whitespace-inside */


/* stylelint-disable rule-empty-line-before */


/* stylelint-disable function-url-quotes */


/* stylelint-disable no-descending-specificity */


/* stylelint-disable selector-class-pattern */


/* stylelint-disable font-family-no-missing-generic-family-keyword */


/* Start Social Share Icons */

.blog-left-nav.block::before {
    content: "SHARE VIA";
    font-family: 'Alliance No.1', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-14);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 24px;
}

.blog-left-nav.block .social-share-linkedIn:hover {
    background: url(../../icons/linkedin-white.svg) no-repeat center, var(--gradient-left-right);
}

.blog-left-nav.block .social-share-linkedIn {
    margin: 8px;
    background: url(../../icons/linkedin-black.svg) no-repeat center;
    background-color: var(--neutral-bone);
    border-radius: 50%;
    display: inline-flex;
    height: 37.83px;
    justify-content: center;
    width: 40.75px;
    border: 1px solid var(--neutral-sand);
    background-size: 20px 20px;
}

.blog-left-nav.block .social-share-twitter {
    margin: 8px;
    background: url(../../icons/twitter-black.svg) no-repeat center;
    background-color: var(--neutral-bone);
    border-radius: 50%;
    display: inline-flex;
    height: 37.83px;
    justify-content: center;
    width: 40.75px;
    border: 1px solid var(--neutral-sand);
    background-size: 20px 20px;
}

.blog-left-nav.block .social-share-twitter:hover {
    background: url(../../icons/twitter-white.svg) no-repeat center, var(--gradient-left-right);
}

.blog-left-nav.block .social-share-facebook {
    margin: 8px;
    background: url(../../icons/facebook-black.svg) no-repeat center;
    background-color: var(--neutral-bone);
    border-radius: 50%;
    display: inline-flex;
    height: 37.83px;
    justify-content: center;
    width: 40.75px;
    border: 1px solid var(--neutral-sand);
    background-size: 20px 20px;
}

.blog-left-nav.block .social-share-facebook:hover {
    background: url(../../icons/facebook-white.svg) no-repeat center, var(--gradient-left-right);
}

.blog-left-nav.block .social-share-shareLink {
    margin: 8px;
    background: url(../../icons/sharelink-black.svg) no-repeat center;
    background-color: var(--neutral-bone);
    border-radius: 50%;
    display: inline-flex;
    height: 37.83px;
    justify-content: center;
    width: 40.75px;
    border: 1px solid var(--neutral-sand);
    background-size: 20px 20px;
}

.blog-left-nav.block .social-share-shareLink:hover {
    background: url(../../icons/sharelink-white.svg) no-repeat center, var(--gradient-left-right);
}

.blog-content-link-cs::before {
    content: "IN THIS ARTICLE";
    font-family: 'Alliance No.1';
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-14);
    line-height: 120%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 153px;
    height: 17px;
    color: var(--neutral-carbon);
    margin-bottom: 24px;
}

.blog-content-link-cs {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 230px;
    height: auto;
}

.content_link.active {
    text-decoration-line: none;
    border-image: linear-gradient(180deg, #90f, #fa1e32) 0 1;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    padding-left: 16px;
    width: 240px;
    font-family: 'Alliance No.1';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: var(--neutral-carbon);
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.content_link {
    text-decoration-line: none;
    padding-left: 16px;
    width: 240px;
    font-family: 'Alliance No.1';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: var(--neutral-carbon);
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 1120px) {
    .blog-left-nav-container {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }
    .blog-left-nav-wrapper {
        width: 240px !important;
        margin: 70px 60px 0 0 !important;
    }
    .blog-left-nav.block {
        position: sticky;
        top: 350px;
        display: flex;
        flex-wrap: wrap;
    }
    .blog-left-nav.block::before {
        order: -1;
        flex: 1 0 100%;
    }
    .scrollMargin {
        scroll-margin-top: 100px;
    }
    .blog-content-link-cs-is-sticky {
        margin-bottom: 130px;
    }
}


/* ipad , tabs */

@media only screen and (width <=1119px) {
    .blog-left-nav-container {
        margin: 0 auto;
    }
    .blog-left-nav.block {
        display: flex;
        top: 20px;
        position: relative;
    }
    .blog-content-link-cs {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        background: var(--neutral-bone);
        top: 0px;
    }
    .blog-left-nav.block::before {
        font-size: 11px;
    }
    .blog-content-link-cs::before {
        font-size: 11px;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    .blog-left-nav-container {
        margin: 0 auto;
        max-width: 732px;
    }
    .blog-left-nav.block {
        display: flex;
        top: 20px;
        position: relative;
    }
    .blog-content-link-cs {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        background: var(--neutral-bone);
    }
    .blog-left-nav.block::before {
        font-size: 11px;
    }
    .blog-content-link-cs::before {
        font-size: 11px;
    }
}


/* mobile devices*/

@media (max-device-width: 768px) {
    .blog-left-nav-container {
        max-width: 768px;
        margin: 0 auto;
    }
    .blog-left-nav.block {
        display: flex;
        top: 20px;
        position: relative;
    }
    .blog-content-link-cs {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        background: var(--neutral-bone);
    }
    .blog-left-nav.block::before {
        font-size: 11px;
    }
    .blog-content-link-cs::before {
        font-size: 11px;
    }
}


/* end Social Share Icons */