html {
    scroll-behavior: smooth;
}

.h2 {
    margin: unset;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links {
    position: sticky;
    top: 350px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    border-top: 1px solid var(--neutral-sand);
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-linkedin {
    margin: 8px;
    background: url("../../icons/linkedin-black.svg") no-repeat center;
    border-radius: 100px;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    align-content: center;
    width: 32px;
    border: 1px solid var(--neutral-sand);
    background-size: 16.6px 15.86px;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-linkedin:hover {
    background: url("../../icons/linkedin-white.svg") no-repeat center, var(--gradient-left-right);
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-twitter {
    margin: 8px;
    background: url("../../icons/twitter-black.svg") no-repeat center;
    border-radius: 100px;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    align-content: center;
    width: 32px;
    border: 1px solid var(--neutral-sand);
    background-size: 16.13px 13.11px;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-twitter:hover {
    background: url("../../icons/twitter-white.svg") no-repeat center, var(--gradient-left-right);
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-facebook {
    margin: 8px;
    background: url("../../icons/facebook-black.svg") no-repeat center;
    border-radius: 100px;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    align-content: center;
    width: 32px;
    border: 1px solid var(--neutral-sand);
    background-size: 8.8px 17.6px;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-facebook:hover {
    background: url("../../icons/facebook-white.svg") no-repeat center, var(--gradient-left-right);
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-share {
    margin: 8px;
    background: url("../../icons/sharelink-black.svg") no-repeat center;
    border-radius: 100px;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    align-content: center;
    width: 32px;
    border: 1px solid var(--neutral-sand);
    background-size: 19.2px 19.2px;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-share:hover {
    background: url("../../icons/sharelink-white.svg") no-repeat center, var(--gradient-left-right);
}

.blog-left-nav[data-block-status="loaded"] .social-share-links::before,
.blog-left-nav[data-block-status="loaded"] .blog-content-links::before {
    font-family: var(--sans-serif-font-medium);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-11);
    line-height: var(--line-height-120);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--neutral-carbon);
    margin-bottom: 24px;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links::before {
    content: "SHARE VIA";
    align-self: center;
    margin-bottom: unset;
}

/* .blog-left-nav[data-block-status="loaded"] .blog-content-links::before {
    content: "IN THIS ARTICLE";
}

.blog-left-nav[data-block-status="loaded"] .blog-content-links {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 230px;
    padding-bottom: 48px;
} */

.blog-left-nav .content-link  {
    text-decoration-line: none;
    width: 240px;
    font-family: var(--sans-serif-font-light);
    font-size: var(--font-size-16);
    letter-spacing: var(--letter-spacing-001-em);
    color: var(--neutral-carbon);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: var(--line-height-160);
    padding-bottom: var(--spacer-element-03);
}

.blog-left-nav .content-link:last-child  {
    padding-bottom: 0;
}

.blog-left-nav .content-link.active {
    font-family: var(--sans-serif-font-regular);
    }

.blog-left-nav .content-link.active::before {
    content: '';
    border: solid 1px;
    border-image: var(--gradient-horizontal-down) 0 1;
    border-style: solid;
    border-width: 0 0 0 4px;
    height: 32px;
    padding-left: var(--spacer-layout-01);
    }

@media only screen and (min-width: 1200px) {
    .article-main-wrapper {
        display: flex;
    }

    .section.article-content .article-main-wrapper .blog-left-nav {
        width: 240px;
        margin: 48px 48px 0 0;
    }

    .blog-left-nav[data-block-status="loaded"] .blog-content-links::before {
        content: "IN THIS ARTICLE";
    }

    .blog-left-nav[data-block-status="loaded"] .blog-content-links {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 230px;
        padding-bottom: var(--spacer-layout-04);
    }

    .social-share-links {
        position: sticky;
        top: 350px;
        display: flex;
        flex-wrap: wrap;
    }

    .social-share-links::before {
        order: -1;
        flex: 1 0 100%;
    }

    .blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-linkedin,
    .blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-twitter,
    .blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-facebook,
    .blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-share{
        margin : var(--spacer-element-07) var(--spacer-element-05) 0 0 ;
        width: 40px;
        height: 40px;
        }

    .blog-left-nav[data-block-status="loaded"] .social-share-links::before,
    .blog-left-nav[data-block-status="loaded"] .blog-content-links::before {
        font-size: var(--font-size-14);
        }

        .blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-linkedin {
            background-size: 20.37px 20.97px;
        }

        .blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-twitter {
            background-size: 20.16px 16.38px;
        }

        .blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-facebook {
            background-size: 11px 22px;
        }

        .blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-share {
            background-size: 24px 24px;
        }

    .scroll-margin {
        scroll-margin-top: 100px;
    }

    .blog-content-links-is-sticky {
        margin-bottom: 130px;
    }

}

@media only screen and (max-width: 1200px) {
    /* .blog-content-links {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        background: var(--neutral-bone);
        top: 44.5px !important;
        padding-top: 24px;
        padding-bottom: 24px !important;
    } */

    .article-main-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .blog-content-links {
        display: none;
    }

    .social-share-links::before, .blog-content-links::before {
        font-size: var(--font-size-14);
    }

    .blog-left-nav.block {
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
        margin-bottom: 32px;
    }

    .blog-left-nav[data-block-status="loaded"] .social-share-links {
        top: 1px !important;
    }

}

/* devices */

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    /* .blog-content-links {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        background: var(--neutral-bone);
        top: 44.5px !important;
        padding-top: 24px;
        padding-bottom: 24px !important;
    } */

    .blog-content-links {
        display: none;
    }

    .blog-left-nav .content-link {
        width: unset;
    }

    .social-share-links::before {
        font-size: var(--font-size-11);
    }

    .blog-content-links::before {
        font-size: var(--font-size-11);
    }

    .blog-left-nav.block {
        display: flex;
        flex-direction: column-reverse;
    }

    .blog-left-nav[data-block-status="loaded"] .social-share-links {
        top: 1px !important;
    }

}

/* mobile devices */

@media only screen and (max-width: 768px) {
    /* .blog-content-links {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        background: var(--neutral-bone);
    } */

    .blog-content-links {
        display: none;
    }

    .social-share-links::before {
        font-size: var(--font-size-11);
    }

    .blog-content-links::before {
        font-size: var(--font-size-11);
    }

/*
    .blog-left-nav[data-block-status="loaded"] .blog-content-links {
        display: flex;
        flex-direction: column;
        height: auto;
        top: 44.5px !important;
        padding-top: 24px;
        padding-bottom: 24px !important;
    } */

    .scroll-margin {
        scroll-margin-top: 100px;
    }

    .blog-left-nav[data-block-status="loaded"] .social-share-links {
        top: 1px !important;
    }

    .blog-left-nav.block {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* end Social Share Icons */
