.article-content .tags[data-block-status="loaded"] {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--spacer-element-10);
    margin-bottom: var(--spacer-element-08);
}

.article-content .tags .tag {
    font-family: var(--sans-serif-font-regular);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-1);
    color: var(--neutral-carbon);
    background-color: var(--neutral-bone);
    border-radius: 100px;
    padding: var(--spacer-element-02) var(--spacer-element-05);
    margin-right: var(--spacer-element-03);
    margin-bottom: var(--spacer-element-05);
}

@media only screen and (min-width: 1200px) {
    .article-content .tags[data-block-status="loaded"]{
        margin-bottom: var(--spacer-element-08);
    }
}
