/* Section - Short Cards */
main .section.short-cards-container {
  overflow: hidden;
}

main .section.short-cards-container.section-full-width > .short-cards-wrapper,
main .section.short-cards-container.section-full-width > .short-cards-wrapper:last-child {
  width: 100%;
  padding-bottom: var(--spacer-layout-06);
  margin: 0 0 0 var(--spacer-element-07);
}

/* Block - Short Cards */
.short-cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--spacer-element-07);
}

.short-cards .short-cards__item {
  position: relative;
  margin: 0;
}

.short-cards .short-cards__item > div {
  width: 100%;
}

.short-cards .short-cards__item div:last-child {
  display: none;
}

.short-cards .short-cards__item a {
  text-align: center;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  min-height: var(--spacer-layout-06);
  padding: var(--spacer-element-08);
  font-size: var(--font-size-18);
  font-family: var(--sans-serif-font-medium);
  font-weight: 500;
  line-height: 160%;
  text-decoration: none;
  color: var(--neutral-carbon);
  border-radius: calc(var(--spacer-element-01) + var(--spacer-element-03));
  border: var(--spacer-element-01) solid var(--neutral-sand);
  transition: all .25s ease-in-out;
}

.short-cards .short-cards__item a:hover {
  border-color: var(--neutral-grey-tint100);
  background-color: var(--neutral-bone);
}

.short-cards .short-cards__item a span.icon {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  padding: 0 10px;
}

.short-cards .short-cards__item a span.icon svg {
  width: auto;
  height: var(--spacer-element-08);
}

/* Block - Short Cards with Graphic */
.short-cards.with-graphic {
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  gap: var(--spacer-element-07);
  padding: 0 var(--spacer-element-10) var(--spacer-element-03) 0 !important;
}

.short-cards.with-graphic .short-cards__item {
  min-width: 316px;
}

.short-cards.with-graphic .short-cards__item a {
  display: flex;
  align-items: center;
  text-align: left;
  padding-right: calc(var(--spacer-layout-02) + var(--spacer-layout-06));
  min-height: var(--spacer-layout-156);
}

.short-cards.with-graphic .short-cards__item a span.icon {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(var(--spacer-layout-02) + var(--spacer-layout-06));
  height: 100%;
  padding: 0;
}

.short-cards.with-graphic .short-cards__item a span.icon svg {
  width: calc(var(--spacer-layout-02) + var(--spacer-layout-06));
  height: 100%;
}

/* Themes */
.short-cards .short-cards__item[data-theme] a:hover {
  background-color: var(--theme-button-bg-hover);
  border-color: var(--theme-button-border);
}

.short-cards .short-cards__item[data-theme] a svg #circle-light * {
  fill: var(--theme-icon-01);
}

.short-cards .short-cards__item[data-theme] a svg #circle-dark * {
  fill: var(--theme-button-border);
}

.short-cards .short-cards__item[data-theme] a svg #lines *,
.short-cards .short-cards__item[data-theme] a svg #dots * {
  fill: var(--theme-line-color);
}

.short-cards .short-cards__item[data-theme] a:hover svg #lines *,
.short-cards .short-cards__item[data-theme] a:hover svg #dots * {
  fill: var(--theme-button-icon-hover);
}

/* Tablet */
@media only screen and (min-width: 768px) {
  /* Section - Short Cards */
  main .section.short-cards-container.section-full-width > .short-cards-wrapper,
  main .section.short-cards-container.section-full-width > .short-cards-wrapper:last-child {
    margin: 0 0 0 var(--spacer-layout-036);
  }

  /* Block - Short Cards */
  .short-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .short-cards .short-cards__item {
    min-width: 316px;
  }

  /* Block - Short Cards: with Graphic */
  .short-cards.with-graphic {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 var(--spacer-layout-05) var(--spacer-element-03) 0 !important;
  }

  .short-cards.with-graphic .short-cards__item a span.icon {
    right: 0;
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  /* Section - Short Cards */
  main .section.short-cards-container.section-full-width > .short-cards-wrapper,
  main .section.short-cards-container.section-full-width > .short-cards-wrapper:last-child {
    width: var(--secton-max-container);
    padding-bottom: var(--spacer-layout-07);
    margin: 0 auto;
  }

  /* Block - Short Cards */
  .short-cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .short-cards .short-cards__item {
    width: 100%;
  }

  .short-cards .short-cards__item a {
    font-size: var(--font-size-21);
  }

  /* Block - Short Cards with Graphic */
  .short-cards.with-graphic {
    overflow: inherit;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0 !important;
  }

  .short-cards.with-graphic .short-cards__item a {
    min-height: inherit;
  }

  .short-cards.with-graphic .short-cards__item a span.icon {
    top: -20%;
  }

  .short-cards.with-graphic .short-cards__item a span.icon svg {
    width: 100%;
    height: auto;
  }
}
