main .subtitle-icon p {
  font-family: var(--sans-serif-font-light);
  font-weight: var(--font-weight-light);
}

main .subtitle-icon {
  font-size: var(--font-size-16);
  line-height: var(--line-height-160);
  letter-spacing: var(--letter-spacing-1);
  vertical-align: top;
  color: var(--neutral-carbon);
  margin: var(--spacer-element-10) 0;
}

main .subtitle-icon h5 {
  font-family: var(--sans-serif-font-medium);
  font-weight: var(--font-weight-medium);
  margin: 16px auto;
}

main .subtitle-icon p:has(a:first-child) {
  text-align: unset;
}

main .subtitle-icon p>a {
  text-decoration: underline;
}

main .subtitle-icon svg {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

main .subtitle-icon .icon-arrow-up-right-light svg {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
