html {
    scroll-behavior: smooth;
}

.h2 {
    margin: unset;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links {
    position: sticky;
    top: 350px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    border-top: 1px solid #e7e2da;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-linkedin {
    margin: 8px;
    background: url("../../icons/linkedin-black.svg") no-repeat center;
    border-radius: 100px;
    display: inline-flex;
    height: 37.83px;
    justify-content: center;
    align-content: center;
    width: 40.75px;
    border: 1px solid var(--neutral-sand);
    background-size: 20px 20px;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-linkedin:hover {
    background: url("../../icons/linkedin-white.svg") no-repeat center, var(--gradient-left-right);
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-twitter {
    margin: 8px;
    background: url("../../icons/twitter-black.svg") no-repeat center;
    border-radius: 100px;
    display: inline-flex;
    height: 37.83px;
    justify-content: center;
    align-content: center;
    width: 40.75px;
    border: 1px solid var(--neutral-sand);
    background-size: 20px 20px;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-twitter:hover {
    background: url("../../icons/twitter-white.svg") no-repeat center, var(--gradient-left-right);
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-facebook {
    margin: 8px;
    background: url("../../icons/facebook-black.svg") no-repeat center;
    border-radius: 100px;
    display: inline-flex;
    height: 37.83px;
    justify-content: center;
    align-content: center;
    width: 40.75px;
    border: 1px solid var(--neutral-sand);
    background-size: 20px 20px;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-facebook:hover {
    background: url("../../icons/facebook-white.svg") no-repeat center, var(--gradient-left-right);
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-share {
    margin: 8px;
    background: url("../../icons/sharelink-black.svg") no-repeat center;
    border-radius: 100px;
    display: inline-flex;
    height: 37.83px;
    justify-content: center;
    align-content: center;
    width: 40.75px;
    border: 1px solid var(--neutral-sand);
    background-size: 20px 20px;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links .social-share-share:hover {
    background: url("../../icons/sharelink-white.svg") no-repeat center, var(--gradient-left-right);
}

.blog-left-nav[data-block-status="loaded"] .social-share-links::before,
.blog-left-nav[data-block-status="loaded"] .blog-content-links::before {
    font-family: var(--sans-serif-font-medium);
    font-weight: 500;
    font-size: var(--font-size-14);
    line-height: var(--line-height-120);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--neutral-carbon);
    margin-bottom: 24px;
}

.blog-left-nav[data-block-status="loaded"] .social-share-links::before {
    content: "SHARE VIA";
    align-self: center;
    margin-bottom: unset;
}

/* .blog-left-nav[data-block-status="loaded"] .blog-content-links::before {
    content: "IN THIS ARTICLE";
}

.blog-left-nav[data-block-status="loaded"] .blog-content-links {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 230px;
    padding-bottom: 48px;
} */

.blog-left-nav .content-link  {
    text-decoration-line: none;
    padding-left: 16px;
    width: 240px;
    font-family: var(--sans-serif-font-regular);
    font-size: 16px;
    letter-spacing: 0.01em;
    color: var(--neutral-carbon);
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-left-nav .content-link.active {
    text-decoration-line: none;
    border-image: linear-gradient(180deg, #90f, #fa1e32) 0 1;
    border-style: solid;
    border-width: 5px 0 5px 5px;
}


@media only screen and (min-width: 1200px) {
    .article-main-wrapper {
        display: flex;
    }

    .section.article-content .blog-left-nav {
        width: 240px;
        margin: 0 48px 0 0;
    }

    .blog-left-nav[data-block-status="loaded"] .blog-content-links::before {
        content: "IN THIS ARTICLE";
    }
    
    .blog-left-nav[data-block-status="loaded"] .blog-content-links {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 230px;
        
        /* height: auto; */
        padding-bottom: 48px;
    }

    .social-share-links {
        position: sticky;
        top: 350px;
        display: flex;
        flex-wrap: wrap;
    }

    .social-share-links::before {
        order: -1;
        flex: 1 0 100%;
    }

    .scroll-margin {
        scroll-margin-top: 100px;
    }

    .blog-content-links-is-sticky {
        margin-bottom: 130px;
    }

}

@media only screen and (max-width: 1200px) {
    /* .blog-content-links {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        background: var(--neutral-bone);
        top: 44.5px !important;
        padding-top: 24px;
        padding-bottom: 24px !important;
    } */
    .article-main-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .blog-content-links {
        display: none;
    }

    .social-share-links::before {
        font-size: 11px;
    }

    .blog-content-links::before {
        font-size: 11px;
    }

    .blog-left-nav.block {
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
        margin-bottom: 32px;
    }

    .blog-left-nav[data-block-status="loaded"] .social-share-links {
        top: 1px !important;
    }

}


/* devices */

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    /* .blog-content-links {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        background: var(--neutral-bone);
        top: 44.5px !important;
        padding-top: 24px;
        padding-bottom: 24px !important;
    } */
    
    .blog-content-links {
        display: none;
    }
    
    .blog-left-nav .content-link {
        width: unset;
    }

    .social-share-links::before {
        font-size: 11px;
    }

    .blog-content-links::before {
        font-size: 11px;
    }

    .blog-left-nav.block {
        display: flex;
        flex-direction: column-reverse;
    }

    .blog-left-nav[data-block-status="loaded"] .social-share-links {
        top: 1px !important;
    }

}


/* mobile devices */

@media only screen and (max-width: 768px) {
    /* .blog-content-links {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        background: var(--neutral-bone);
    } */

    .blog-content-links {
        display: none;
    }

    .social-share-links::before {
        font-size: 11px;
    }

    .blog-content-links::before {
        font-size: 11px;
    }
    
/* 
    .blog-left-nav[data-block-status="loaded"] .blog-content-links {
        display: flex;
        flex-direction: column;
        height: auto;
        top: 44.5px !important;
        padding-top: 24px;
        padding-bottom: 24px !important;
    } */

    .scroll-margin {
        scroll-margin-top: 100px;
    }

    .blog-left-nav[data-block-status="loaded"] .social-share-links {
        top: 1px !important;
    }

    .blog-left-nav.block {
        display: flex;
        flex-direction: column-reverse;
    }

}


/* end Social Share Icons */