main .iconnect p{
    font-family: var(--sans-serif-font-light);
    font-weight: var(--font-weight-light);
  }

  main .iconnect
  {
    font-size: var(--font-size-16);
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-1);
    vertical-align: top;
    color: var(--neutral-carbon);
    margin: var(--spacer-element-10) 0;
  }
  
  main .iconnect h5
  {
    font-family: var(--sans-serif-font-medium);
    font-weight: var(--font-weight-medium);
    margin: 16px auto;
  }
  
  main .iconnect p:has(a:first-child){
    text-align: unset;
  }
  
  main  .iconnect p > a{
    text-decoration: underline;
    }  

