/* Carousel block styles */

/** Carousel section styling */
.carousel-container {
    background: var(--neutral-bone);
    padding: var(--spacer-layout-06) 0 var(--spacer-layout-06);
}

.section.carousel-container .default-content-wrapper {
    padding-top: var(--spacer-layout-04);
}

.section.carousel-container p.button-container {
    margin: 0 auto;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    order: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

main .section div.carousel-wrapper {
    padding-top: var(--spacer-layout-06);
}

.carousel .carousel-slide h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.carousel .carousel-slide-container {
    width: 100%;
    max-width: 740px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    transition: height 0.2s linear
}

.carousel .carousel-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
}

.carousel .carousel-nav {
    opacity: 0;
    z-index: 2;
    top: 54px;
    height: 54px;
    width: 54px;
    position: absolute;
    transition: 0.5s;
    cursor: pointer;
    background: url('../../icons/testimonial.svg');
}

.carousel.image-carousel-full-width .figure,
.carousel.image-carousel-full-width .carousel-nav,
.carousel.image-carousel-full-width .carousel-dots {
    display: none;
}

.carousel .carousel-slide div .figure {
    align-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: var(--spacer-layout-01);
    justify-content: space-between;
    margin: var(--spacer-layout-02) auto 0;
    width: fit-content;
}

.carousel.testimonial .carousel-slide div .figure {
    flex-direction: column;
    margin: 0 auto;
    padding-top: var(--spacer-layout-03);
}

.carousel .carousel-slide > div {
    flex-direction: column;
    font-family: var(--serif-font);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-1-75);
    font-size: var(--font-size-28);
}

/* Testimonial */
.carousel.testimonial p {
    margin-left: 1em;
    font-size: var(--font-size-16);
    font-family: var(--sans-serif-font-regular);
    letter-spacing: var(--letter-spacing-1);
}

.carousel .carousel-slide div {
    display: flex;
    flex-direction: column;
}

/* Carousel Navigation */

.carousel .carousel-nav:hover {
    background: url('../../icons/testimonial-hover.svg');
}

.carousel .carousel-nav-prev {
    left: 0;
    transform: rotate(180deg);
}

.carousel .carousel-nav-next {
    right: 0;
}

.carousel.image-carousel-full-width .carousel-slide {
    width: auto;
    box-sizing: border-box;
    position: relative;
}

.carousel .carousel-slide > .figure img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    margin-bottom: 0;
    margin-right: var(--spacer-layout-02);
}

.carousel.image-carousel-full-width .carousel-slide img {
    max-width: inherit;
}

.carousel.image-carousel-full-width .carousel-slide-container {
    max-width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

.carousel .carousel-slide .figure p {
    text-align: center;
    margin: 0;
}

.carousel ul.carousel-dots {
    width: 100%;
    left: 50%;
    margin-top: var(--spacer-layout-03);
    margin-bottom: 0;
    order: 2;
    max-width: inherit;
    display: flex;
    flex-flow: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
}

.carousel .carousel-dots li {
    width: 12px;
    height: 12px;
    box-shadow: inset 0 0 100px 100px var(--neutral-sand);
    cursor: pointer;
    border-radius: 50%;
}

.carousel .carousel-dots li.carousel-dots-active {
    box-shadow: inset 0 0 100px 100px var(--primary-purple);
}

.carousel .carousel-dots button {
    display: none;
}

/* Links within carousel container */
.section.carousel-container .button-container {
    text-align: center;
    margin: var(--spacer-layout-05) 0 0;
}

/* Media queries */
@media screen and (min-width: 1200px) {
.carousel-container {
    background: var(--neutral-bone);
    padding: var(--spacer-layout-06) 0 var(--spacer-layout-06);
}

main .section div.carousel-wrapper {
    padding-top: var(--spacer-layout-07);
    padding-bottom: var(--spacer-layout-04);
}

.section.carousel-container .default-content-wrapper {
    padding-top: 0;
    padding-bottom: var(--spacer-layout-07);
}

.carousel .carousel-slide-container {
    width: 100%;
    max-width: 740px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    transition: height 0.2s linear
}

.carousel ul.carousel-dots {
    margin-top: var(--spacer-layout-02);
}

.carousel .carousel-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
}

.carousel .carousel-slide div {
    display: flex;
    flex-direction: column;
    font-family: var(--serif-font);
    font-weight: var(--font-weight-light);
    line-height: 124%;
    font-size: 31px;
}


    /* Testimonial */
    .carousel .carousel-slide .figure {
        flex-flow: row nowrap;
        gap: var(--spacer-layout-02);
    }

    .carousel.testimonial .carousel-slide .figure {
        display: inline-flex;
        flex-direction: row;
    }

    .carousel.testimonial .carousel-slide div .figure {
        flex-direction: row;
        padding-top: var(--spacer-layout-02);
    }

.carousel.testimonial p {
    margin-left: 1em;
    font-size: var(--font-size-16);
    font-family: var(--sans-serif-font-regular);
    letter-spacing: var(--letter-spacing-1);
}

    .carousel:hover .carousel-nav {
        opacity: 1;
    }
    
    .carousel .carousel-slide .figure p {
        text-align: left;
        margin: 0;
    }
}