/* Leadspace block styles */

/** Section styling */
.section.leadspace-container {
    background: var(--neutral-bone);
    padding: 0;
    overflow-x: clip;
    overflow-y: visible;
}

/** Block styling **/
main div.leadspace-wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 var(--spacer-layout-02) 0;
}

.leadspace:not(.document) > div {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: var(--spacer-layout-01);
}

.leadspace.document {
    padding-bottom: var(--spacer-layout-05);
    padding-top: var(--spacer-layout-05);
}

/* Column Specific Styles */
/* stylelint-disable-next-line no-descending-specificity */
.leadspace > div > div {
    position: relative;
}

.leadspace:not(.document) > div > div:nth-child(1) {
    margin: auto;
}

.leadspace.document .document-tag-container {
    display: flex;
    flex-flow: row wrap;
    row-gap: var(--spacer-element-03);
}

.leadspace.document .readtime {
    font-family: var(--sans-serif-font-medium);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-14);
    padding: var(--spacer-element-02) 0;
    margin-right: var(--spacer-element-07);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-02-em);
    text-transform: uppercase;
    color: var(--neutral-carbon);
}

.leadspace.document .document-tag {
    padding: var(--spacer-element-02) var(--spacer-element-05);
    background: var(--neutral-sand);
    border-radius: 100px;
    margin-right: var(--spacer-element-03);
}

.leadspace.document .download-link-container {
    padding-top: var(--spacer-layout-01);
}

.leadspace.document a.download-link {
    font-family: var(--sans-serif-font-regular);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-16);
    line-height: var(--line-height-120);
    color: var(--primary-purple);
    padding-right: var(--spacer-element-07);
    background: url('../../icons/arrow-down-download-purple.svg') no-repeat right center;
}

/* Eyebrow */
.leadspace > div > div:nth-child(1) > p:first-child {
    font-family: var(--sans-serif-font-medium);
    font-size: var(--font-size-11);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-02-em);
    line-height: var(--line-height-120);
}

/* Heading */
.leadspace > div > div:nth-child(1) > h1 {
    margin: var(--spacer-layout-02) 0 var(--spacer-layout-01) 0;
}

/* Image/Video */
/* stylelint-disable-next-line no-descending-specificity */
.leadspace > div > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Image Variants */
.leadspace > div > div:nth-child(2) picture {
    display: inline-block;
    align-self: flex-end;
}

.leadspace > div > div:nth-child(2) picture img {
    margin-bottom: -4px;
}

/* stylelint-disable-next-line no-descending-specificity */
.leadspace.event picture {
    display: none;
}

/* stylelint-disable-next-line no-descending-specificity */
.leadspace.half-circle img {
    clip-path: circle(50% at 50% 100%);
}

/* stylelint-disable-next-line no-descending-specificity */
.leadspace.quarter-circle img {
    clip-path: circle(100% at 100% 100%);
}

/* Button Group */
.leadspace .button-group {
    display: flex;
    flex-flow: column;
    gap: var(--spacer-layout-01);
}

/* Any button */
.leadspace .button-group .button-container {
    margin: 0;
}

/* Secondary Button */
.leadspace .button-group .button-container > em > a.button.secondary:hover,
.leadspace .button-group .button-container > em > a.button.secondary:active {
    margin-right: 2px;
}

/* Events */
.leadspace.event .event-group {
    margin-top: var(--spacer-element-09);
}

.leadspace.event p.event-item {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacer-element-06);
}

.leadspace.event p.event-item > em {
    font-size: var(--font-size-16);
    font-style: normal;
}

.leadspace.event p.event-item.location::before {
    content: '';
    width: 18px;
    background: url('../../icons/location-black.svg') no-repeat center;
    background-size: contain;
    resize: both;
    display: inline-block;
}

.leadspace.event p.event-item.date::before {
    content: '';
    width: 18px;
    background: url('../../icons/calendar-black.svg') no-repeat center;
    background-size: contain;
    resize: both;
    display: inline-block;
}

/* Video */
.leadspace.video .video-wrapper {
    clip-path: circle(65% at 50% 50%);
    margin-right: -10%;
}

.leadspace.video .video-wrapper video {
    height: 100%;
    max-height: 388px;
    outline: 0;
    border: 0;
}

.leadspace.video button.open-video {
    width: auto;
    height: 66px;
    background-color: var(--neutral-carbon);
    color: var(--neutral-white);
    font-family: var(--sans-serif-font-medium);
    letter-spacing: var(--letter-spacing-1);
    line-height: var(--line-height-160);
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    opacity: .8;
    align-items: center;
    padding: 11px 0 11px 24px;
    margin-top: var(--spacer-layout-03);
    cursor: pointer;
}

.leadspace.video button .video-button-content {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.leadspace.video button .video-button-content .video-button-title {
    font-size: var(--font-size-16);
    font-weight: 500;
    white-space: nowrap;
}

.leadspace.video button .video-button-content .video-button-duration {
    font-size: var(--font-size-12);
    font-weight: 300;
}

.leadspace.video button .video-button-icon {
    background: var(--primary-purple) url('./../../icons/play-button.svg') no-repeat 55% 50%;
    background-size: 14px;
    border-radius: 50%;
    height: 66px;
    width: 66px;
    margin: 0 0 0 24px;
}

.leadspace.video button.open-video:hover .video-button-icon {
    background: url('./../../icons/play-button.svg') no-repeat 55% 50%, var(--gradient-left-right);
}

/* Video control button */
.leadspace.video .video-control {
    display: block;
    position: absolute;
    bottom: 10%;
    right: 18%;
    visibility: hidden;
    z-index: 2;
}

.leadspace.video .video-control button {
    width: 67px;
    height: 67px;
    max-height: 67px;
    visibility: visible;
    background: transparent;
    border: 2px solid var(--neutral-white);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 0;
    cursor: pointer;
}

.leadspace.video .video-control button:hover {
    background-image: var(--gradient-left-right);
    border: 0;
    transition: all .2s ease-in-out;
}

.leadspace.video .video-control button > span {
    background-size: contain;
}

.leadspace.video .video-control.pause button > span {
    background-image: url('./../../icons/pause.svg');
    background-repeat: space;
    background-size: 35%;
    width: 13px;
    height: 19px;
    margin-left: 0;
}

.leadspace.video .video-control.play button > span {
    background-image: url('./../../icons/play-button.svg');
    background-repeat: no-repeat;
    height: 23px;
    width: 15px;
    margin-left: 5px;
}

.leadspace.video .scroll-border-wrapper {
    display: none;
}

/* Video modal */
.leadspace.video .video-modal {
    display: none;
    position: relative;
    z-index: 99999;
}

.leadspace.video .video-modal.open {
    display: block;
}

.leadspace.video .video-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--neutral-bone);
    opacity: .8;
    z-index: 0;
}

.leadspace.video .video-modal-container {
    display: block;
    top: 30%;
    left: 50%;
    width: auto;
    overflow: auto;
    position: fixed;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.leadspace.video .video-modal-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
}

.leadspace.video .video-modal-close {
    width: 40px;
    height: 40px;
    background: url('../../icons/close-button.svg') no-repeat;
    border: 0;
    cursor: pointer;
    margin-bottom: 1rem;
}

.leadspace.video .video-modal-content {
    height: auto;
    width: auto;
}

.leadspace.video .video-modal-content video {
    border-radius: 6px;
    height: 193px;
    width: 343px;
    object-fit: cover;
}

/* Media queries */
@media screen and (min-width: 768px) {
    main div.leadspace-wrapper {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 var(--spacer-layout-036) 0;
    }

    .leadspace > div {
        flex-flow: row nowrap;
        justify-content: stretch;
    }

    .leadspace:not(.document) > div > div {
        width: 50%;
    }

    .leadspace:not(.document) > div > div:nth-child(1) > p:last-of-type {
        max-width: 420px;
    }

    .leadspace > div > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }

    .leadspace .button-group {
        margin: var(--spacer-element-09) 0;
    }

    .leadspace.event picture {
        display: block;
    }

    .leadspace.video .video-wrapper {
        clip-path: circle(55% at 50% 50%);
        margin-right: -150%;
    }

    .leadspace.video .video-wrapper video {
        max-height: 488px;
    }

    .leadspace.video .video-modal-container {
        top: 50%;
    }

    .leadspace.video .video-modal-content video {
        border-radius: 20px;
        width: 700px;
        height: 100%;
        max-height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    main div.leadspace-wrapper {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 var(--spacer-layout-156) 0;
    }

    .leadspace.document {
        padding-bottom: var(--spacer-layout-06);
        padding-top: var(--spacer-layout-06);
    }

    .leadspace > div {
        flex-flow: row nowrap;
    }

    .leadspace > div > div:nth-child(1) > p:first-child {
        font-size: var(--font-size-14);
    }

    .leadspace > div > div:nth-child(1) > h1 {
        margin: var(--spacer-layout-03) 0 var(--spacer-layout-02) 0;
    }

    .leadspace .button-group {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .leadspace.video .video-wrapper {
        clip-path: circle(48% at 42% 42%);
    }

    .leadspace.video .video-wrapper video {
        max-height: 1824px;
    }

    .leadspace.video .video-control {
        bottom: 15%;
        right: 10%;
    }

    .leadspace.video button.open-video {
        position: absolute;
        top: 60%;
        left: 100%;
        z-index: 2;
    }

    .leadspace.video.scroll-border .scroll-border-wrapper {
        display: flex;
        position: absolute;
        bottom: -143px;
        gap: var(--spacer-layout-03);
        z-index: 2;
    }

    .leadspace.video .scroll-border-line {
        width: 2px;
        height: 286px;
        background-image: var(--gradient-horizontal-down);
        font-size: var(--font-size-14);
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing-02-em);
    }

    .leadspace.video .video-modal-content video {
        max-height: 581px;
        width: 1033px;
    }
}
