/* Leadspace block styles */

/** Section styling */
.section.leadspace-container {
    background: var(--neutral-bone);
    padding: 0;
}

/** Block styling **/
main div.leadspace-wrapper {
    width: 100%;
    margin: 0;
    padding: var(--spacer-layout-05) var(--spacer-layout-02) 0;
}

.leadspace > div {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.leadspace > div > div:nth-child(2) {
    display: flex;
}

/* Image Variants */
.leadspace.half-circle img {
    clip-path: circle(50% at 50% 100%);
}

.leadspace.quarter-circle img {
    clip-path: circle(100% at 100% 100%);
}

/* Column Specific Styles */

/* Eyebrow */
.leadspace > div > div:nth-child(1) > p:first-child {
    font-family: var(--sans-serif-font-medium);
    font-size: var(--font-size-11);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-02-em);
    line-height: var(--line-height-120);
}

.leadspace > div > div:nth-child(1) > h1 {
    margin: var(--spacer-layout-02) 0 var(--spacer-layout-01) 0;
}

.leadspace > div > div:nth-child(2) picture {
    display: inline-block;
    align-self: flex-end;
}

.leadspace > div > div:nth-child(2) picture img {
    margin-bottom: -4px;
}

.leadspace.event > div > div:nth-child(2) picture {
    display: none;
}

/* Button Group */
.leadspace .button-group {
    display: flex;
    flex-flow: column;
    gap: var(--spacer-layout-01);
}

/* Base button */
.leadspace .button-group .button-container {
    margin: 0;
}

.leadspace .button-group .button-container a {
    position:relative;
    cursor: pointer;
    color: var(--primary-purple);
    text-decoration: none;
    font-family: var(--sans-serif-font-medium);
    font-size: var(--font-size-16);
    font-weight: 500;
    letter-spacing: var(--letter-spacing-1);
    line-height: var(--line-height-160);
}

.leadspace .button-group .button-container > strong > a ,
.leadspace .button-group .button-container > em > a {
    box-sizing: border-box;
    display: inline-block;
    height: 48px;
    border-radius: 40px;
    padding: 11px var(--spacer-layout-02);
}

/* Primary Button */
.leadspace .button-container > strong > a.button.primary {
    background: var(--primary-purple);
    color: var(--neutral-white);
}

.leadspace .button-container > strong > a.button.primary::after {
    display: inline-block;
    content: '';
    margin-left: var(--spacer-layout-02);
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url('../../icons/arrow-white.svg') no-repeat right center;
    background-size: contain;
}

/* Secondary Button */
.leadspace .button-container > em > a.button.secondary {
    border: 1px solid var(--primary-purple);
    font-weight: 500;
    font-style: normal;
}

.leadspace .button-container > strong > a.button.primary:hover,
.leadspace .button-container > em > a.button.secondary:hover,
.leadspace .button-container > strong > a.button.primary:active,
.leadspace .button-container > em > a.button.secondary:active {
    border-style: none;
    background: var(--gradient-left-right);
    color: var(--neutral-white);
}

.leadspace .button-container > em > a.button.secondary:hover,
.leadspace .button-container > em > a.button.secondary:active {
    margin-right: 2px;
}

/* Tertiary Button */
.leadspace .button-group .button-container > a.primary {
    border-bottom: 2px solid var(--primary-purple);
}

.leadspace .button-group .button-container > a.primary:active,
.leadspace .button-group .button-container > a.primary:hover {
    background: var(--gradient-left-right);
    background-clip: text;
    -webkit-background-clip: text;     /* stylelint-disable-line */
    -webkit-text-fill-color: transparent;
    color: transparent;
    border-image-slice: 1;
    border-image-source: var(--gradient-left-right);
}

/* Events */
.leadspace.event .event-group {
    margin-top: var(--spacer-element-09);
}

.leadspace.event p.event-item {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacer-element-06);
}

.leadspace.event p.event-item > em {
    font-size: var(--font-size-16);
    font-style: normal;
}

.leadspace.event p.event-item.location::before {
    content: '';
    width: 18px;
    background: url('../../icons/location-black.svg') no-repeat center;
    background-size: contain;
    resize: both;
    display: inline-block;
}

.leadspace.event p.event-item.date::before {
    content: '';
    width: 18px;
    background: url('../../icons/calendar-black.svg') no-repeat center;
    background-size: contain;
    resize: both;
    display: inline-block;
}

/* Media queries */
@media screen and (min-width: 768px) {
    main div.leadspace-wrapper {
        max-width: 768px;
        margin: 0 auto;
        padding: var(--spacer-layout-05) var(--spacer-layout-036) 0;
    }

    .leadspace > div {
        flex-flow: row nowrap;
        justify-content: stretch;
        gap: var(--spacer-layout-01);
    }

    .leadspace > div > div {
        width: 50%;
    }

    .leadspace > div > div:nth-child(1) > p:last-of-type {
        max-width: 420px;
    }

    .leadspace .button-group {
        margin: var(--spacer-element-09) 0 104px 0;
    }

    .leadspace.event picture {
        display: block;
    }

}

@media screen and (min-width: 1200px) {
    main div.leadspace-wrapper {
        max-width: 1440px;
        margin: 0 auto;
        padding: var(--spacer-layout-05) var(--spacer-layout-156) 0;
    }

    .leadspace > div {
        flex-flow: row nowrap;
    }

    .leadspace > div > div:nth-child(1) > p:first-child {
        font-size: var(--font-size-14);
    }

    .leadspace > div > div:nth-child(1) > h1 {
        margin: var(--spacer-layout-03) 0 var(--spacer-layout-02) 0;
    }

    .leadspace .button-group {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
}
