/* CTA Auto Block Section */
.section.cta-container[data-section-status='loaded'] {
    position: relative;
    display: block;
}

.section.cta-container img {
    margin: 40px 0;
}

.section.cta-container {
    background-color: var(--neutral-sand);
    margin: unset;
    min-height: 291px;
}

.section.cta-container .cta.block {
    text-align: center;
}

.section.cta-container .cta.block h2 {
    margin: unset;
    font-size: 32px;
}

.section.cta-container .cta.block p {
    font-family: var(--sans-serif-font-light);
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-size-16);
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.01em;
}

/* CTA Button */
.section.cta-container .cta.block .button-container {
    margin: var(--spacer-element-09) auto 0 auto;
    width: unset;
}

@media only screen and (min-width: 1200px) {
    .section.cta-container .cta-wrapper {
        width: 740px;
        }

    .section.cta-container .cta.block h2 {
        font-size: 45px;
        margin-bottom: var(--spacer-element-07);
    }

    .section.cta-container .cta.block p {
        font-size: 21px;
    }
}
