.section.blog-breadcrumb-container {
    padding-top: var(--spacer-layout-03);
    padding-bottom: var(--spacer-layout-01);
}

.section.blog-breadcrumb-container .breadcrumb-navigation {
    /* padding: 10px 10px 10px 0; */
    height: 26px;
    margin: unset;
}


.section.blog-breadcrumb-container[data-section-status="loaded"] .blog-breadcrumb.block[data-block-status="loaded"] .breadcrumb-navigation > li {
    display: inline;
}

.breadcrumb-navigation > li > a {
    color: var(--neutral-carbon);
    text-decoration: none;
    font-family: var(--sans-serif-font-regular);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-16);
    line-height: var(--line-height-160);
    letter-spacing: 0.01em;
}

.breadcrumb-navigation > li > a:hover {
    color: var(--primary-purple);
    text-decoration: underline;
}

.breadcrumb-navigation li::after {
    padding: 0 10px 0 0;
    content: "";
    background: url('../../icons/arrow-breadcrumb.svg') no-repeat;
    top: 4px;
    position: relative;
    margin: 0 16px 0 10px;
}

.breadcrumb-navigation li:hover::after {
    color: var(--primary-purple);
}

@media only screen and (min-width: 768px){
    /* .blog-breadcrumb[data-block-status="loaded"]{
        padding: 0 0 10px;
    } */
    .section.blog-breadcrumb-container {
        padding-top: var(--spacer-layout-03);
    }
}


@media only screen and (min-width: 1200px){
    .section.blog-breadcrumb-container {
        padding-top: var(--spacer-layout-04);
        padding-bottom: var(--spacer-element-05);
    }
}
