.section.blog-breadcrumb-container {
    padding-top: var(--spacer-layout-03);
    padding-bottom: 0;
}

.section.blog-breadcrumb-container .blog-breadcrumb-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    }

.section.blog-breadcrumb-container .breadcrumb-navigation {
    padding: 10px 10px 10px 0;
    height: 26px;
    margin: unset;
}

.section.blog-breadcrumb-container[data-section-status="loaded"] .blog-breadcrumb.block[data-block-status="loaded"] .breadcrumb-navigation > li {
    display: inline;
}

ul.breadcrumb-navigation > li > a:any-link {
    color: var(--neutral-carbon);
    text-decoration: none;
    font-family: var(--sans-serif-font-regular);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-16);
    line-height: var(--line-height-160);
    letter-spacing: 0.01em;
    border-bottom: none;
}

ul.breadcrumb-navigation > li > a:any-link:hover,
ul.breadcrumb-navigation > li > a:any-link:active {
    color: var(--primary-purple);
    text-decoration: underline;
    -webkit-text-fill-color: unset;
}

ul.breadcrumb-navigation > li > a::after {
    content: "";
    position: relative;
    top: 4px;
    margin: 0 16px 0 10px;
    padding: 0 10px 0 0;
    background: url('../../icons/arrow-breadcrumb.svg') no-repeat;
}

ul.breadcrumb-navigation > li > a:any-link:hover::after,
ul.breadcrumb-navigation > li > a:any-link:active::after {
    background: url('../../icons/arrow-breadcrumb-purple.svg') no-repeat;
}

@media only screen and (min-width: 768px){
    /* .blog-breadcrumb[data-block-status="loaded"]{
        padding: 0 0 10px;
    } */
    .section.blog-breadcrumb-container {
        padding-top: var(--spacer-layout-03);
    }
}

@media only screen and (min-width: 1200px){
    .section.blog-breadcrumb-container {
        padding-top: var(--spacer-layout-04);
        padding-bottom: var(--spacer-element-05);
    }
}
