/* Headshots CSS */

main .headshots > div {
    display: flex;
    flex-flow: column;
    gap: var(--spacer-layout-05);
    margin-bottom: var(--spacer-layout-05);
}

main .headshots .headshot-item {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    gap: var(--spacer-layout-03);
}

main .headshots .headshot-item h3 {
    font-size: var(--font-size-24);
    margin: 0 0 var(--spacer-element-03) 0;
    font-family: var(--sans-serif-font-light);
}

main .headshots .headshot-item p {
    font-size: var(--font-size-16);
    margin: 0;
}

main .headshots .headshot-item .headshot-avatar p {
    margin: 0;
}

main .headshots .headshot-item .headshot-avatar img {
    border-radius: 50%;
    max-width: 64px;
    max-height: 64px;
    aspect-ratio: 1 / 1;
}

main .headshots .headshot-item .headshot-links {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacer-element-05);
    border-top: 1px solid var(--neutral-sand);
    padding: var(--spacer-element-05) 0 0;
    margin-top: var(--spacer-element-05);
}

main .headshots .headshot-links span.icon {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: solid 1px var(--neutral-sand);
    border-radius: 50%;
    background-color: var(--neutral-white);
}

main .headshots .headshot-links a:hover span.icon,
main .headshots .headshot-links a:active span.icon {
    background-image: var(--gradient-left-right);
}

main .headshots .headshot-links span.icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .headshots .headshot-links a:hover span.icon svg *,
main .headshots .headshot-links a:active span.icon svg * {
    fill: var(--neutral-white);
}

main .headshots-container .default-content-wrapper:first-child > h2 {
    margin: 0 0 var(--spacer-layout-04);
}

@media screen and (min-width: 768px) {
    main .headshots > div {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 80px;
    }

    main .headshots > div:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    main .headshots-container .default-content-wrapper:first-child > h2 {
        margin: 0 0 80px;
    }
}
