/* Mobile styles and defaults */
.related-articles-container[data-section-status="loaded"] {
    padding: var(--spacer-layout-05) var(--spacer-layout-02);
    background: var(--neutral-bone);
}

.related-articles-container[data-section-status="loaded"] h2 {
    font-family: var(--sans-serif-font-regular);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-14);
    line-height: var(--line-height-120);
    color: var(--primary-black);
    letter-spacing: var(--letter-spacing-02-em);
    text-transform: uppercase;
    margin: unset;
}

.related-articles[data-block-status="loaded"] {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* padding-top: var(--spacer-layout-04); */
    gap: var(--spacer-layout-03);
    font-family: var(--sans-serif-font-regular);
    font-style: normal;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-16);
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-001-em);
    color: var(--neutral-carbon);
}

.related-articles[data-block-status="loaded"] > .blog-card {
    position: relative;
    background-color: #fff;
    height: 100%;
}

.related-articles[data-block-status="loaded"] > div:hover {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 20px 40px -14px rgb(0 0 0 / 25%);
}

.related-articles[data-block-status="loaded"] > div:hover a {
    color: var(--primary-purple);
    text-decoration-line: underline;
}

.related-articles[data-block-status="loaded"] > div.blog-card > div.card-image,
.related-articles[data-block-status="loaded"] > div.blog-card:hover > div.card-image {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    aspect-ratio: 3 / 2;
    height: auto;
    width: 100%;
}

.related-articles > div.blog-card > div.card-image img {
    height: 100%;
    object-fit: cover;
}

.related-articles[data-block-status="loaded"] > div.blog-card:hover > div.card-image > picture > img {
    transition: all .3s ease-in-out;
    transform: scale(1.05);
}

.related-articles[data-block-status="loaded"] a.blog-link {
    text-decoration: none;
    font-weight: 400;
    color: inherit;
}

.related-articles[data-block-status="loaded"] > .blog-card > .card-content {
    padding: var(--spacer-element-08) var(--spacer-element-07);
}

.related-articles[data-block-status="loaded"] > .blog-card > .card-content > p {
    margin: var(--spacer-element-03) 0 var(--spacer-element-07);
}

.related-articles[data-block-status="loaded"] > .blog-card > .card-content > .blog-author {
    font-size: 12px;
    font-family: var(--sans-serif-font-light);
}

.related-articles[data-block-status="loaded"] > .blog-card > .card-content > .blog-category:not(:empty) {
    font-size: 14px;
    letter-spacing: .16px;
    background-color: #fff;
    opacity: 0.85;
    border-radius: 100px;
    left: var(--spacer-element-05);
    padding: var(--spacer-element-02) var(--spacer-element-05);
    position: absolute;
    top: var(--spacer-element-07);
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
    .related-articles-container[data-section-status="loaded"] {
        padding: var(--spacer-layout-05) var(--spacer-layout-036) var(--spacer-layout-04);
    }

    .related-articles[data-block-status="loaded"] {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacer-element-10) var(--spacer-element-07);
    }
}

/* Desktop styles */
@media only screen and (min-width: 1200px) {
    .related-articles-container[data-section-status="loaded"] {
        padding: var(--spacer-layout-06) var(--spacer-layout-07);
    }

    .related-articles[data-block-status="loaded"] {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--spacer-element-10) var(--spacer-element-07);
    }
}