/* Block - Quick Links Buttons */
.quick-links-buttons .quick-links-buttons__item {
  padding: 0 var(--spacer-element-07);
  margin-bottom: var(--spacer-element-05);
}

.quick-links-buttons .quick-links-buttons__item:last-child {
  margin-bottom: 0;
}

.quick-links-buttons .quick-links-buttons__item a {
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: var(--sans-serif-font-medium);
  font-size: var(--font-size-14);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-1);
  padding: var(--spacer-element-04) var(--spacer-element-07);
  border-radius: 40px;
  color: var(--neutral-carbon);
  border-width: 2px;
  border-color: var(--primary-purple);
  border-style: solid;
  background-color: transparent;
  transition: all .2s ease-in;
}

.quick-links-buttons .quick-links-buttons__item a:hover {
  background-color: var(--neutral-white);
}

/* Themes - Quick Links Buttons */
.section[data-theme] .quick-links-buttons .quick-links-buttons__item a {
  background-color: var(--theme-button-bg);
  border-color: var(--theme-button-border);
  color: var(--neutral-carbon);
}

.section[data-theme] .quick-links-buttons .quick-links-buttons__item a:hover,
.section[data-theme] .quick-links-buttons .quick-links-buttons__item a:focus {
  background-color: var(--theme-button-bg-hover);
}

/* Tablet */
@media only screen and (min-width: 768px) {
  /* Block - Quick Links Buttons */
  .quick-links-buttons .quick-links-buttons__item {
    padding: 0 var(--spacer-element-10);
    margin-bottom: var(--spacer-element-07);
  }

  /* Brand - Base Button */
  .quick-links-buttons .quick-links-buttons__item a {
    font-size: var(--font-size-16);
  }
}
