
   footer {
    --footer-font-color: var(--neutral-white);background-color: var(--neutral-carbon);
  }

  footer .footer-links>div{
    display: flex;
    padding-bottom: 1.5rem;
   
  }

  footer .footer > div > div {
    padding: 96px 0 32px;
  }

  footer .footer-links > div > div{
    flex: 1 1 13.7875rem;
    padding-right: 1.625rem;
    margin-right: 23px;
  }

  footer .footer-links > div > div:first-of-type{
    flex: 1 1 17.5rem; 
  }

  footer .footer-links >div >div:last-of-type{
    flex: 1 1 6.825rem;
  }

  footer .footer-links > div > div> h4{
    color: var(--neutral-grey-tint120);
    font-size: 21px;
    font-family: var(--sans-serif-font-medium);
    margin: 0 0 24px;
    letter-spacing: .01em;
    line-height: 160%;
    font-weight: 500;
  }

  footer .footer-links .icon {
    width: 40px;
    height: 40px;
    background-color: var(--neutral-white);
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
  }

  footer .footer-links .icon:hover{
    background: var(--gradient-left-right);
  }

  footer .footer-links .icon-footer-logo {
    border-radius: 0%;
    background-color: transparent;
    font-family: var(--serif-font);
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    height: 56px;
    width: 158.06px;
  }

  footer .footer-links .icon-email > svg{
    margin: 0.5rem auto;
    width: 26px;
    height: 23.86px;
  }

  footer .footer-links .icon.icon-email, footer .footer-links .icon.icon-linkedin{
    margin: 0 0 36px;
  }

  footer .footer-links .icon.icon-twitter{
    margin: 0 21px 0 36px;
  }
  

  footer .footer-links div:last-of-type > p:last-of-type {
    display: flex;
  }

  footer .footer-links .icon-linkedin > svg{
    margin: 0.5rem auto;
    width: 20.75px;
    height: 19.83px;
  }

  footer .footer-links .icon-twitter{
    margin-left: 21px;
  }

  footer .footer-links .icon-twitter > svg{
    margin: 0.8rem auto;
    width: 20.16px;
    height: 16.38px;
  }

  footer .footer-links .icon:hover svg{
    filter: invert(100%);
  }

  footer .footer-links .icon-footer-logo:hover {
    background: none;
  }

  footer .footer-links .icon-footer-logo:hover svg{
    filter: none;
  }

  /* styles for the lower section links */
  footer .footer-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  footer .footer-links ul li{
    margin-bottom: 1.875rem;
  }

  footer .footer-links ul li a{
    color: var(--footer-font-color);
    font-family: var(--sans-serif-font-regular);
    font-size: 14px;
    text-decoration: none;
    line-height: 22.4px;
  }

  footer .footer-links+ul>li a{
    text-decoration: none;
    color: var(--neutral-grey-tint120);
  }

  footer .footer-links ul li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-purple);
  }

  footer .footer-links+ul{
    list-style: none;
    display: flex;
    padding-top: 32px;
    padding-left: 0;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
  }

  footer .footer-links+ul li{
    color:var(--neutral-grey-tint120);
    font-size: 16px;
    flex: 1 1 0;
  }

  footer .footer-links+ul>li a:hover{
    text-decoration: underline;
    text-decoration-color: var(--primary-purple);
  }

  /* footer div:last-of-type > ul:last-of-type > li:last-of-type span.cookie-consent{
    border-bottom: 2px solid #90f;
  }
   */

   footer div:last-of-type > ul:last-of-type > li:last-of-type span.cookie-consent:hover {
    text-decoration: underline;
  }

  footer div:last-of-type > ul:last-of-type > li:last-of-type a:hover{
    border-bottom: 2px solid var(--gradient-left-right);
  }


  /* end styles for lower section */

  /* Media queries */

  /* || Begin Styles for screen sizes greater than or equal to 1200 px */

  @media screen and (min-width: 1200px) {
    footer .footer {
      max-width: var(--section-width-desktop);
      max-height: auto;
      margin: 0 auto;
      font-size: var(--font-size-16);
    }

    footer .footer-links {
      margin: auto;
      max-width: 80vw;
    }

    footer .footer-links+ul>li:first-of-type{
      flex: 1 1 480px;
      display: flex;
      font-family: var(--sans-serif-font-regular);
      font-size: 16px;
      letter-spacing: .01em;
      line-height: 160%;
      font-weight: 400;
      width: 100%;
    }
  }

  /* || Begin Styles for screen sizes less than or equal to 1200 px */
  @media  screen and (min-width: 768px) and (max-width: 1200px) {
    footer .footer-links {
      margin: auto;
      max-width: 85vw;
    }

    footer .footer > div > div {
      padding-top: 3rem;
      padding-bottom: 1rem;
    }

    footer .footer-links+ul {
      margin: auto;
      max-width: 85vw;
    }

    footer .footer-links+ul>li:first-of-type{
      font-weight: 400;
      flex: 1 1 300px;
      display: flex;
    }

  }

  /* || End Styles for screen sizes less than or equal to 1200px */
   
  /* || Mobile styles */

  @media only screen and (max-width: 768px){
    footer .footer{
      margin-bottom: 0;
      max-height: fit-content;
    }

    footer .footer-links {
      margin: 0;
      max-width: 100vw;
    }
    
    footer .footer-links>div{
      flex-direction: column;
      margin-left: 20px;
      margin-top: 10px;
      border-bottom: none;
    }
   
    footer .footer > div > div{
      padding-top: 3rem;
    }

    footer .footer-links > div > div{
      flex: 1 1 0;
    }

    footer .footer-links > div > div:not(:first-of-type) {
      border-bottom: 0.1px solid var(--neutral-grey-tint100);
    }

    footer .footer-links > div > div:first-of-type {
      width: 17.5rem;
      flex: 1 1 0;
      margin-bottom: 3rem;
    }

    footer .footer-links > div > div:last-of-type {
      border-bottom: none;
      flex: 1 1 0;
    }

    footer .footer-links > div > div > h4 {
      color: var(--neutral-white);
      font-size: var(--font-size-18);
      font-family: var(--sans-serif-font-semibold);
      margin-top: 22px;
      margin-bottom: 24px;
      letter-spacing: .01em;
      line-height: 160%;
      font-weight: 500;
      background: url('../../icons/arrow-up-white.svg') no-repeat right center;
   }

  .footer .footer-links #contact-us {
    background-image: none;
  }

   footer .footer-links .fold {
      background: url('../../icons/arrow-down-white.svg') no-repeat right center;
   }

   footer .footer-links .unfold {
    background: url('../../icons/arrow-up-white.svg') no-repeat right center;
  }

  footer .footer-links+ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 0;
  }
 
  footer .footer-links ul {
   display: none;
  }

  footer .footer-links ul li a {
    color: var(--neutral-grey-tint100);
  }
  
  footer .footer-links .active {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
  }

  footer .footer-links+ul>li{
    color:var(--neutral-grey-tint100);
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 200;
  }

  footer .footer-links+ul>li>a{
    color:var(--neutral-grey-tint100);
  }

  footer .footer-links+ul>li:first-of-type{
    font-weight: 400;
    flex: 1 1 0;
    order: 3;
    margin-top: 24px;
    display: flex;
    justify-content:space-between;
  }

  footer .footer ul .social-icons {
    width: 50%;
    position: relative;
  }

  footer .footer ul .social-icons .icon {
    width: 35px;
    height: 35px;
    background-color: var(--neutral-white);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
  }
  
  footer .footer-links .icon-footer-logo {
    height: 45px;
    width: 127px;
  }
  
  footer .footer ul .social-icons .icon > svg {
      width: 20px;
      height: 20px;
  }

  footer .footer ul .social-icons .icon-linkedin {
    position: absolute;
    bottom: 0;
    right: 20px;
  }

  footer .footer ul .social-icons .icon-twitter {
    position: absolute;
    bottom: 0;
    right: 70px;
  }



  footer .footer-links .icon-email {
    display: none;
  }

  footer .footer-links div:last-of-type > p:last-of-type {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 0;
  }

  footer .footer-links #follow-us , 
  footer .footer-links #contact-us > p {
   display: none;
  }

  footer .footer-links #follow-us , 
  footer .footer-links #contact-us {
    font-family: var(--sans-serif-font-medium);
    letter-spacing: .01em;
    line-height: 160%;
    font-weight: 500;
    width: 100%;
  }
}

 /* || End Styles for screen sizes less than or equal to 667 px */