
   footer {
    --footer-font-color: #fff;
 
    background-color: #202020;
  }

  footer .footer-links>div{
    display: flex;
    padding-bottom: 1.5rem;
    border-bottom: 0.1px solid  #636161;
  }

  footer .footer > div > div {
    padding-top: 6rem;
    padding-bottom: 1rem;
  }

  footer .footer-links > div > div{
    flex: 1 1 13.7875rem;
    padding-right: 1.625rem;
  }

  footer .footer-links > div > div:first-of-type{
    flex: 1 1 17.5rem; 
  }

  footer .footer-links >div >div:last-of-type{
    flex: 1 1 6.825rem;
  }

  footer .footer-links > div > div> h4{
    color: #8B8883;
    font-size: 18px;
    font-family: "Alliance Light",sans-serif;
    margin-bottom: 24px;
    font-weight: 300;
  }

  footer .footer-links .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
  }

  footer .footer-links .icon:hover{
    background: linear-gradient(270deg, rgb(250 30 50), rgb(153 0 255));
  }

  footer .footer-links .icon-footer-logo {
    border-radius: 0%;
    background-color: transparent;
    font-family: "Source Serif4 Regular", sans-serif;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }

  footer .footer-links .icon-footer-logo > svg{
    height: 56px;
    width: 158.06px;
  }

  footer .footer-links .icon-email > svg{
    margin: 0.48rem auto;
  }

  footer .footer-links div:last-of-type > p:last-of-type {
    display: flex;
  }

  footer .footer-links .icon-linkedin > svg{
    margin: 0.4rem auto;
    width: 20px;
    height: 20px;
  }

  footer .footer-links .icon-twitter{
    margin-left: 21px;
  }

  footer .footer-links .icon-twitter > svg{
    margin: 0.5rem auto;
    width: 20px;
    height: 20px;
  }

  footer .footer-links .icon:hover svg{
    filter: invert(100%);
  }

  footer .footer-links .icon-footer-logo:hover {
    background: none;
  }

  footer .footer-links .icon-footer-logo:hover svg{
    filter: none;
  }

  /* styles for the lower section links */
  footer .footer-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  footer .footer-links ul li{
    margin-bottom: 1.875rem;
  }

  footer .footer-links ul li a{
    color: var(--footer-font-color);
    font-family: "Alliance Regular", sans-serif;
    font-size: 14px;
    text-decoration: none;
  }

  footer .footer-links+ul>li a{
    color:var(--footer-font-color);
    text-decoration: none;
  }

  footer .footer-links ul li a:hover {
    text-decoration: underline;
  }

  footer .footer-links+ul{
    list-style: none;
    display: flex;
    padding-top: 1rem;
    padding-left: 0;
    justify-content: space-between;
  }

  footer .footer-links+ul li{
    color:var(--footer-font-color);
    font-size: 16px;
    flex: 1 1 0;
  }

 

  footer .footer-links+ul>li a:hover{
    text-decoration: underline;
  }

  /* end styles for lower section */

  /* Media queries */

  /* || Begin Styles for screen sizes greater than or equal to 1120 px */

  @media screen and (min-width: 1120px) {
    footer .footer {
      max-width: 70rem;
      max-height: 36.75rem;
      margin: 0 auto;
      font-size: var(--body-font-size-s);
    }

    footer .footer-links {
     margin: auto;
     max-width: 80vw;
    }

    footer .footer-links+ul>li:first-of-type{
      font-weight: 400;
      flex: 1 1 480px;
      display: flex;
    }
  }

  /* || Begin Styles for screen sizes less than or equal to 1119 px */
  @media  screen and (max-width: 1119px) {
    footer .footer-links {
      margin: auto;
      max-width: 85vw;
    }

    footer .footer > div > div {
      padding-top: 3rem;
      padding-bottom: 1rem;
    }

    footer .footer-links+ul {
      margin: auto;
      max-width: 85vw;
    }

    footer .footer-links+ul>li:first-of-type{
      font-weight: 400;
      flex: 1 1 300px;
      display: flex;
    }

  }

  /* || End Styles for screen sizes less than or equal to 1119 px */
   
  /* || Begin Styles for screen sizes less than or equal to 667 px */

  @media screen and (max-width: 667px){
    footer .footer{
      margin-bottom: 0;
      max-height: fit-content;
    }

    footer .footer-links{
      margin: 0;
      max-width: 100vw;
    }
    
    footer .footer-links>div{
      flex-direction: column;
      margin-left: 20px;
      margin-top: 10px;
      border-bottom: none;
    }
   
    footer .footer > div > div{
      padding-top: 3rem;
    }

    footer .footer-links > div > div{
      flex: 1 1 0;
    }

    footer .footer-links > div > div:not(:first-of-type) {
      border-bottom: 0.1px solid #B9B5AE;
    }

    footer .footer-links > div > div:first-of-type {
      width: 17.5rem;
      flex: 1 1 0;
      margin-bottom: 3rem;
    }

    footer .footer-links > div > div:last-of-type {
      border-bottom: none;
      flex: 1 1 0;
    }

    footer .footer-links > div > div > h4 {
      color: white;
      font-size: 16px;
      font-family: "Alliance Light", sans-serif;
      margin-top: 22px;
      margin-bottom: 24px;
      font-weight: 300;
    
   }

   footer .footer-links .fold {
      background: url('../../icons/arrow-down-white.svg') no-repeat right center;
   }

  footer .footer-links+ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 0;
  }
 
  footer .footer-links ul {
   display: none;
  }

  footer .footer-links .active {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
  }

  footer .footer-links+ul>li{
    color:#B9B5AE;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 200;
  }

  footer .footer-links+ul>li>a{
    color:#B9B5AE;
  }

  footer .footer-links+ul>li:first-of-type{
    font-weight: 400;
    flex: 1 1 0;
    order: 3;
    margin-top: 24px;
    display: flex;
    justify-content:space-between;
  }

  footer .footer ul .social-icons {
    width: 50%;
    position: relative;
  }

  footer .footer ul .social-icons .icon {
    width: 35px;
    height: 35px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
  }
  
  footer .footer-links .icon-footer-logo > svg {
    height: 45px;
    width: 127px;
  }
  
  footer .footer ul .social-icons .icon > svg {
      width: 20px;
      height: 20px;
  }

  footer .footer ul .social-icons .icon-linkedin {
    position: absolute;
    bottom: 0;
    right: 20px;
  }

  footer .footer ul .social-icons .icon-twitter {
    position: absolute;
    bottom: 0;
    right: 70px;
  }

  footer .footer-links ul li a {
  color:#B9B5AE;
  }

  footer .footer-links .icon-email {
    display: none;
  }

  footer .footer-links #follow-us , 
  footer .footer-links #contact-us > p {
   display: none;
  }
}

 /* || End Styles for screen sizes less than or equal to 667 px */