main .section.image-flush-bottom-container > .image-flush-bottom-wrapper,
.image-flush-bottom .only-picture img{
    width: 100% ;
}

.image-flush-bottom {
    border-bottom: 1px solid var(--neutral-sand);
    display: flex;
    justify-content: center;
}

.image-flush-bottom .only-picture {
    border-radius: 10px 10px 0 0;
    border-top: 1px solid var(--neutral-sand);
    border-right: 1px solid var(--neutral-sand);
    border-left: 1px solid var(--neutral-sand);
    max-width: 324px;
}

@media (min-width: 768px) {
    .image-flush-bottom .only-picture {
        max-width: 575px;
    }

}

@media (min-width: 1200px) {
    .image-flush-bottom .only-picture {
        border-radius: var(--spacer-element-06) var(--spacer-element-06) 0 0;
        background: var(--neutral-white);
        max-width: var(--section-width-desktop);
    }

}