/* below the fold CSS goes here */

/* || Source Serif4 Font Family  */
@font-face{
    font-family:"Source Serif4 Light";
    src:url("/styles/fonts/SourceSerif4/SourceSerif4-Light.woff2") format("woff2");
    font-display: swap;
}

@font-face {
  font-family: "Source Serif4 Regular";
  src: url("/styles/fonts/SourceSerif4/SourceSerif4-Regular.woff2") format("woff2");
  font-display: swap;
}

/* || Alliance Font Family  */
@font-face {
  font-family: "Alliance Light";
  src: url("/styles/fonts/Alliance/AllianceNo.1-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Alliance Regular";
  src: url("/styles/fonts/Alliance/AllianceNo.1-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Alliance Medium";
  src: url("/styles/fonts/Alliance/AllianceNo.1-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Alliance SemiBold";
  src: url("/styles/fonts/Alliance/AllianceNo.1-SemiBold.woff2") format("woff2");
  font-display: swap;
}