/* below the fold CSS goes here */

/* || Source Serif4 Font Family  */
@font-face{
  font-family:"Source Serif Pro Light";
  src:url("../styles/fonts/SourceSerif4/SourceSerifPro-Light.ttf");
  font-display: swap;
}

/* || Alliance Font Family  */
@font-face {
  font-family: "Alliance No.1 Light";
  src: url("../styles/fonts/Alliance/AllianceNo.1-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.1 Regular";
  src: url("../styles/fonts/Alliance/AllianceNo.1-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.1 Medium";
  src: url("../styles/fonts/Alliance/AllianceNo.1-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.1 Semibold";
  src: url("../styles/fonts/Alliance/AllianceNo.1-SemiBold.woff2") format("woff2");
  font-display: swap;
}

/* 404 error page styling */
main.error {
  background-color: var(--neutral-white);
  min-height: unset;
  margin-top:64px;
}

main.error > .section{
  margin: 0 auto;
  border: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

main.error > .section h1{
  text-align: center;
  border: 0;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: var(--serif-font);
  letter-spacing: .0175em;
  font-weight: var(--font-weight-light);
  background: linear-gradient(270deg,#fa1e32,#90f);
  background-clip: text;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  display: inline-block;
  font-size: 128px;
  line-height: 154px;
  -webkit-text-fill-color: transparent;
}

main.error div span.heading-h2{
  text-align: center;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: var(--serif-font);
  line-height: 120%;
  letter-spacing: .0175em;
  font-weight: var(--font-weight-light);
  font-size: 45px;

}

main.error div span{
text-align: center;
font-kerning: inherit;
text-transform: inherit;
border: 0;
margin: 0;
padding: 0;
box-sizing: inherit;
letter-spacing: .01em;
line-height: 160%;
font-family: var(--sans-serif-font-light);
font-weight: var(--font-weight-light);
font-size: 21px;
}

main.error a.button-404{
  text-align: center;
  font-family: var(--sans-serif-font-medium);
  letter-spacing: .01em;
  line-height: 160%;
  font-weight: var(--font-weight-medium);
  font-size: 100%;
  margin: 0;
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  height: auto;
  background: transparent;
  border: 0;
  border-radius: 0;
  display: inline-flex;
  justify-content: left;
  min-height: unset;
  padding: 0;
  width: auto;
}


main.error a.button-404  span{
  cursor: pointer;
  text-align: left;
  font-family: var(--sans-serif-font-medium);
  font-size: 16px;
  letter-spacing: .01em;
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
  color: #90f;
  border-bottom: 2px solid #90f;
  line-height: 120%;
}

/* Styles for Columns with the "stat" class, and "stat-wrapper" section metadata style */
div.stat-wrapper {
  padding: 0;
}

div.stat-wrapper .columns-wrapper {
  width: 100%;
  margin: 0;
}

div.stat-wrapper .stat {
  background-color: var(--neutral-carbon);
  color: var(--neutral-white);
  padding: var(--spacer-layout-05) var(--spacer-layout-02) var(--spacer-layout-04);
}

div.stat-wrapper .stat > div {
  display: flex;
  align-items: start;
  column-gap: var(--spacer-element-07);
}

/* Gradiant line, from purple to red */
div.stat-wrapper .stat > div > div::before {
  display: block;
  content: " ";
  height: 1px;
  background-image: linear-gradient(270deg, #fa1e32, #90f);
}

div.stat-wrapper .stat h1 {
  font-size: 96px;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

div.stat-wrapper .stat p {
  font-size: var(--font-size-16);
  letter-spacing: .01em;
  line-height: 160%;
  font-weight: 400;
  color: var(--neutral-white);
  padding: 0;
  margin: 0 0 var(--spacer-layout-03) 0;
  overflow-wrap: break-word;
}

div.stat-wrapper .stat p:last-child {
  margin-bottom: 0;
}

/* A single stat element */
div.stat-wrapper .stat > div > div {
  margin-bottom: var(--spacer-layout-04);
  width: 100%;
}

/* Gray bar which resides below stats */
div.stat-wrapper .stat::after {
  display: block;
  content: " ";
  height: 1px;
  border-top: 1px solid #8b8883;
  padding-top: var(--spacer-element-08);
}

/* Overriding default column styles b/c the 1st breakpoint for the Stat component is 768px — not 900px */
@media (min-width: 768px) {
  .columns.stat > div {
    display: flex;
    align-items: center;
    flex-direction: unset;
  }

  .columns.stat > div > div {
    flex: 1;
  }

  div.stat-wrapper .stat > div > div {
    margin-left: 0;
  }

  .columns.stat > div > div:first-of-type {
    margin-left: unset;
  }

  div.stat-wrapper .stat {
    padding: 80px var(--spacer-layout-036) var(--spacer-layout-03);
  }
}

/* Desktop styles */
@media (min-width: 1192px) {
  div.stat-wrapper .stat {
    padding: var(--spacer-layout-07) var(--spacer-layout-156) var(--spacer-layout-05);
  }

  div.stat-wrapper .stat h1 {
    font-size: 128px;
  }
}
