/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* ----colors--- */

  /* primary */
  /* stylelint-disable-next-line color-hex-length */
  --primary-purple: #9900FF; /* Merative figma design spec */
  --primary-red: #FA1E32;

  /* secondary */
  --secondary-blue: #1385E2;
  --secondary-green: #05BC71;
  --secondary-yellow: #FFC036;

  /* gradient */
  --gradient-horizontal-down: linear-gradient(180deg, var(--primary-purple) 0%, var(--primary-red) 100%);
  --gradient-horizontal-up: linear-gradient(180deg, var(--primary-red) 0%, var(--primary-purple) 100%);
  --gradient-diagonal-down: linear-gradient(129.09deg, var(--primary-purple) 14.97%, var(--primary-red) 85.31%);
  --gradient-diagonal-up: linear-gradient(214.42deg, var(--primary-red) 12.94%, var(--primary-purple) 88.28%);;
  --gradient-vertical: linear-gradient(90deg,var(--primary-purple) 0%, var(--primary-red) 100%);

  /* neutrals */
  --neutral-carbon: #20201F;
  --neutral-sand: #E7E2DA;
  --neutral-bone: #FAF8F6;
  --neutral-white: #FFF;

  /* feedback */
  --feedback-green: #059641;
  --feedback-red: #D21313;

  /* ----typography--- */

  /* fonts family */
  --serif-font: "Source Serif Pro Light", serif;
  --sans-serif-font-light: "Alliance No.1 Light", sans-serif; 
  --sans-serif-font-regular: "Alliance No.1 Regular", sans-serif; 
  --sans-serif-font-medium: "Alliance No.1 Medium", sans-serif;   
  
  /* font sizes */
  --font-size-64: 64px;
  --font-size-45: 45px;
  --font-size-36: 36px;
  --font-size-32: 32px;
  --font-size-28: 28px;
  --font-size-24: 24px;
  --font-size-21: 21px;
  --font-size-18: 18px;
  --font-size-16: 16px;

  /* font weight */
  --font-weight-light: light;
  --font-weight-regular: regular;
  --font-weight-medium: medium;

  /* line height */
  --line-height-120: 120%;
  --line-height-160: 160%;

  /* letter spacing */
  --letter-spacing-0: 0;
  --letter-spacing-1: 1%;
  --letter-spacing-1-75 : 1.75%;
  --letter-spacing-20 : 20%;


  /* element spacers */
  --spacer-element-01: 2px;
  --spacer-element-02: 4px;
  --spacer-element-03: 8px;
  --spacer-element-04: 12px;
  --spacer-element-05: 16px;
  --spacer-element-06: 20px;
  --spacer-element-07: 24px;
  --spacer-element-08: 32px;
  --spacer-element-09: 40px;
  --spacer-element-10: 48px;

   /* layout spacers */
  --spacer-layout-01: 16px;
  --spacer-layout-02: 24px;
  --spacer-layout-03: 32px;
  --spacer-layout-04: 48px;
  --spacer-layout-05: 64px;
  --spacer-layout-06: 96px;
  --spacer-layout-07: 160px;

  /* nav height */
  --nav-height: 93px;
  --nav-height-mobile: 93px;
  --nav-height-mobile-section: 93px;
  --sticky-nav-height: 93px;
}

html {
  box-sizing: border-box;
}

html *, html ::before, html ::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding:0;
  border:0;
  font-size: 100%;
  display: none;
}

body.appear {
  display: unset;
}

main{
  background-color: var(--neutral-white);
  padding-top: var(--nav-height);
  margin: auto;
}

/* Mobile */
@media only screen and (width < 576px) {
  main{
    max-width: 328px;
  }
}

@media only screen and (width >= 576px ) {
  /* nothing for now */
}

/* Tablet */
@media only screen and (width >= 768px){
  main{
    max-width: 696px;
  }
}

@media only screen and (width >= 992px){
  main{
    max-width: 928px;
  }
}

/* Tablet & Mobile */
@media only screen and (width < 576px), (width >= 576px), (width >= 768px), (width >= 992px) {
  main {
    padding-top: var(--nav-height-mobile);
  }

  h1, h2, h3  {
    font-family: var(--serif-font);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-1-75);
  }

  h4, h5   {
    font-family: var(--sans-serif-font);
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-1); 
  }

  h1 {
    font-size: var(--font-size-36);
  }
  
  h2 {
    font-size: var(--font-size-32);
  }
  
  h3 {
    font-size: var(--font-size-28);;
  }
  
  h4 {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-medium);
  }
  
  h5 {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
  }
}


/* Desktop */
@media only screen and (width >= 1200px) {
  main{
    max-width: 1128px;
  }

  h1, h2, h3  {
    font-family: var(--serif-font);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-1-75);
  }

  h4, h5   {
    font-family: var(--sans-serif-font);
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-1);
  }

  h1 {
    font-size: var(--font-size-64);
  }
  
  h2 {
    font-size: var(--font-size-45);
  }
  
  h3 {
    font-size: var(--font-size-32);
  }
  
  h4 {
    font-size: var(--font-size-21);
    font-weight: var(--font-weight-medium);
 
  }
  
  h5 {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

/* project specific styles */
p, dl, ol, ul, pre, blockquote {
  margin: var(--spacer-element-05) 0 var(--spacer-element-05);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* stylelint-disable property-no-vendor-prefix */
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button {
  font: inherit;
  text-transform: none;
  overflow: visible;
  margin: 0;
}

/* Back to top button */
main .section.back-to-top {
  display: none;
}

main pre {
  background-color: var(--neutral-sand);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

.section-bottom > div img{
  width : auto;
}


main .section-top-grid > div > div:nth-child(odd) img{
  border-radius :90% 0 0;
}

main .section-top-grid > div > div:nth-child(even) img{
  border-radius :0 90% 0 0;
}

/* Section Top and Bottom */
main .section-top div > h1{
  padding-top: 160px;
}

main .section-bottom .columns-2-cols{
  padding: 130px;
}

main .section-bottom .columns-2-cols h1{
  word-wrap: break-word;
  font-weight: 300;
  font-family: var(--body-font-family);
  -webkit-text-fill-color: transparent;
  background: var(--gradient-diagonal-up);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 128px;
  border-image-slice: 1;
  border-image-source: var(--gradient-diagonal-up);
  border-top: 1px solid #e7e2da;
}

main .section-bottom-grid p picture{
  display: block;
  border-image-slice: 1;
  border-image-source: var(--gradient-diagonal-up);
  border-bottom: 1px solid #e7e2da;
}

main .section-top{
  background-image: linear-gradient(#faf8f6,#fff);
  position: relative;
  z-index: 1;
  padding-top:0;
}

main .section-bottom{
  background-image: linear-gradient(#faf8f6,#fff);
  position: relative;
  z-index: 1;
}

main .section-top::before{
  background-image: url('./top-circle.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}


main .section-bottom::before{
  background-image: linear-gradient(#faf8f6,#fff);
  padding-bottom: 175px;
  position: relative;
  z-index: 1;
}

main .section-bottom::after{
  background-image:url('./bottom-circle.svg');
  background-position: bottom;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* What we do Section */
main .section.what-we-do[data-section-status='loaded'] {
  position: relative;
  display: block;
}

main .section.what-we-do picture {
  display: none;
}

main .section.what-we-do > .default-content-wrapper > h4 {
  font-family: 'Alliance Medium', sans-serif;
  font-size: 14px;
  letter-spacing: 3.2px;
  line-height: var(--line-height-120);
  color: #20201f;
  margin-bottom: 32px;
}   


/* CTA Auto Block Section */
main .section.cta[data-section-status='loaded'] {
  position: relative;
  display: block;
}

main .section.cta {
  background-color: #e7e2da;
  margin: unset;
  text-align: center;
  min-height: 291px;
}

main .section.cta > .default-content-wrapper > * {
  padding-top: 1em;
}

/* CTA Button */
main .section.cta > .default-content-wrapper > .button-container > a {
  position:relative;
  display: inline-block;
  text-decoration: none;
  background: #90f;
  border-radius: 40px;
  cursor: pointer;
  min-height: 62px;
  padding: 25px;
  width: 240px;
  font-family: 'Alliance Medium', sans-serif;
  font-size: 16px;
  letter-spacing: .16px;
  line-height: var(--line-height-120);
  color: #fff;
  text-align: left;
}

main .section.cta > .default-content-wrapper > .button-container > a::before {
  content: '';
  position: absolute;
  right: 10%;
  width: 24px;
  height: 22px;
  background: url('../icons/arrow-white.svg') no-repeat right center;
}

main .section.cta > .default-content-wrapper > .button-container > a:hover {
  background: var(--gradient-diagonal-up);
}

/* Back to top button */
main .section.back-to-top.active[data-section-status='loaded'] {
  position: fixed;
  display: block;
  padding: 0;
  right: 20px;
  bottom: 20px;
  height: 49px;
  width: 49px;
  z-index: 999;
}

main .section.back-to-top.active::before, 
main .section.back-to-top.active::after {
  content: '';
  position: fixed;
  width: 49px;
  height: 49px;
  border: 2px solid #90f;
  border-radius: 50%;
  background-position: 50%;
  transform: rotate(-90deg);
}

main .section.back-to-top.active::after {
  background: url('../icons/right-arrow-purple-large.svg') no-repeat center center;
}

main .section.back-to-top.active:hover::after {
  background: url('../icons/arrow-white.svg') no-repeat center center;
  border: unset;
}

main .section.back-to-top.active:hover::before {
  background: var(--gradient-diagonal-up);
  border: unset;
}

@media (max-width:599px) {
  /* What we do Section */
  
  /* main .section.what-we-do[data-section-status='loaded'] {
    min-height: 1400px;
  }   */
}

@media (min-width: 600px) {
  /* Back to top button */
  main .section.back-to-top.active[data-section-status='loaded'],
  main .section.back-to-top.active::before, 
  main .section.back-to-top.active::after {
    width: 78px;
    height: 78px;
  }

  /* What we do Section */
  main .section.what-we-do[data-section-status='loaded']  {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px 100px;
    min-height: 860px;
  }
  
  main .section.what-we-do > .default-content-wrapper {
    min-height: 730px;
  }
}

