/* stylelint-disable no-descending-specificity */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Fallback fonts */
@font-face {
  font-family: "Source Serif Pro Light Fallback";
  font-style: normal;
  font-weight: 300;
  src: local("Times New Roman");
  ascent-override: 83.34%;
  descent-override: 30.41%;
  line-gap-override: 0.00%;
  size-adjust: 110.19%;
}

@font-face {
  font-family: "Alliance No.1 Light Fallback";
  font-style: normal;
  font-weight: 300;
  src: local("Arial");
  ascent-override: 91.40%;
  descent-override: 21.52%;
  line-gap-override: 0.00%;
  size-adjust: 103.17%;
}

@font-face {
  font-family: "Alliance No.1 Regular Fallback";
  font-style: normal;
  font-weight: 400;
  src: local("Arial");
  ascent-override: 91.76%;
  descent-override: 22.56%;
  line-gap-override: 0.00%;
  size-adjust: 104.62%;
}

@font-face {
  font-family: "Alliance No.1 Medium Fallback";
  font-style: normal;
  font-weight: 500;
  src: local("Arial");
  ascent-override: 92.16%;
  descent-override: 23.56%;
  line-gap-override: 0.00%;
  size-adjust: 105.68%;
}

@font-face {
  font-family: "Alliance No.1 Semibold Fallback";
  font-style: normal;
  font-weight: 500;
  src: local("Arial");
  ascent-override: 92.64%;
  descent-override: 24.87%;
  line-gap-override: 0.00%;
  size-adjust: 106.98%;
}

/* Above the fold fonts */
@font-face{
  font-family: "Source Serif Pro Light";
  font-style: normal;
  font-weight: 300;
  src:url("../styles/fonts/SourceSerif4/SourceSerifPro-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.1 Light";
  font-style: normal;
  font-weight: 300;
  src: url("../styles/fonts/Alliance/AllianceNo.1-Light.woff2") format("woff2");
  font-display: swap;
}

:root {
  /* ----colors--- */

  /* primary */
  /* stylelint-disable-next-line color-hex-length */
  --primary-purple: #9900FF;
  --purple-140: #6400A6;

  /* Merative figma design spec */
  --primary-red: #FA1E32;
  --primary-black: #000;

  /* secondary */
  --secondary-blue: #1385E2;
  --secondary-green: #05BC71;
  --secondary-yellow: #FFC036;

  /* gradient */
  --gradient-horizontal-down: linear-gradient(180deg, var(--primary-purple) 0%, var(--primary-red) 100%);
  --gradient-horizontal-up: linear-gradient(180deg, var(--primary-red) 0%, var(--primary-purple) 100%);
  --gradient-diagonal-down: linear-gradient(129.09deg, var(--primary-purple) 14.97%, var(--primary-red) 85.31%);
  --gradient-diagonal-up: linear-gradient(214.42deg, var(--primary-red) 12.94%, var(--primary-purple) 88.28%);
  --gradient-vertical: linear-gradient(90deg, var(--primary-purple) 0%, var(--primary-red) 100%);
  --gradient-left-right: linear-gradient(270deg, var(--primary-red), var(--primary-purple));

  /* neutrals */
  --neutral-carbon: #20201F;
  --neutral-sand: #E7E2DA;
  --neutral-bone: #FAF8F6;
  --neutral-white: #FFF;
  --neutral-grey-tint100: #B9B5AE;
  --neutral-grey-tint120: #8B8883;

  /* feedback */
  --feedback-green: #059641;
  --feedback-red: #D21313;

  /* ----typography--- */

  /* fonts family */
  --serif-font: "Source Serif Pro Light", "Source Serif Pro Light Fallback";
  --sans-serif-font-light: "Alliance No.1 Light", "Alliance No.1 Light Fallback";
  --sans-serif-font-regular: "Alliance No.1 Regular", "Alliance No.1 Regular Fallback";
  --sans-serif-font-medium: "Alliance No.1 Medium", "Alliance No.1 Medium Fallback";
  --sans-serif-font-semibold: "Alliance No.1 Semibold", "Alliance No.1 Semibold Fallback";

  /* font sizes */
  --font-size-64: 64px;
  --font-size-45: 45px;
  --font-size-36: 36px;
  --font-size-32: 32px;
  --font-size-28: 28px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-21: 21px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-size-11: 11px;

  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* line height */
  --line-height-120: 120%;
  --line-height-160: 160%;

  /* letter spacing */
  --letter-spacing-0: 0;
  --letter-spacing-1: 1%;
  --letter-spacing-1-75: 1.75%;
  --letter-spacing-20: 20%;
  --letter-spacing-001-em: 0.01em;
  --letter-spacing-02-em: 0.2em;


  /* element spacers */
  --spacer-element-01: 2px;
  --spacer-element-02: 4px;
  --spacer-element-03: 8px;
  --spacer-element-04: 12px;
  --spacer-element-05: 16px;
  --spacer-element-06: 20px;
  --spacer-element-07: 24px;
  --spacer-element-08: 32px;
  --spacer-element-09: 40px;
  --spacer-element-10: 48px;

  /* layout spacers */
  --spacer-layout-01: 16px;
  --spacer-layout-02: 24px;
  --spacer-layout-03: 32px;
  --spacer-layout-036: 36px;
  --spacer-layout-04: 48px;
  --spacer-layout-05: 64px;
  --spacer-layout-06: 96px;
  --spacer-layout-07: 160px;
  --spacer-layout-156: 156px;

  /* nav height */
  --nav-height: 93px;
  --nav-height-mobile: 93px;
  --nav-height-mobile-section: 93px;
  --sticky-nav-height: 80px;

  /* section widths */
  --section-width-desktop: 1128px;
  --section-width-mobile: 328px;
  --section-width-tablet-small: 696px;
  --section-width-tablet-large: 928px;
  --text-max-container: 648px;
}

html {
  box-sizing: border-box;
}

html *,
html ::before,
html ::after {
  box-sizing: inherit;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  border: 0;
  font-size: 100%;
  display: none;
  color: var(--neutral-carbon);
  background: var(--neutral-white);
  font-family: var(--sans-serif-font-light);
  -webkit-font-smoothing: antialiased;
}

body.appear {
  display: unset;
}

main {
  padding-top: var(--nav-height-mobile);
  margin: auto;
}

main .section {
  padding: var(--spacer-layout-06) var(--spacer-layout-03);
}

h1,
h2,
h3,
h4,
h5 {
  margin: var(--spacer-layout-04) auto;
}

h4 + h2 {
  margin-top: 0;
}

sup {
  vertical-align: super;
  font-size: small;
}

/* project specific styles */
p,
dl,
ol,
ul,
pre,
blockquote {
  margin: var(--spacer-element-05) 0 var(--spacer-element-05);
}

.article-content-wrapper h1 {
font-size: var(--font-size-32);
max-width: var(--text-max-container);
margin: 16px 0;
}

.article-content-wrapper p + p {
  margin: var(--spacer-element-09) 0 var(--spacer-element-09);
}

.article-content-wrapper p.lede {
  font-size: var(--font-size-18);
  max-width: var(--text-max-container);
}

.article-content-wrapper p.only-picture {
  margin-top: var(--spacer-element-08);
}

/* Article Detail - Publication Info */
.article-content-wrapper .publication-info-wrapper {
  font-size: var(--font-size-16);
  margin-top: var(--spacer-element-08);
  line-height: 160%;
}

.article-content-wrapper .publication-info-wrapper .pipe {
  color: var(--neutral-sand);
  margin: 0 var(--spacer-element-05);
}

/* Article Detail - Divider */
.article-content-wrapper .divider {
  margin: var(--spacer-layout-04) 0;
}

.no-pad.section,
.no-pad.section .default-content-wrapper,
.no-pad.section p {
  margin: 0 auto;
  padding: 0;
}

/* removes extra space around images */
main p.only-picture,
main div.only-picture,
main source {
  line-height: 0;
  font-size: 0;
}

.section > div {
  width: calc(100% - 47px);
  margin: 0 auto;
}

main > .section {
  margin: 0;
  padding: 0;
  width: 100%;
}

.columns-gap-50 > div {
  gap: 50px
}

.column-content-top-border div > div {
  margin-bottom: 32px;
  max-width: 350px;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
    display: none;
}

/* Centered content in section */
.section.center > * {
  margin: 0 auto;
  text-align: center;
}

/* Section Top and Bottom */
.columns.columns-gap-50 > div {
  gap: 50px;
}

.columns.section-bottom-grid > div {
  row-gap: 0;
}

main .section > div:first-child {
  margin: 0 auto;
  padding-top: var(--spacer-layout-06);
}

main .section > div:last-child {
  margin: 0 auto;
  padding-bottom: var(--spacer-layout-06);
}

/* Block Library needs full width */
.section > div.library-config-wrapper {
  width: 100vw;
}

/* eyebrow */
.section > .default-content-wrapper > h4:first-of-type,
.section > .default-content-wrapper code:first-of-type {
  font-size: var(--font-size-11);
  letter-spacing: .2em;
  line-height: var(--line-height-120);
  margin: 0 0 var(--spacer-element-07);
  text-transform: uppercase;
}

.section-top div > h1 {
  margin: var(--spacer-element-08) 0 var(--spacer-element-07);
}

.section.section-top .columns-wrapper {
  padding-bottom: var(--spacer-layout-05);
}

.columns.content-band h1 {
  margin-top: 0;
}

.section .column-content-top-border > div > div h1 {
  font-size: 96px;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 300;
  margin: 0;
}

.section.article-content .article-main-wrapper {
  padding-top: var(--spacer-element-05);
}

.columns.row-header div > div > h2,
.section.section-header > div:nth-child(1) > h1,
.section.section-header > div:nth-child(1) > h2 {
  margin: 24px 0;
}

.section:first-of-type > .default-content-wrapper:first-of-type > h1:first-of-type {
  margin-top: 0;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Image variations */
.section.section-bottom .default-content-wrapper {
  padding-top: var(--spacer-layout-05);
}

.article-content picture img {
  margin: 0;
  border-radius: 10px;
}

.columns.section-bottom-grid > div img {
  width: 54px;
  height: 54px;
  max-width: 54px;
  margin-bottom: var(--spacer-layout-02);
  margin-top: var(--spacer-layout-02);
}

.columns.section-bottom-grid > div:last-of-type *:last-child {
  margin-bottom: var(--spacer-layout-02);
}

.sticky-bottom-image .default-content-wrapper:last-child img {
  vertical-align: bottom
}

.article-content-wrapper .default-content-wrapper:first-child picture img {
  aspect-ratio: 3 / 2; /* stylelint-disable-line */
  object-fit: cover;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.section.margin-top-60,
.section .columns.margin-top-60 {
  margin-top: 60px;
}

.section.margin-top-40,
.section .columns.margin-top-40 {
  margin-top: 40px;
}

.bg-neutral-bone {
  background-color: var(--neutral-bone);
}

.section.notification-section {
  padding-top: 14px;
  padding-bottom: 14px;
}

.section.notification-section > div > p::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 32px;
  margin: -9px 50px -7px 0;
  background-image: var(--gradient-diagonal-down);
}

.section.section-header-right-content > div:nth-child(1) > h2,
.section.section-header-right-content > div:nth-child(1) > h4,
.section.section-header-right-content > div:nth-child(1) code {
  margin: 24px 0;
  width: 100%
}

.sticky-bottom-image .default-content-wrapper:last-child > p {
  margin-bottom: 0;
}

/* Content-band styles, icon-list variation */
.columns.content-band.icon-list > div {
  align-items: start;
  letter-spacing: var(--letter-spacing-001-em);
  margin-bottom: 0;
}

.section.columns-image-content > div:nth-child(3) {
  display: none;
}

.columns.mobile-odd-flex-reverse > div:nth-child(odd) {
  flex-direction: column-reverse;
}

/* Any lists */
main ul,
main ol {
  padding-inline-start: var(--spacer-element-07);
}

main ul li,
main ol li {
  margin: var(--spacer-element-02) 0;
  line-height: 1.6;
}

main ul li::marker,
main ol li::marker {
  color: var(--primary-purple);
  font-family: var(--sans-serif-font-medium);
}

/* Special case lists */
.checked-list li {
  position: relative;
  list-style: none;
  padding-left: 30px;
  line-height: 1.6;
  margin-bottom: 16px;
}

main .list-section ul li {
  padding: 12px 16px;
  background-color: var(--neutral-bone);
  margin-bottom: 16px;
  border-radius: 40px;
  min-width: calc(50% + 1px);
  list-style-type: none;
}

.article-content-wrapper ul,
.article-content-wrapper ol {
  font-size: var(--font-size-16);
  margin: var(--spacer-element-09) 0;
}

.article-content-wrapper h2 {
  font-size: var(--font-size-28);
  margin: 24px 0;
}

/* stylelint-disable property-no-vendor-prefix */
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
  appearance: button;
}

/* Button Styles  */
button {
  font: inherit;
  text-transform: none;
  overflow: visible;
  margin: 0;
}

.button-container {
  position: relative;
  display: block;
  width: fit-content;
}

.button-container a {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: var(--primary-purple);
  font-family: var(--sans-serif-font-medium);
  font-size: var(--font-size-16);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-1);
  text-decoration: none;
}

.button-container a > strong,
.button-container a > em {
  display: contents;
}

.button-container a.primary,
.button-container a.secondary {
  box-sizing: border-box;
  height: 48px;
  border-radius: 40px;
  padding: 11px var(--spacer-element-07);
}

.button-container a.has-icon.primary,
.button-container a.has-icon.secondary {
  padding: 11px var(--spacer-element-05) 11px var(--spacer-element-07);
}

.button-container a.tertiary {
  line-height: var(--spacer-element-06);
  align-items: end;
}

/** Button icons **/
.article-content .icon {
  display: inline-block;
  line-height: 0;
}

.article-content .icon > svg {
  width: 32px;
  height: 32px;
}

.article-content a + .icon > svg {
  width: 20px;
  height: 20px;
}

.button-container a.button span.icon {
  display: inline-block;
  content: '';
  margin-left: var(--spacer-element-07);
  vertical-align: bottom;
}

.button-container a.button span.icon > svg {
  display: block;
  width: 24px;
  height: 24px;
}

.button-container > a.button.tertiary span.icon {
  margin-left: var(--spacer-element-02);
}

.button-container > a.button.tertiary span.icon > svg {
  width: 20px;
  height: 20px;
}

a.button span.icon.external {
  transform: rotate(-45deg);
}

a.button span.icon.bookmark {
  transform: rotate(90deg);
}

/* Primary Button */
.button-container a.button.primary {
  background: var(--primary-purple);
  color: var(--neutral-white);
}

.button-container a.button.primary strong {
  font-weight: 500;
}

/* Secondary Button */
.button-container a.button.secondary {
  border: 2px solid var(--primary-purple);
  font-weight: 500;
  font-style: normal;
}

.button-container a.button.secondary em {
  font-style: normal;
}

.button-container a.button.secondary.has-icon::after,
.button-container a.button.primary.has-icon::after {
  background-color: var(--primary-purple);
}

.button-container a.button.primary:hover,
.button-container a.button.primary:active {
  background: var(--gradient-left-right);
}

.button-container a.button.secondary:hover,
.button-container a.button.secondary:active {
  border: none;
  background: var(--gradient-left-right);
  color: var(--neutral-white);
  padding: 13px 26px;
  }

/* Tertiary (Link) Button */
.button-container > a.tertiary:not(.has-icon) {
  display: inline-block;
  border-bottom: 2px solid var(--primary-purple);
  height: 20px;
}

.button-container > a.tertiary.has-icon::before {
  content: '';
  position: absolute;
  width: calc(100% - 24px);
  border-bottom: 2px solid var(--primary-purple);
}

.button-container > a.tertiary:active,
.button-container > a.tertiary:hover {
  background: var(--gradient-left-right);
  background-clip: text;
  -webkit-background-clip: text;
  /* stylelint-disable-line */
  -webkit-text-fill-color: transparent;
  color: transparent;
  border-image-slice: 1;
  border-image-source: var(--gradient-left-right);
}

.button-container > a.tertiary:active::before,
.button-container > a.tertiary:hover::before {
  border-image-slice: 1;
  border-image-source: var(--gradient-left-right);
}

.button-container > a.tertiary span.icon svg * {
  stroke: var(--primary-purple);
}

.button-container > a.tertiary:hover span.icon svg * {
  stroke: var(--primary-red);
}

.button-container a.button.primary span.icon svg * {
  stroke: var(--neutral-white);
}

.button-container a.button.secondary span.icon svg * {
  stroke: var(--primary-purple);
}

.button-container a.button.secondary:hover span.icon svg *,
.button-container a.button.secondary:active span.icon svg * {
  stroke: var(--neutral-white);
}

/* Paragraph link styles */
main h2 a:not(.button):any-link,
main p a:not(.button):any-link,
main ul a:not(.button):any-link {
  text-decoration: none;
  color: var(--primary-purple);
  border-bottom: 1px solid var(--primary-purple);
}

main h2 a:not(.button):any-link {
  border-bottom: none;
}

main h2 a:not(.button):hover,
main p a:not(.button):hover,
main ul a:not(.button):hover,
main h2 a:not(.button):active,
main p a:not(.button):active,
main ul a:not(.button):active {
  background: var(--gradient-left-right);
  background-clip: text;
  -webkit-background-clip: text;
  /* stylelint-disable-line */
  -webkit-text-fill-color: transparent;
  color: transparent;
  border-image-slice: 1;
  border-image-source: var(--gradient-left-right);
}

.section > div:last-child > *:last-child,
.section > div:last-child > *:last-child > *:last-child { /* no bottom margin on whatever the last thing + 1 inner is */
  margin-bottom: 0;
  padding-bottom: 0;
}

.section > div:first-child > *:first-child,
.section > div:first-child > *:first-child > *:first-child { /* no top margin on whatever comes next + 1 inner */
  margin-top: 0;
  padding-top: 0;
}

.article-content-wrapper .default-content-wrapper p.button-container > a {
  text-decoration: none;
  margin-bottom: var(--spacer-layout-03);
}

.article-content-wrapper {
  max-width: 744px;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  letter-spacing: 0.01em;
  margin-top: var(--spacer-layout-03);
}

/* Article Detail - Video Player */
.article-content-wrapper .video-wrapper {
  margin: var(--spacer-layout-04) 0;
}

.article-content-wrapper .video-wrapper picture img {
  margin: 0;
}

/* Back to top button */
.section.back-to-top {
  display: none;
}

main pre {
  background-color: var(--neutral-sand);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

.section-gradient {
  background-image: linear-gradient(var(--neutral-white), var(--neutral-bone));
}

.section-bone {
  background: var(--neutral-bone);
}

/* What we do Section */

.section .columns.column-content-top-border > div > div p {
  margin-top: 0;
  letter-spacing: .01em;
  line-height: 160%;
  font-weight: bold;
}

/* Back to top button */
.section.back-to-top.active[data-section-status='loaded'] {
  position: fixed;
  display: block;
  padding: 0;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  height: 49px;
  width: 49px;
}

.section.back-to-top.active::before,
.section.back-to-top.active::after {
  content: '';
  position: fixed;
  border: 2px solid #90f;
  border-radius: 50%;
  background-position: 50%;
  transform: rotate(-90deg);
  width: 49px;
  height: 49px;
  background-color: var(--neutral-white);
}

.section.back-to-top.active::after {
  background: url('../icons/right-arrow-purple-large.svg') no-repeat center center;
}

.section.back-to-top.active:hover::after {
  background: url('../icons/arrow-white.svg') no-repeat center center;
  border: unset;
}

.section.back-to-top.active:hover::before {
  background: var(--gradient-diagonal-up);
  border: unset;
}

/* blog article */
.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--neutral-sand);
  margin: var(--spacer-layout-05) 0;
}

.divider.layout {
  background-image: var(--gradient-vertical);
  border: none;
}

.no-pad .divider.layout {
  margin: 0;
}

.section .columns.row-header div > div > h2,
.section .columns.row-header div > div > h4,
.section .columns.row-header div > div code {
  margin-left: 0;
  max-width: 100%;
}

.section .columns.row-header div > div > h4,
.section .columns.row-header div > div code,
.section.section-header > div:nth-child(1) > p:first-child {
  font-family: var(--sans-serif-font-medium);
  font-size: var(--font-size-11);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-02-em);
  line-height: var(--line-height-120);
  max-width: 60%;
}

/* Leadership Sections */
.section.leadership-content .columns > div > div:not(:empty) {
  margin: 0 0 80px;
}

.section.leadership-content {
  background: var(--neutral-white);
}

.section.leadership-content h3 {
  margin: var(--spacer-element-08) auto var(--spacer-element-05) auto;
}

.two-columns-section {
  padding-top: 60px;
}

.section.leadership-content .columns > div > div > h6 {
  font-family: var(--sans-serif-font-regular);
  font-style: normal;
  font-size: var(--font-size-11);
  font-weight: 500;
  line-height: var(--line-height-120);
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sticky-bottom-image {
  padding-bottom: 0;
}

.border-bottom-gradient::after {
  content: "";
  z-index: 1;
  background-image: var(--gradient-left-right);
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 60px;
}

.bottom-sand-gradient {
  background-image: linear-gradient(180deg, var(--neutral-white) 23.78%, var(--neutral-bone));
  border-bottom: 1px solid var(--neutral-sand);
}

.list-section ul {
  flex-flow: row wrap;
  margin: 50px 10px;
}

.list-section li::before {
  background: url('images/CheckBullet.svg') no-repeat;
  border-radius: 50px;
  content: "";
  display: inline-block;
  height: 24px;
  line-height: 1.6;
  list-style: none;
  position: relative;
  vertical-align: middle;
  width: 24px;
  margin-right: 19px;
}

.section .bg-purple,
.section.bg-purple {
  background-color: var(--primary-purple);
  color: var(--neutral-white);
}

.section.bg-purple .button-container > strong > a.button.primary {
  border: solid 2px;
}

.section .font-neutral-white,
.section.font-neutral-white {
  color: var(--neutral-white);
}

.section.bg-white,
.section .bg-white {
  background: var(--neutral-white);
  color: var(--primary-black);
}

.checked-list li::before {
  background: var(--neutral-bone) url('images/CheckBulletPurple.svg') no-repeat;
  border-radius: 50px;
  content: "";
  height: 24px;
  top: 1px;
  left: 0;
  width: 24px;
  line-height: 1.6;
  position: absolute;
  vertical-align: middle;
  display: inline-block;
}

.section.arrow-list ul {
  padding-left: 0;
  list-style-position: inside;
}

.section.arrow-list li {
  list-style: none;
  padding-bottom: var(--spacer-element-03);
}

.section.arrow-list li::before {
  background: url('../icons/right-arrow-purple-small.svg') no-repeat;
  content: "";
  display: inline-block;
  height: 9.3px;
  position: relative;
  vertical-align: middle;
  width: 12px;
  margin-right: 10.7px;
  text-align: center;
}

.border-top-neutral-sand {
  border-top: 1px solid var(--neutral-sand);
}

.border-bottom-neutral-sand {
  border-bottom: 1px solid var(--neutral-sand);
}

.section.section-bottom-image > .default-content-wrapper:last-child > p:last-child {
  text-align: right;
  margin-top: 40px;
}

.section.section-bottom-image > .default-content-wrapper:last-child > p:last-child image {
  display: inline-block;
}

.section.bg-neutral-carbon,
.section .bg-neutral-carbon {
  background: var(--neutral-carbon);
  color: var(--neutral-white);
}

.columns.column-content-top-border {
  padding-top: 64px;
}

.column-content-top-border .button-container > a.primary {
  color: var(--neutral-white);
  border-bottom: 2px solid var(--neutral-white);
}

.column-content-top-border > div > div::before {
  background-image: var(--gradient-left-right);
  display: block;
  content: " ";
  height: 1px;
}

/* Video modal */
.section .video-modal {
  display: none;
  position: relative;
  z-index: 99999;
}

.section .video-modal.open {
  display: block;
}

.section .video-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--neutral-bone);
  opacity: .8;
  z-index: 0;
}

.section .video-modal-container {
  display: block;
  top: 30%;
  left: 50%;
  width: auto;
  overflow: auto;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.section .video-modal-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}

.section .video-modal-close {
  width: 40px;
  height: 40px;
  background: url('../icons/close-button.svg') no-repeat;
  border: 0;
  cursor: pointer;
  margin-bottom: 1rem;
}

.section .video-modal-content {
  height: auto;
  width: auto;
}

.section .video-modal-content iframe,
.section .video-modal-content video {
  border-radius: 6px;
  width: 328px;
  height: 184px;
  border: none;
}

.section .video-modal-content video {
  object-fit: cover;
}

/* News section background */
.section.news {
  background-color: var(--neutral-bone);
}

/* All except mobile */
@media only screen and (min-width: 768px) {
  main {
    padding-top: var(--nav-height-mobile)
  }

  main .section.section-header > div:nth-child(1) > p {
    max-width: 60%;
  }

  /* Back to top button */
  main .section.back-to-top.active[data-section-status='loaded'] {
    height: 54px;
    width: 54px;
  }

  main .section.back-to-top.active::before,
  main .section.back-to-top.active::after {
    width: 54px;
    height: 54px;
  }

  main .desktop-reverse > div {
    flex-flow: row-reverse;
  }

  main .list-section ul li {
    display: table;
    min-width: inherit;
  }

  main .section > div {
    width: var(--section-width-tablet-small);
    margin: 0 auto;
  }

  .columns.column-content-top-border div {
    justify-content: space-between;
    align-items: start;
    column-gap: var(--spacer-layout-02);
  }

  .divider {
    margin: var(--spacer-layout-06) 0;
  }

  /* Content-band tablet styles */
  .content-band.columns > div {
    flex-direction: unset;
    column-gap: var(--spacer-layout-02);
  }

  .content-band.columns > div > div {
    flex: 1;
    margin-left: 0;
  }

  .content-band.icon-list {
    font-size: var(--font-size-18);
  }

  .section.leadership-content .columns > div {
    align-items: normal;
    flex-direction: unset;
    gap: var(--spacer-layout-02);
  }

  .content-band.columns > div > div:first-of-type {
    margin-left: unset;
  }

  .columns.row-header div > div > h2,
  .section.section-header > div:nth-child(1) > h2 {
    max-width: 60%;
  }

  .section.section-header > div:nth-child(1) > h2 {
    max-width: 60%;
  }

  .section.section-header > div:nth-child(1) > h1 {
    max-width: 70%;
  }

  .section.leadership-content .columns > div > div {
    flex: 1;
  }

  .section.leadership-content .columns > div > div:first-of-type {
    margin-left: unset;
  }

  .section .video-modal-container {
    top: 50%;
  }

  .section .video-modal-content iframe,
  .section .video-modal-content video {
    border-radius: 20px;
    width: 630px;
    height: 354px;
  }

}

/* All except desktop */
@media only screen and (max-width: 1200px) {
  h1,
  h2,
  h3 {
    font-family: var(--serif-font);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-1-75);
  }

  h4,
  code,
  h5 {
    font-family: var(--sans-serif-font-regular);
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-1);
  }

  h1 {
    font-size: var(--font-size-36);
  }

  h2 {
    font-size: var(--font-size-32);
    font-family: var(--serif-font);
  }

  h3 {
    font-size: var(--font-size-28);
  }

  h4, code {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-medium);
  }

  h5 {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
  }

  p,
  .columns > div > div,
  .section-top-grid > div:nth-child(1) > div:nth-child(1),
  .article-content-wrapper ul {
    font-family: var(--sans-serif-font-light);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-1);
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  h1,
  h2,
  h3 {
    font-family: var(--serif-font);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-1-75);
  }

  h4, 
  code,
  h5 {
    font-family: var(--sans-serif-font-regular);
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-1);
  }

  h1 {
    font-size: var(--font-size-64);
  }

  h2 {
    font-size: var(--font-size-45);
  }

  h3 {
    font-size: var(--font-size-32);
  }

  h4, code {
    font-size: var(--font-size-21);
    font-weight: var(--font-weight-medium);
  }

  h5 {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
  }

  p {
    font-family: var(--sans-serif-font-light);
    font-size: var(--font-size-21);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-1);
  }

  main {
    padding-top: calc(var(--nav-height) + 37px);
  }

  main .section > div {
    width: var(--section-width-desktop);
    margin: 0 auto;
  }

  .tags {
    margin-bottom: 48px;
  }

  /* Back to top button */
  main .section.back-to-top.active[data-section-status='loaded'] {
    height: 78px;
    width: 78px;
  }

  main .section.back-to-top.active::before,
  main .section.back-to-top.active::after {
    width: 78px;
    height: 78px;
  }

  main .section.leadership-content .columns > div > div > h6 {
    font-size: var(--font-size-14);
  }

  .divider {
    margin: var(--spacer-layout-07) 0;
  }

  /* Article Detail */
  .article-content-wrapper .video-wrapper {
    margin: var(--spacer-layout-05) 0;
  }

  .article-content-wrapper .divider {
    margin: var(--spacer-layout-06) 0;
  }

  .article-content-wrapper p.lede {
    font-size: var(--font-size-24);
  }

  .article-content-wrapper p + p {
    margin: var(--spacer-element-10) 0 var(--spacer-element-10);
  }

  .article-content-wrapper h1 {
    font-size: var(--font-size-45);
    margin-top: 0;
    margin-bottom: 16px;
  }

  .article-content-wrapper h2 {
    font-size: var(--font-size-32);
    margin: 48px 0;
  }

  .article-content-wrapper ul,
  .article-content-wrapper ol {
    font-size: var(--font-size-21);
    margin: var(--spacer-element-09) 0;
  }

  .article-content {
    padding-bottom: 160px;
  }

  .section.article-content .article-main-wrapper {
    padding-top: 0;
  }

  .flex-60-40 > div:first-child {
    width: 60%;
  }

  .flex-60-40 > div:last-child {
    width: 40%;
  }

  .mobile-odd-flex-reverse > div:nth-child(odd) {
    flex-direction: column;
  }

  /* Content-band desktop styles */
  .content-band.icon-list h4,
  .content-band.icon-list code {
    font-size: var(--font-size-21);
  }

  .content-band.columns > div {
    column-gap: var(--spacer-layout-05);
  }

  .section > .default-content-wrapper > h4:first-of-type,
  .section > .default-content-wrapper code:first-of-type {
    font-size: var(--font-size-14);
    margin: 0 0 var(--spacer-element-08);
  }

  .columns-image-content > div:nth-child(1) {
    grid-area: top-right;
    width: auto;
  }

  .columns-image-content > div:nth-child(2) {
    grid-area: bottom-right;
    width: auto;
  }

  .flex-40-60 > div:last-child,
  .flex-60-40 > div:first-child {
    width: 60%;
  }

  .flex-40-60 > div:first-child,
  .flex-60-40 > div:last-child {
    width: 40%;
  }

  .section.section-top .columns-wrapper {
    padding-bottom: 0;
  }

  .section-bottom .columns-2-cols > div {
    gap: 120px;
  }

  main .section > div:first-child {
    padding-top: var(--spacer-layout-07);
  }

  main .section > div:last-child {
    padding-bottom: var(--spacer-layout-07);
  }

  main .section > div.blog-home-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    }

  .section.leadership-content .columns-wrapper {
    padding-bottom: 80px;
  }

  .section.section-header-right-content > div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .columns.mobile-odd-flex-reverse > div:nth-child(odd) {
    flex-direction: inherit;
  }

  .section.columns-image-content > div:nth-child(3) {
    grid-area: left;
    display: block;
    width: auto;
    margin-right: 70px;
  }

  .sticky-bottom-image .default-content-wrapper:last-child > p {
    display: inline-block;
    max-width: 1128px;
  }

  .list-section::after {
    content: '';
    display: block;
    clear: both;
  }

  .list-section ul {
    margin-top: 0;
    float: right;
  }

  .list-section ul > li {
    display: block;
    font-size: 21px;
  }

  .section.section-header-right-content > div:nth-child(1) > p {
    flex: 1 1 28%;
  }

  .list-section .default-content-wrapper:first-child > h2,
  div.section.list-section > div > p:nth-child(3) {
    display: inline-block;
    vertical-align: top;
  }

  .section .video-modal-content iframe,
  .section .video-modal-content video {
    width: 1033px;
    height: 581px;
  }

  .flex-60-40,
  .flex-40-60 {
    display: flex;
  }

  .section.section-header-right-content > div:nth-child(1) > h2 {
    flex: 1 1 720px;
    margin-top: var(--spacer-element-04);
    margin-right: var(--spacer-layout-05);
  }

  .flex-40-60 {
    max-width: calc(var(--section-width-desktop));
    box-sizing: initial;
    margin-left: auto;
    margin-right: auto;
  }

  .columns-image-content {
    display: grid;
    justify-content: center;
    grid-template: "left top-right"
                   "left bottom-right"
                   "left bottom-right" auto / 300px calc(var(--section-width-desktop) - 300px);
  }

  .section.flex-60-40.section-header > div:nth-child(1) > p {
    max-width: 100%;
  }

  .section.flex-60-40 {
    display: flex;
    width: var(--section-width-desktop);
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    gap: 50px;
  }

  .scroll-border-text {
    font-family: var(--sans-serif-font-medium);
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.2em;
  }

  .section-bottom .columns-2-cols > div > :nth-child(2) p:nth-of-type(2),
  .section-bottom .columns-2-cols > div > :nth-child(2) p:nth-of-type(3) {
    font-size: 16px;
    letter-spacing: 0.01em;
  }
}
