
/* Mobile styles and defaults */
.related-resources-container {
    background: var(--neutral-white);
    color: var(--neutral-carbon);
}

.related-resources-container.highlight {
    background: #7E00D3;
    color: var(--neutral-white);
}

.related-resources-container .default-content-wrapper h5,
.related-resources-container .related-resources .document-category,
.related-resources-container .related-resources .document-category code {
    font-family: var(--sans-serif-font-regular);
    font-weight: 500;
    font-size: var(--font-size-14);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-02-em);
    text-transform: uppercase;
    margin: unset;
}

.related-resources-container[data-section-status="loaded"] .related-resources[data-block-status="loaded"] {
    display: flex;
    flex-direction: row;
    gap: 24px;
    overflow-x: auto;
    padding-bottom: var(--spacer-element-03);
    letter-spacing: var(--letter-spacing-001-em);
    margin-top: var(--spacer-layout-04);
}

.related-resources[data-block-status="loaded"] > .document-card {
    position: relative;
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    background: var(--neutral-bone);
    border-radius: 10px;
    padding: 48px 24px 24px;
    gap: 24px;
}

.related-resources-container.highlight .related-resources[data-block-status="loaded"] > .document-card {
    background: #6400A6;
}

.related-resources .document-card .document-category,
.related-resources .document-card .document-category code,
.related-resources .document-card h3 {
    margin: unset;
}

.related-resources .document-card .document-category,
.related-resources .document-card .document-category code {
    font-size: var(--font-size-11);
}

.related-resources .document-card h3 {
    font-size: 28px;
}

/* stylelint-disable value-no-vendor-prefix */
.related-resources .document-card p {
    font-size: var(--font-size-16);
    line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.related-resources > div:hover {
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 4px 4px 2px rgb(0 0 0 / 15%);
    transition: all .4s ease-in-out;
}

.related-resources .document-card a {
    color: inherit;
    text-decoration: none;
}

.related-resources .document-link-container {
    height: 54px;
    min-height: 54px;
}

.related-resources a.document-link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 24px;
    right: 24px;
    width: 54px;
    height: 54px;
    border: 2px solid var(--primary-purple);
    border-radius: 50%;
    background-image: var(--gradient-to-right-white);
    background-position: 0 0;
    background-size: 200% auto;
    transition: all .4s ease-in-out;
}

.related-resources a.document-link span.icon > svg {
    display: block;
    width: 24px;
    height: 24px;
}

.related-resources a.document-link span.icon svg * {
    stroke: var(--primary-purple);
}

.related-resources a.document-link span.icon.video svg * {
    stroke: none;
    fill: var(--primary-purple);
}

.related-resources-container.highlight .related-resources a.document-link span.icon svg *,
.related-resources .document-card:hover a.document-link span.icon svg * {
    stroke: var(--neutral-white);
}

.related-resources-container.highlight .related-resources a.document-link span.icon.video svg *,
.related-resources .document-card:hover a.document-link span.icon.video svg * {
    stroke: none;
    fill: var(--neutral-white);
}

.related-resources-container.highlight .related-resources a.document-link {
    border: 2px solid var(--neutral-white);
}

.related-resources .document-card:hover a.document-link,
.related-resources-container.highlight .related-resources .document-card:hover a.document-link {
    border: 2px solid transparent;
    background-image: var(--gradient-to-right);
    background-position: 96% 0;
}

/* Mobile and Tablet hide scrollbar */
@media only screen and (max-width: 1199px) {
    .related-resources-container[data-section-status="loaded"] .related-resources[data-block-status="loaded"] {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    .related-resources-container[data-section-status="loaded"] .related-resources[data-block-status="loaded"]::-webkit-scrollbar {
        display: none;
    }
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
    .related-resources[data-block-status="loaded"] > .document-card {
        flex: 0 0 45%;
    }

    /* Gap is 24px within the card except for the gap between
     * title and desc where it is 16px */
    .related-resources .document-card > p {
        margin-top: -8px;
    }
}

/* Desktop styles */
@media only screen and (min-width: 1200px) {
    .related-resources-container .default-content-wrapper h2 {
        font-size: 45px;
    }

    .related-resources-container .default-content-wrapper > h2,
    .related-resources-container .default-content-wrapper > p {
        max-width: 720px;
        margin-left: 0;
        }

    .related-resources-container[data-section-status="loaded"] .related-resources[data-block-status="loaded"] {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--spacer-element-10) var(--spacer-element-07);
        margin-right: -15px;
    }

    .related-resources-container[data-section-status="loaded"] .scroll.related-resources[data-block-status="loaded"] {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap: 24px;
        padding-bottom: var(--spacer-element-07);
        letter-spacing: var(--letter-spacing-001-em);
        margin-top: var(--spacer-layout-04);
    }

   .related-resources[data-block-status="loaded"] > .document-card {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 360px;
        height: 100%;
        padding: 48px 24px 24px;
        gap: 24px;
    }

    .related-resources .document-card .document-category,
    .related-resources .document-card .document-category code {
        font-size: var(--font-size-14);
    }

    .related-resources .document-card h3 {
        font-size: var(--font-size-32);
        padding-bottom: var(--spacer-element-08);
    }
}
